[2015-01-12 20:20] phet-steele opened #1 "Overlapping Projectile Images"
It's possible to cause multiple images to overlap at once by changing the projectile after firing.
As an example:
1. Click the slo-mo option (not required, just makes this easier).
2. Choose the Buick projectile and fire it.
3. In mid flight, change the type of projectile to the adult man and press fire again.
You can repeat step 3 for as many objects as you like and the images will continue to ov

[2015-01-16 19:36] phet-steele opened #2 "Normal is spelled "Nomal""
![nomal](https://cloud.githubusercontent.com/assets/5863899/5782955/26683078-9d7c-11e4-9d32-3983e950e632.png)

[2015-01-16 20:06] phet-steele opened #3 "Words Occasionally Flash After Loading"
More often than not, "Score!", "Collision!", "Slow-Mo", and "Paused" flash on the screen when the sim is loaded or refreshed.

![projmoti](https://cloud.githubusercontent.com/assets/5863899/5783379/9fe5d5a6-9d7f-11e4-8d69-e198152b861d.gif)

Seen on Win 8.1 browsers and Chromebook
Version: 2.03.14 (72977)
Build Date: May 14, 2013
Flash Version: WIN 16,0,0,257
OS: Windows 8.1

[2015-01-16 20:20] phet-steele opened #4 "Cannon Platform can Detach"
If the cannon is dragged to change the height, and the mouse goes out of the sim boundaries before releasing the cannon, the cannon's platform will jump to the height of the mouse leaving the raised cylinder behind. Also notice in the video how the platform can slightly detach during the parts when it's being dragged quicker.

![projmoti2](https://cloud.githubusercontent.com/assets/5863899/5783657

[2015-05-15 22:41] pixelzoom opened #5 "why is projectile-motion in active-repos?"
This sim is in chipper/data/active-repos, but not in active-sims. As of 03799e85e83e528e1f2f7ae66e7d2e900fb48ce1, it will not run in development mode and will not build.

Here's the console output in development mode:

![screenshot_521](https://cloud.githubusercontent.com/assets/3046552/7663001/f94123f4-fb20-11e4-8dc8-84fc4b4132b4.png)

Here's the output of `grunt`:

[code]

[2015-05-21 18:50] samreid commented on #5
This repo was created by @jbphet in early 2015.  I'll assign it to @jbphet to find out what is happening here.

[2015-08-07 20:44] jbphet commented on #5
This sim now has the basic infrastructure set up, builds, and is listed in active sims.  Closing.

[2015-08-07 20:44] #5 closed

[2015-08-18 21:44] oliver-phet opened #6 "User suggestion: add a tool to record range, height, and time"
Awesome website.  I got my PhD from JILA, btw.  Long time ago.  I made a small contribution to your efforts.
I am trying to get Altitude and Range vs. Time from your simulator.  It is not obvious how to pull that out of the tool, and maybe isn’t available.

[2015-08-19 16:22] amanda-phet commented on #6
This is definitely part of the redesign!

Right now, the only way to determine this information at a given point is to pause the projectile at that point. We are planning to make a tool that allows you to view this at any point even after the projectile has landed.

[2015-09-21 19:25] samreid opened #7 "How is drag implemented?"
I received a question from a Physics teacher asking about how the drag is implemented (for the flash version):

I'm having trouble reading the FLA file for the original flash code.  @ariel-phet @phetsims/dubson  @pixelzoom @jonathanolson @jbphet can you help out here?

[2015-09-21 19:42] pixelzoom commented on #7
Sorry, can't help you. This is one of those Flash sims where the ActionScript isn't factored out into .as files.  So you'll need to poke around in the Flash IDE to find where the relevant code is attached. Probably best to ask @dubson.

[2015-09-22 04:52] jonathanolson commented on #7
B: combination of drag parameters, seems to be (0.5 * dragC * area * rho / mass)
this.v: speed
dt: how much time has elapsed
this.vX: horizontal component of velocity
this.vY: vertical component of velocity
this.x: horizontal position
this.y: vertical position

[code]

I didn't see anything immediately wrong, seems like constant acceleration per timestep proportional to v^2.

[2016-07-12 17:26] andrea-phet opened #8 "branch: playing"
A new branch was created for projectile-motion called playing. This is so that I can test out some initial, experimental code for projectile motion. Will merge and/or delete when the time is right.

[2016-07-14 18:02] samreid opened #9 "Find the flash source code"
@ariel-phet asked me if I could track down the flash source code for the physics.

I don't even know if I have Flash, but I said I would take a look.

[2016-07-14 21:10] andrea-phet commented on #8
This branch has been merged and deleted.

[2016-07-14 21:14] #8 closed

[2016-07-14 23:35] samreid commented on #9
I do not have flash installed on my Windows machine or my Mac, and the Far Manager recommended here was unable to open the file:
http://stackoverflow.com/questions/5562295/extracting-actionscript-from-fla-file-without-adobe-flash

[2016-07-14 23:58] samreid commented on #9
I installed Flash 8 on my Windows machine, and when trying to open the fla file, it reported: "Unexpected file format".

@pixelzoom what version of Flash are you using?

[2016-07-15 02:25] pixelzoom commented on #9
Flash CS4 Professional Version 10.0.2

[2016-07-15 03:23] samreid commented on #9
I tried using the credentials specified in our Unfuddle "Flash Pro 10 (licensed through Univ of Colorado, Dec 2009):" page, but it said the password was not accepted.  When I logged in to Adobe's site as myself, it listed Illustrator and Photoshop but not Flash CS4.

@oliver-phet can you investigate the credentials at https://phet.unfuddle.com/a#/projects/9404/notebooks/7650/pages/105226 and see i

[2016-07-15 03:52] samreid commented on #9
I may be able to use this download link together with the keys in unfuddle:
https://helpx.adobe.com/creative-suite/kb/cs4-product-downloads.html

[2016-07-15 04:23] samreid commented on #9
After downloading the above version and using the Unfuddle, key, I am now the proud owner of Flash CS4.  Here's the code (found by pressing Window => Actions).  Reassigned to @ariel-phet and @andrea-phet to use this code for developing/cross-checking the new model.

[code]

[2016-07-15 05:15] ariel-phet commented on #9
@andrea-phet this code suggests that in the published version the drag equation is correct with the factor of 0.5
[code]

The 1.6 for air density still seems a bit odd...

[2016-07-15 05:15] ariel-phet commented on #9
And thanks @samreid!! :clap: :clap: :clap:

[2016-07-15 14:39] andrea-phet commented on #9
Thanks so much @samreid and @ariel-phet

[2016-07-19 17:18] phet-steele opened #11 "Automated Testing Sim Error (7/19/2016 10:09 AM)"
[code]

[2016-07-21 19:05] andrea-phet commented on #11
I ran fuzzMouse for a long time and didn't see an error. @phet-steele did you have http://localhost:8080/projectile-motion/projectile-motion_en.html?ea&fuzzMouse as your url?

[2016-07-21 23:41] andrea-phet commented on #11
Never mind, I just saw it.

[2016-08-29 19:34] pixelzoom opened #12 "adjust touchArea options for HSlider thumb"
In https://github.com/phetsims/sun/issues/254, the touchArea defaults for HSlider thumb were changed so that they default to pixels, not a percentage of the thumb size.  Sims that use HSlider's `thumbSize` option will therefore need to also specify `thumbTouchAreaXDilation` and `thumbTouchAreaYDilation`.

[2016-08-30 03:35] #12 closed

[2016-08-30 03:59] andrea-phet opened #13 "Double string test results in call stack error"
Setting query parameter stringTest=double results in this error in the console:

Otherwise, however, nothing crashes and everything in the sim looks as expected.

[2016-09-02 04:06] andrea-phet commented on #13
After investigation, I found out that the problem exists in creating the icon for the tracer. Commenting out these four lines in TracerNode.js fixes the error:
[code]
Perhaps because these involve the bounds of the rectangle? Since I haven't finished internationalization of the tracer node yet, I'll do that and see if the problem still persists.

[2016-09-02 04:08] andrea-phet commented on #13
In case this happens elsewhere, @jbphet and I discussed a while ago that there may be an infinite recursion somewhere, due to the internationalized string having a pattern. So it may involve the double string test doubling the pattern as well as the strings given to the pattern.

[2016-09-03 20:06] andrea-phet opened #14 "Slow performance for firing same projectiles"
The projectile moves too slowly and it looks glitchy when too many of the same projectiles are fired. This is probably because there are many Circle nodes being created. Only tested on windows chrome, but it probably happens on other devices.

[2016-09-03 20:27] #13 closed

[2016-09-16 15:24] samreid opened #15 "Use `this` where appropriate"
It would be better to use `this` instead of `self` where possible to make the code clearer.  For instance:

[code]

[2016-09-26 19:16] oliver-phet opened #16 "User question: terminal velocity"
User question received Sep 25, 2016:

[2016-09-26 19:20] ariel-phet commented on #16
Terminal velocity is a natural consequence of the model used, so yes, with air resistance on and the right conditions, object will have a terminal velocity

[2016-09-26 19:24] oliver-phet commented on #16
Do we know if it is possible in the sim for a projectile to reach terminal velocity? I'm guessing this user would like to use the sim to demonstrate.

[2016-09-26 19:31] ariel-phet commented on #16
Here is an example that shows terminal velocity (lots of other combos would do it, but here is an exaggerated one) Notice that the marks on the path (which happen every 1 second) are evenly spaced.

![capture](https://cloud.githubusercontent.com/assets/4051174/18848835/76ade4b6-83ed-11e6-930a-8b9e12de3fec.PNG)

[2016-09-26 19:37] #16 closed

[2016-12-05 22:22] ariel-phet opened #17 "Original sim does not include enough precision in time measurement"
If the cannon is fired at 0 degrees, the range does not jive with the initial speed and time (for 0 degrees and no air resistance the range should just be `initialSpeed*time`

For instance, at an angle of 0 degrees, no air resistance and an initial speed of 20 m/s, the time will read 0.5 seconds and the range will read 9.9 meters.

[2016-12-06 23:10] pixelzoom opened #18 "convert from PropertySet to Property"
PropertySet is deprecated and should be replaced by Property, see phetsims/axon#102. Since this sim hasn't been published yet, this should be done before RC testing and publishing.

[2016-12-13 18:36] phet-steele opened #19 "Automated Testing Lint Error (12/13/2016 10:00 AM)"
[code]

[2016-12-15 02:01] #19 closed

[2017-03-17 06:19] jonathanolson commented on #11
Just reproduced a possibly-related error:
[code]

[2017-03-21 17:12] Denz1994 opened #20 "Revised approach to event forwarding, without searching for ScreenView"
Events in the toolbox require a coordinate transformation from the toolbox's frame of reference to the screen view's frame of reference. Using the measuring tape node's and tracer node's parent (which is the screen view), we can avoid searching for the screen view.

A solution may involve something like this:

[code]

This removes the redundancy of having to search for the screen view  for every c

[2017-04-17 22:23] ariel-phet opened #21 "Projectile Motion Master Checklist"
## Design
- [x] **Sim folder and design doc created** (Date: 01/05/2015)
  - [x] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [x] Place design doc in the sim folder
- [x] **Legacy sim docs/info gathered**
  - [x] Sim suggestions doc reviewed
  - [x] Unfuddle tickets reviewed
- [x] **Learning goals and

[2017-04-18 18:09] pixelzoom opened #22 "high-level review"
@ariel-phet asked me to do a high-level review of Projectile Motion, to make sure that the implementation is on track wrt architecture and coding standards.

I will not be doing a complete code review, where I attempt to identify all specific issues via the [code review checklist](https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md).  That code review will come la

[2017-04-25 02:09] pixelzoom commented on #22
Thought this is not technically a code review, I'm going to label related issues with "code-review".

[2017-04-25 02:11] pixelzoom commented on #2
This is no longer a problem in master, see screenshot below. Closing.

![screenshot_228](https://cloud.githubusercontent.com/assets/3046552/25366022/2e9fe998-292a-11e7-8353-66aef120f622.png)

[2017-04-25 02:11] #2 closed

[2017-04-25 02:14] pixelzoom commented on #15
To clarify...  There's nothing inherently wrong with using `self` as a general alias for `this`.  But PhET convention is to use `self` only when it's necessary, typically in a closure.

[2017-04-25 02:17] pixelzoom commented on #18
@andrea-phet Related to #22 (high-level review), I recommend doing this conversion before you proceed with any further development.   Let me know if you need advice on how to approach this conversion.

[2017-04-25 02:18] pixelzoom commented on #1
@phet-steele Looks like this report is for the Flash version, so I'm labeling with "legacy-bug".  Correct me if I got that wrong.

[2017-04-25 02:18] pixelzoom commented on #3
@phet-steele Looks like this report is for the Flash version, so I'm labeling with "legacy-bug".  Correct me if I got that wrong.

[2017-04-25 02:19] pixelzoom commented on #4
@phet-steele Looks like this report is for the Flash version, so I'm labeling with "legacy-bug".  Correct me if I got that wrong.

[2017-04-25 02:24] pixelzoom commented on #20
To be clear... This is the bit of code that needs to go away, ToolboxPanel, line 66:

[code]

This approach is in several sims (area-builder, arithmetic, balancing-act, energy-forms-and-changes, expression-exchange, least-squares-regression).  I'm guessing therefore that it originated with @jbphet.

[2017-04-25 02:39] pixelzoom commented on #20
See https://github.com/phetsims/scenery-phet/issues/214#issuecomment-174014179 for ways to improve this.

[2017-04-25 02:58] pixelzoom opened #23 "names for top-level .js files"
Subdirectory and the top-level .js files (subtypes of Screen, ScreenView and model) are typically named based on the screen name. The screen names for this sim are "Intro", "Data" and "Lab".

The subdirectory names are correct: `intro/`, `data/` and `lab`.

But the top-level .js files are a little off.  I would expect to find:

IntroScreenView
IntroModel
DataScreen
DataScreenView
DataModel
LabScre

[2017-04-25 02:58] pixelzoom commented on #23
Related to #22 (high-level review).

[2017-04-25 03:02] pixelzoom opened #24 "make sure @author annotations are correct"
If you copy code from elsewhere, then modify it, make sure that you also modify the `@author` annotations.

For example in ProjectilePanel.js:

[code]

I don't recognize this code as something that I authored, and the git commit messages show commits by @andrea-phet exclusively.

[2017-04-25 03:02] pixelzoom commented on #24
Related to #22 (high-level review).

[2017-04-25 03:15] pixelzoom opened #25 "CustomDialog has design issues"
Related to #22 (high-level review).

Since joist.Dialog is still not ready for prime time (see https://github.com/phetsims/joist/issues/359), you'll unfortunately need to create your own dialog for things like `CustomDialog`.

There are a couple of problems with how `CustomDialog` currently functions as a dialog:

(1) It needs a way to close it without pressing the "Enter" button.

(2) It should b

[2017-04-25 03:21] pixelzoom commented on #25
`CustomDialog` also has usability problems with its content:

(1) When the dialog first opens, none of the fields is associated with the keypad, so typing on the keypad and pressing Enter doesn't change anything.
(2) Since the dialog closes when you press Enter, you can only change 1 field.  If you want to change N fields, you'll need to open the dialog N times.
(3) The behavior of the "edit" butt

[2017-04-25 03:23] pixelzoom commented on #25
@amanda-phet @amyh-phet mentioning you because this dialog has design issues.

[2017-04-25 03:29] pixelzoom opened #26 "JSdoc doesn't match implementation"
Related to #22 (high-level review).

In many places the JSdoc doesn't match the implementation.  Two examples from `LabSecondPanel`:

[code]

When you make changes to function signatures, be sure to update the corresponding `@param` annotations.  And use valid type expressions.

[2017-04-25 03:31] pixelzoom commented on #26
Btw... This type of mismatch is very obvious in IntelliJ IDEA.  For example, here's a screenshot showing the above example:

![screenshot_229](https://cloud.githubusercontent.com/assets/3046552/25367808/71cd2c02-2935-11e7-990d-c4d82bd4bf29.png)

[2017-04-25 03:39] pixelzoom opened #27 "when defining a field, assign an initial value"
Related to #22 (high-level review).

Fields should be defined using an assignment statement, with an initial value.

For example in `CustomDialog`:

[code]

These two line are reported by IntelliJ IDEA as being "Expression statements that are not assignments or calls. Such statements have no dubious semantics, are normally the result of programming error."

If you want to define something that wil

[2017-04-25 03:52] pixelzoom opened #28 "if you copy-paste-modify, be sure to modify the documentation"
Related to #22 (high-level review) and #24 (`@author` annotations).

Finding some existing code that's similar to what you're trying to do, and doing a copy-paste to get you going, is a fine way to start on something.  But when you modify the code that you copied, you'd better also modify the documentation.

For example, see the doc for `ProjectileObjectType`:

[code]

The first line seems reasona

[2017-04-25 03:57] pixelzoom opened #29 "use descriptive names for panels"
Related to #22 (high-level review).

`IntroVectorsPanel` and `DragVectorsPanel` are good names for those panels - I can run the sim and immediately know which panels those names refer to.

`IntroSecondPanel` and `LabSecondPanel` are not good names. "Second" is not descriptive enough to tell me what the panel contains, what its responsibilities are.

In general, avoid names like "SecondPanel", "Top

[2017-04-25 04:05] pixelzoom opened #30 "keep related code together"
Readability and maintainability are improved by keeping related code close together in the source file.

For example, here's the constructor for `ProjectileMotionLabScreenView`:

[code]

`this.customizeDialog` is defined on line 27.  And then nothing happens to it until 10 lines later.

 Here's the same constructor, but with all of the code related to `this.customizeDialog` grouped together:

[cod

[2017-04-25 04:05] pixelzoom commented on #30
Related to #22 (high-level review).

[2017-04-25 04:16] pixelzoom opened #31 "conventions for naming model and view types"
Related to #22 (high-level review).

A quick tutorial on PhET naming conventions for model and view types, and variables of those types...

If I have a "measuringTape" abstraction, then the model element will typically be named `MeasuringTape` and the view element will be `MeasuringTapeNode`.   Variables of those types would be `measuringTape` and `measuringTapeNode` respectively.   The take-away

[2017-04-25 04:18] pixelzoom commented on #31
I should mention that the exception to this convention is the top-level model "container", whose top-level type and variable name always has a "Model" suffix.  E.g. `IntroModel` and `var introModel`.

[2017-04-25 04:25] pixelzoom opened #32 "use visibility annotations for fields"
Related to #22 (high-level review).

All fields and functions that are part of a types publicly accessible API must have a visibility annotation.

In the [PhET Development Overview](https://docs.google.com/document/d/1Ys1EiwnqQGYuzGOcQSr4uXDes35mF1v1XhMZIl10nk8/edit#heading=h.1oxr3ptyo50w), read the section on visibility annotations. It starts with "Because JavaScript lacks visibility modifiers".

[2017-04-25 04:32] pixelzoom opened #33 "use phet.joist.random"
Related to #22 (high-level review).

From the [PhET code-review checklist](https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md):

For reproducibility of PhET-iO playback, sims should not create their own instances of `dot.Random`, or use lodash functions related to randomization (e.g. `_.shuffle`).

`RandomIconFactory` will need to be fixed.

[2017-04-25 04:34] pixelzoom opened #34 "use dot.Util.toFixed"
Related to #22 (high-level review).

From the [PhET code-review checklist](https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md):

The sim currently has 13 occurrences of `toFixed` that need to be changed.

[2017-04-25 04:35] pixelzoom opened #35 "use dot.Util.roundSymmetric"
Related to #22 (high-level review).

From the [PhET code-review checklist](https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md):

The sim currently has 5 occurrences of `Math.round` that need to be replaced.

[2017-04-25 04:53] pixelzoom opened #36 "Decrease coupling between model and view"
Related to #22 (high-level review).

Unnecessary coupling is created by passing large objects to constructors, or exposing unnecessary properties/functions.   For example, consider the `IntroVectorsPanel` constructor:

[code]

`projectileMotionIntroModel` has a big public API, with many Properties. IntroVectorsPanel requires access to only 3 of those Properties.  By passing the entire model into t

[2017-04-25 04:56] pixelzoom opened #37 "move view-specific Properties out of model"
Related to #22 (high-level review).

Several Properties in ProjectileMotionModel have nothing to do with the model.  They are purely view. Those Properties are:

[code]

These should be moved out of the model, and encapsulated in the view.

For a similar example, see `hookes-law.IntroViewProperties`.

[2017-04-25 05:00] pixelzoom opened #38 "use uppercase for constant names"
Related to #22 (high-level review)

According to PhET naming conventions, constant names should generally be in all uppercase letters.

For example, in `BackgroundNode`:

[code]

should be:

[code]

[2017-04-25 05:05] pixelzoom opened #39 "use assert"
Related to #22 (high-level review).

With the exception of `ToolboxNode`, this implementation does not contain any assertions.

Learn where and when to use `assert`.  Typically it's used to check for programming errors, including (but not limited to):

• Verifying that the value or type of a function argument is valid.
• Verifying that the result of a computation is what you expected.

Do not use

[2017-04-25 05:15] pixelzoom opened #40 "use cornerRadius option for Rectangle"
Related to #22 (high-level review).

`scenery.Rectangle` recent got a new `cornerRadius` options.  So instead of having to duplicate the corner radius in constructor arguments, you can specify it in options.

For example:

[code]

... can now be written as:

[code]

Unless you need different x and y corner radii, the latter is preferable.

There are a few places where you might want to take advant

[2017-04-25 05:17] pixelzoom opened #41 "if statement can be simplified"
Related to #22 (high-level review).

This was identified by IntelliJ IDEA.   In TargetNode:

[code]

can be simplified as:

[code]

[2017-04-25 05:21] pixelzoom opened #42 "implement dispose"
Related to #22 (high-level review).

Is there anything in this simulation that is dynamically create, then later thrown away?  If so, you'll need to learn how to handle memory management by implementing `dispose`.  And you should read the "Memory Leaks" section of the [PhET code-review checklist](https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md).

If this is re

[2017-04-25 05:28] pixelzoom opened #43 "move functions out of constructor when possible"
Related to #22 (high-level review).

If you create a function inside of a constructor, every instance of that type will have a copy of that function.

For example, inside `ZoomControl` constructor, `createZoomControlButton` is defined:

[code]

Every instance of `ZoomControl` will create its own copy of this function. Not a big deal if there are only a few instances  of `ZoomControl`.  But if ther

[2017-04-25 05:36] pixelzoom commented on #22
In general, the sim looks good - nice job so far @andrea-phet!

I created issues for some high-level topics - see the issues linked above.   @andrea-phet feel free to ask me to elaborate on any of these.

Going forward, I think a good plan would be:

(1) Review the "Code Style Guidelines" section of the [PhET Development Overview](https://docs.google.com/document/d/1Ys1EiwnqQGYuzGOcQSr4uXDes35mF1v

[2017-04-25 05:36] pixelzoom commented on #22
Assigning to @ariel-phet and @andrea-phet to proceed.

[2017-04-25 12:18] amyh-phet commented on #25
@arouinfar  Any thoughts?

[2017-04-25 14:28] pixelzoom commented on #25
Sorry @amyh-phet, I should have assigned @arouinfar.

[2017-04-25 14:31] amanda-phet commented on #25
I recall being able to set up multiple parameters, such as for a lab or homework assignment, was important to the design for this sim. Having the keypad on the right of the values seems user-friendly because you can input a number without covering the other values. I think it was important to Mike to have this sort of interaction.

I agree with everything in https://github.com/phetsims/projectile-

[2017-04-25 14:34] pixelzoom commented on #25
Another content issue:

(6) If the dialog is used to change multiple fields, do the changes take effect as each field is changed, or when the dialog is closed?  (Keeping in mind that the dialog will be modal, and other parts of the sim will be dimmed.)

[2017-04-25 14:36] pixelzoom commented on #25
Another content issue:

(6) If the dialog is used to change multiple fields, do the changes take effect as each field is changed, or when the dialog is closed?  (Keeping in mind that the dialog will be modal, and other parts of the sim will be dimmed.)  It's not immediately obvious to me what the current behavior is, but I suspect that values changes take effect as soon as you press "Enter", while

[2017-04-25 14:40] pixelzoom commented on #25
@amanda-phet said:

Agreed, this is a more standard dialog approach.  If changes take effect as soon as a field or control is changed (which is what I'd recommend), then you don't need an "Accept" button (or similar name).  But consider adding a "Close" button, which is equivalent to clicking outside the dialog.

[2017-04-25 14:45] pixelzoom commented on #25
Note that a close button is apparently necessary to meet accessibility standards. See https://github.com/phetsims/joist/issues/413.

If you do add a close button, beware that the close button feature on joist.Dialog has problems. See https://github.com/phetsims/joist/issues/346.

[2017-04-25 19:38] andrea-phet commented on #22
Thanks so much @pixelzoom! I'll let you know if I have any questions.

[2017-04-26 18:08] ariel-phet commented on #22
Sounds like a good plan @pixelzoom thanks for going over the sim

[2017-04-26 20:50] andrea-phet commented on #18
@pixelzoom I saw DerivedProperty on the code review checklist, and it seems somewhat relevant to this issue. What is a DerivedProperty and do you think I could have use for it?

[2017-04-26 21:00] pixelzoom commented on #18
A DerivedProperty is a Property that is derived from 1 or more other Properties (its dependencies).  A DerivedProperty cannot be set directly. It values updates when one of its dependencies changes.

For example, suppose that you have a sim that allows the student to change mass and acceleration, and observe the resulting force.  The model would look like:

[code]

While I don't see any obvious ca

[2017-04-26 21:16] andrea-phet commented on #18
Tips for making this go faster and also catching everything? @pixelzoom

[2017-04-26 21:40] pixelzoom commented on #18
@andrea-phet asked:

Unfortunately, conversion is a manual process, and it's easy to make mistakes that result in weird (or worse, silent) errors.

I'll use `ProjectileMotionModel`as an example to demonstrate the general conversion process.  Its PropertySet has many entries, and each one needs to be converted to an individual Property.

If the file you're converting doesn't already have a `reset`

[2017-05-03 19:43] andrea-phet commented on #18
@pixelzoom I think I found a use for DerivedProperty for air density, which is solely linked to whether air resistance is turned on and altitude. Could you review https://github.com/phetsims/projectile-motion/commit/add3b6f596f40e5f8a9d0e8694a76499e2dc778a ?

[2017-05-03 19:58] pixelzoom commented on #18
@andrea-phet  Yes, `airDensityProperty` looks like an appropriate use of `DerivedProperty`.  It looks like you can now delete `ProjectileMotionModel.updateAirDensity`, it's not used anywhere.

[2017-05-07 14:32] #23 closed

[2017-05-07 20:52] andrea-phet commented on #31
Ignore above reference

[2017-05-07 21:05] #31 closed

[2017-05-07 21:20] #24 closed

[2017-05-07 21:47] #28 closed

[2017-05-07 21:49] #41 closed

[2017-05-08 21:34] andrea-phet commented on #18
Assigning to @pixelzoom to review and close.

[2017-05-08 23:37] pixelzoom commented on #18
I randomly selected a few commits to inspect, looks like you mastered this conversion process :)  I also ran with with `?ea&fuzzMouse` and saw no problems.  Nicely done, closing.

That said... Don't be disappointed if you encounter a bug or two related to this conversion at some point in the future. I've converted a dozen or so sims, and I've definitely messed it up.

[2017-05-08 23:37] #18 closed

[2017-05-10 02:16] #34 closed

[2017-05-10 02:21] #35 closed

[2017-05-10 02:22] andrea-phet commented on #33
Will not be using RandomIconFactory for actual implementation.

[2017-05-10 02:27] #27 closed

[2017-05-10 02:32] #38 closed

[2017-05-10 16:30] pixelzoom commented on #33
FYI, RandomIconFactory is really no longer necessary. Joist now provides a default screen icon, see https://github.com/phetsims/joist/issues/339.

[2017-05-15 23:18] andrea-phet commented on #37
Assigning to @pixelzoom to review.

[2017-05-15 23:36] andrea-phet commented on #36
@pixelzoom Since CustomizeDialog affects almost ten properties within the model, would it be okay to just pass the model in, instead of individual properties? The point of the customize dialog is to be able to set up everything.

[2017-05-16 02:50] pixelzoom commented on #37
Overall looks good.

But there is a problem with `ProjectileMotionScreenView`.   It's constructor starts like this:

[code]

In general, you shouldn't access an option that doesn't have a default value -- in this case `options.vectorVisibilityProperties`.

Two options for correcting this:

(1) Pass `vectorVisibilityProperties` as a constructor parameter to `ProjectileMotionScreenView`.

(2) Have `

[2017-05-16 02:56] pixelzoom commented on #37
Ah, there is also a problem in DragScreenView.  You're adding Properties and redefining `reset` like this:

[code]

Extension should be done through inheritance. Create a subtype of `VectorVisibilityProperties`, call it something like `DragScreenVectorVisibilityProperties`, implemented something like this (not tested):

[code]

[2017-05-16 02:59] pixelzoom commented on #36
Yes, that seems reasonable for CustomizeDialog.

[2017-05-17 17:56] andrea-phet commented on #37
@pixelzoom Could you take a look at the above commit?

[2017-05-17 21:39] pixelzoom commented on #37
Ah, I hadn't noticed that there were other options to ProjectileMotionScreenView that should also be constructor parameters -- good catch!   I reviewed the commit, looks good, feel free to close if there's nothing else to do here.

[2017-05-17 21:57] andrea-phet commented on #37
Awesome, closing.

[2017-05-17 21:57] #37 closed

[2017-05-19 16:38] andrea-phet commented on #36
I checked every js file and it looks good, closing.

[2017-05-19 16:38] #36 closed

[2017-06-05 18:00] #30 closed

[2017-06-05 18:03] andrea-phet commented on #43
Where should createZoomControlButton be defined instead? Right before the constructor? In the inherit?

[2017-06-05 18:26] pixelzoom commented on #43
I typically define private functions immediate after the namespace `register` call.  In this case, immediate after:

[code]

[2017-06-05 18:27] pixelzoom commented on #43
More info...  We want the constructor to appear as early as possible in the file, so we don't put private functions before the constructor.  And we don't put private function in the `inherit` call, because that would make them part of the public interface.

[2017-06-05 18:56] #40 closed

[2017-06-05 20:43] andrea-phet commented on #29
I named the top right control panel in each screen ProjectilePanel, as many of the properties are related to the projectile. Some are not, such as air resistance and altitude, but I think this naming convention will work for now.

[2017-06-05 20:43] #29 closed

[2017-06-05 20:48] andrea-phet commented on #32
@pixelzoom can we collaborate on adding these?

[2017-06-05 20:57] pixelzoom commented on #32
Yes.  Can't collaborate today, but ping me tomorrow.

[2017-06-05 21:50] andrea-phet commented on #26
Assigning to @pixelzoom to review.

[2017-06-05 21:53] andrea-phet commented on #26
Actually, I found a couple more mismatches, reassigning back to myself.

[2017-06-05 21:59] pixelzoom commented on #26
If you're using IDEA, it will show you the mismatches.  If you're using Sublime, I'm not sure what your options are - ask other Sublime uses on the Skype developer thread.

[2017-06-06 20:38] pixelzoom commented on #32
@andrea-phet and I collaborated on this.

[2017-06-06 20:39] pixelzoom commented on #39
[code]

[2017-06-08 22:49] andrea-phet commented on #32
Assigning to @pixelzoom to review. Could you look over everything except for CustomizeDialog? I will be deleting that when I start working on the lab screen.

[2017-06-09 03:24] pixelzoom commented on #32
I won't be able to get to this until Monday, June 12.

[2017-06-09 22:39] pixelzoom commented on #32
Annotations look like they are in good shape, nice job @andrea-phet!  It looks like you know what to do going forward, but feel free to ask if you have future questions.   Annotations will be reviewed again by whoever does code review, so I'll close this issue.

[2017-06-09 22:39] #32 closed

[2017-06-12 22:17] andrea-phet commented on #43
@pixelzoom Could you give me an example of putting a helper function outside both the constructor and the inherit block? Tagging @jbphet as well.

[2017-06-12 22:20] andrea-phet commented on #26
Assigning to @pixelzoom to review and close.

[2017-06-13 15:47] pixelzoom commented on #26
I skimmed through the code, documentation of function parameters looks generally good.  I did notice that documentation was consistently missing for `options` parameters.  While `options` is indeed an optional parameter, it still requires documentation, of the form:

[code]

I've added documentation for `options` in the above commit.  @andrea-phet let me know if you have any questions about this,

[2017-06-13 15:59] pixelzoom commented on #43
The easiest way is to demonstrate, so I made `createZoomControlButton` a private function in `ZoomControl`.  See the first commit immediately above.  (The second commit is some cleanup to `createZoomControlButton`, let me know if you have questions about that.)

The general idea here is that the function's scope is limited to the `define(...)` function that wraps the contents of the file.  So it's

[2017-06-13 16:02] pixelzoom commented on #43
Also note that `createZoomControlButton` could be defined using either of these syntaxes:

[code]

The main advantage of named functions is that their names will appear when you inspect them in the debugger, which can aid in debugging.  Functions defined using the `var` syntax are anonymous.

[2017-06-13 20:02] andrea-phet commented on #26
Thanks for doing that @pixelzoom , closing

[2017-06-13 20:02] #26 closed

[2017-06-13 20:06] andrea-phet commented on #22
Most of the issues related here have been addressed, and the few remaining will be a working progress or delayed till later. At this point, I think the sim is ready for a developer to do another high level review. @ariel-phet is anyone open to do so?

[2017-06-13 20:15] pixelzoom commented on #22
@andrea-phet I'm wondering if you really need another high-level view.  Your code is in good shape. You've addressed just about everything from this issue.  And the sim will go through an official code review after it's feature complete.  Is there something else that you'd like high-level feedback on?

[2017-06-13 20:52] ariel-phet commented on #22
@andrea-phet agreed with @pixelzoom I think you are good to go for the moment, the main point of this review was to get everything up to standard since you had been doing a fair bit of work during the school year without anyone "looking over your shoulder".

At this point, I think you can just finishing addressing the remaining issues noted here, and lean on @jbphet for advice and quick looks at c

[2017-06-13 20:53] ariel-phet commented on #25
This custom dialog is basically getting nixed from the design, so I think we can close.

[2017-06-13 20:53] #25 closed

[2017-06-15 19:07] andrea-phet commented on #22
I agree with both of you. Can this issue be closed?

[2017-06-15 19:08] pixelzoom commented on #22
Yep. Closed!

[2017-06-15 19:08] #22 closed

[2017-06-15 19:44] andrea-phet commented on #43
@pixelzoom like the above commit?

[2017-06-15 23:15] arouinfar opened #44 "Create screen icons"

[2017-06-15 23:16] arouinfar opened #45 "Review benchmark properties/ranges"
Review Flash defaults for benchmark projectiles and recommend ranges for the lab screen.

[2017-06-18 20:38] pixelzoom commented on #43
Yep, that's the idea.

[2017-06-21 18:36] arouinfar commented on #45
Flash Benchmark Items

| Item | Mass (kg) | Diameter (m) | Drag Coefficient |
| --- | --- | --- | --- |
| Tank shell | 150 | 0.15 | 0.05|
| Golf ball | 0.046 | 0.043 | 0.24 |
| Baseball | 0.145 | 0.074 | 0.4 |
| Bowling ball | 7.3 | 0.25 | 0.46 |
| Football | 0.41 | 0.17 | 0.15 |
| Pumpkin | 5 | 0.37 | 0.6 |
| Human | 70 | 0.5 | 1.3 |
| Piano | 400 | 2 | 1.2 |
| Buick | 1000 | 2.5 | 1.3 |

HTML5 B

[2017-06-22 15:39] andrea-phet opened #46 "Fire button image"
I see the fire button image in the mockups, is that and its .ai file somewhere I could access?

[2017-06-22 16:04] arouinfar commented on #46
@andrea-phet the fire button is a wireframe. I've been working on alternative designs that we can discuss in design meeting today.

![image](https://user-images.githubusercontent.com/8419308/27443999-1abc9846-5732-11e7-88df-1e762edb52b3.png)

[2017-06-23 17:29] #9 closed

[2017-06-23 17:29] ariel-phet commented on #4
Will be addressed in HTML5, closing

[2017-06-23 17:29] #4 closed

[2017-06-23 17:30] ariel-phet commented on #1
HTML5 version shouldn't have this issue, closing

[2017-06-23 17:30] #1 closed

[2017-06-23 17:31] ariel-phet commented on #3
Shouldn't be in an issue in HTML5 version, closing

[2017-06-23 17:31] #3 closed

[2017-06-23 17:31] ariel-phet commented on #14
Performance improved, closing

[2017-06-23 17:31] #14 closed

[2017-06-23 17:43] ariel-phet commented on #6
This tool now exists, closing

[2017-06-23 17:43] #6 closed

[2017-06-23 17:43] ariel-phet commented on #17
We now go to the 100th of a second in the range/time tool, this seems sufficient, closing

[2017-06-23 17:43] #17 closed

[2017-06-23 17:46] ariel-phet opened #47 "Items for teacher tips"
We should start considering items for teacher tips, assigning myself and @arouinfar to start filling in possibilities

[2017-06-23 17:56] ariel-phet opened #48 "Timeline for trying to get sim published"
### Idealized timeline as of June 24 2017

| Week | Goals|
| ------------- | ------------- |
| `June 26- 30` | Performance optimization & working towards feature complete |
| `July 3-7 ` | initial dev testing and bug fixes  |
| `July 10-14`  | interviews & pixel polishing  |
| `July 17-21`  | AL goes over code review checklist & addresses issues|
| `July 22-Aug 2`  | AL unavailable, formal code re

[2017-06-23 23:28] arouinfar commented on #44
Discussed screen icons with @ariel-phet today. Here's a draft based on the discussion. Can you take a look at these @ariel-phet?
![image](https://user-images.githubusercontent.com/8419308/27503427-303e5f26-5839-11e7-8fe9-ae37ca6a6b0e.png)

[2017-06-24 17:19] ariel-phet commented on #44
@arouinfar I think those are all looking good. I might do the following to make the navbar icons a bit more "readable"

1. Intro - Increase the size of PhET girl as much as can be tolerated
2. Vectors, again just increase the size of the picture to fill a bit more of the negative space
3. Lab, I think I would take artistic license and remove the pedestal (or just have a smaller vertical slice of i

[2017-06-24 20:05] ariel-phet commented on #46
I like option 1 or 3 currently (3 definitely conveys some motion)

[2017-06-24 20:09] ariel-phet commented on #7
The drag model is correct for the HTML5 version, closing

[2017-06-24 20:09] #7 closed

[2017-06-24 20:14] ariel-phet opened #49 "iPad2 performance is currently sluggish"
I took a look at http://www.colorado.edu/physics/phet/dev/html/projectile-motion/1.0.0-dev.2/projectile-motion_en.html

On Windows desktop chrome the sim appears to be performing quite smoothly, however it is a bit sluggish on iPad2. To my eye, it appears to be an issue with drawing the path of the object as it flies through the air.

@jonathanolson said he would be willing to take a look. Please

[2017-06-25 00:20] ariel-phet commented on #48
@andrea-phet above is our idealized timeline. It seems a good goal would be to have the sim optimized, interviewed, dev tested, major bugs addressed, and ready for formal code review before you go on your trip on July 22nd. If that is the case, I think we will have a very good shot of publishing before you go back to school.

Obviously, some of this timeline will depend on how much work optimizati

[2017-06-25 00:22] ariel-phet commented on #48
Tagging @arouinfar so that she is aware that we should look to schedule interviews soon (the sim is getting close to interviews on desktop, so I think the week of July 10th is reasonable to expect interviews, so long as iPad optimization goes smoothly)

Tagging @phet-steele so he is aware that we will want some initial dev testing the week of July 3rd

[2017-06-26 13:54] samreid commented on #7
In Sept 2015, the teacher replied:

Thank you for your help. I can see the website; based on what I see there, I think that what I’m trying to do I probably impossible. Because of the way drag depends on both the horizontal and vertical speed, the range-drag relationship is not an easy one to describe. I think I would be best to vary the horizontal speed with constant drag and analyze that relatio

[2017-06-26 21:12] arouinfar commented on #48
Sounds good @ariel-phet. Any thoughts about the interview recruitment pool? Looks like the last time we recruited students from gen chem or physics was spring 2016, so I'll need to reach out to some professors this week.

[2017-06-26 21:42] arouinfar commented on #47
From Legacy Tips
- [ ] The cannon has crosshairs to mark the initial location of the projectile.
- [ ] We used quadratic drag (Fdrag ~ v^2) which is valid in the high Reynold’s number limit appropriate for macroscopic objects like baseballs. Linear drag (Stoke's Law) is only valid in the very low Reynold's number limit (like micron-sized droplets in air).

Other things we'll need to document
- [ ]

[2017-06-26 21:42] arouinfar commented on #47
I'll add to the list in the comment above as I think of things.

[2017-06-26 22:08] arouinfar commented on #46
Thanks for the feedback @ariel-phet! We've been using option 3 in the mockups. I think it does a good job of conveying motion, but I worry that it looks a bit off, so I've tried to come up with some alternatives.

I'd like to use a cannon (or at least part of it) in the button because I think it will make the button's purpose really clear. Originally, I tried a grayscale cannon in the button, but

[2017-06-26 22:20] arouinfar commented on #48
I was thinking gen chem may be a good class to recruit from. It looks like PHYS 2010 students will have seen Projectile Motion, Masses & Springs, and Pendulum Lab, according to the [course schedule](http://www.colorado.edu/physics/phys2010/phys2010_sm17/schedule.pdf). We will also need to interview students on CCK and (possibly) Coulomb's Law soon, so recruiting students from the PHYS courses may

[2017-06-26 22:28] arouinfar commented on #45
I was able to find a few sources for an arrow's weight and diameter, which I've added to the table in https://github.com/phetsims/projectile-motion/issues/45#issuecomment-310167847.  Looks like the arrow would be similar to the football or golfball, depending on the drag coefficient.

<img src="https://user-images.githubusercontent.com/8419308/27562547-37d14bb0-5a8a-11e7-959c-53c0b81617fe.png" wid

[2017-06-26 23:09] arouinfar commented on #44
Thanks @ariel-phet! I've edited the navbar icons. If we want to keep PhET girl's trajectory, I'd recommend the 2nd option. I think the cannon needs some of the pedestal to avoid a floaty look, but I've also tried removing the longer crosshairs and angle arc from the cannon.

![image](https://user-images.githubusercontent.com/8419308/27563909-8f0cf18e-5a91-11e7-8bea-21fecc03479d.png)

[2017-06-26 23:17] ariel-phet commented on #46
@arouinfar that also works for me...I might make the "boom" a bit more symmetric about the barrel, but otherwise that seems like a good option

[2017-06-26 23:18] arouinfar commented on #46
Will do @ariel-phet. Thanks!

[2017-06-26 23:20] ariel-phet commented on #44
I feel like the second navbar option you have shown works pretty well in each case (larger girl still having trajectory, larger vectors, and larger cannon but still with cross haris)

[2017-06-26 23:24] arouinfar commented on #44
Thanks @ariel-phet! I also like the 2nd icons.

@andrea-phet @jbphet are these icons something that would be done in code, or should I send asset files?

[2017-06-27 15:40] jbphet commented on #44
It's more versatile and consistent to do them in code, using the artwork we already have for the cannon and for PhET girl.  I would recommend that.

[2017-06-27 17:10] arouinfar commented on #44
Sounds good @jbphet! Here are some reference images for the screen icons.

[intro](https://user-images.githubusercontent.com/8419308/27600405-10d1ff38-5b29-11e7-8629-8637e924aa3a.png)
[intro_nav](https://user-images.githubusercontent.com/8419308/27600408-10d36328-5b29-11e7-8ff1-5cb430cf41af.png)
[drag](https://user-images.githubusercontent.com/8419308/27600404-10d19d90-5b29-11e7-89c6-bbd997520619.

[2017-06-27 17:18] arouinfar commented on #46
I tweaked the boom a bit, and have sent the asset off to @andrea-phet.

![image](https://user-images.githubusercontent.com/8419308/27600822-63e67144-5b2a-11e7-9829-674e4959580f.png)

[2017-06-27 20:24] andrea-phet commented on #33
Deleted only use of random, closing.

[2017-06-27 20:24] #33 closed

[2017-06-27 21:38] arouinfar opened #50 "Add transparent rectangle behind angle and height readouts"
@andrea-phet I've noticed that the cannon height and angle are a bit hard to read when lowered into the ground.
<img width="200" alt="screen shot 2017-06-27 at 2 40 35 pm" src="https://user-images.githubusercontent.com/8419308/27609021-b71b8c0c-5b46-11e7-8577-bb18c272cc78.png">

Adding a transparent white rectangle behind the readouts will improve the contrast quite a bit.
![screen shot 2017-06-27

[2017-06-27 22:30] andrea-phet commented on #44
The icons have been drawn in code and added to the sim. Assigning back to @arouinfar to review and close.

[2017-06-27 22:32] arouinfar commented on #44
Looks great @andrea-phet!!

[2017-06-27 22:32] #44 closed

[2017-06-27 22:39] arouinfar opened #51 "Layer projectile + path above cannon"
In Flash, the projectile and its path are both layered above the cannon.
![image](https://user-images.githubusercontent.com/8419308/27613017-89229f56-5b56-11e7-9c04-81a6e004a9d8.png)

This makes the starting position of the projectile clearer, and is critical for seeing the path of slow projectiles, which can easily get obscured by the cannon.

@andrea-phet please adjust the layering so that the p

[2017-06-27 22:44] arouinfar opened #52 "Change cannon and pedestal colors"
Once the layering of the projectile and path are adjusted for #51, the red/blue paths will contrast poorly with the cannon and pedestal. Self-assigning to find more suitable colors.

[2017-06-27 22:48] andrea-phet commented on #50
Thanks for pointing that out. I've added those in, assigning back to you to take a look.

[2017-06-27 22:49] arouinfar commented on #50
👍

[2017-06-27 22:49] #50 closed

[2017-06-27 22:52] andrea-phet commented on #52
Perhaps it would be easier to change path colors rather than changing the cannon and pedestal colors? Just because the cannon artwork looks so nice as it is.

[2017-06-27 22:57] arouinfar commented on #52
@andrea-phet I'm also a fan of the cannon/pedestal colors. However, we usually use red to represent friction/heat, so I think it would make sense to keep the trajectories with air resistance red. Unfortunately, a red trajectory won't look so great on top of the red cannon.

I will try playing with the trajectory colors, but ultimately I think I may have to adjust the artwork.

[2017-06-27 23:06] arouinfar opened #53 "Limit cannon angle based on height"
In a recent design meeting, we brought up the issue of handling projectiles shot from low height/shallow angle. One way we could address this issue is by limiting the cannon angle based on the pedestal height.

For a height of 3m or less, the cannon's angle could be limited so that it doesn't point into the ground (as in the left column). Screenshots in the middle column illustrate the proposed li

[2017-06-28 18:17] arouinfar commented on #51
Before addressing #52, I'd like to see how things look after the layering is corrected.

[2017-06-28 18:22] arouinfar commented on #52
Not really a fan of any of these options... but here are a few color combinations I've tried.
![image](https://user-images.githubusercontent.com/8419308/27653422-39bb7996-5bfc-11e7-8f3f-e150a73b4cf4.png)

[2017-06-28 19:05] andrea-phet commented on #52
The second cannon and the fourth pedestal are my favorites, not sure if they would go well together.

[2017-06-28 19:07] andrea-phet commented on #51
The layering has been corrected, would you like to take a look?

[2017-06-28 19:08] arouinfar commented on #51
Thanks @andrea-phet! I'll take a look on master.

[2017-06-28 19:11] arouinfar commented on #52
Welcome to my struggle @andrea-phet! :)

Now that I see the paths layered on top, it may not be as bad as I think. Let's discuss at design meeting.
![image](https://user-images.githubusercontent.com/8419308/27655599-29ca7878-5c03-11e7-9e9c-012908960f90.png)

[2017-06-28 19:13] arouinfar commented on #51
Looks great! Closing.

[2017-06-28 19:13] #51 closed

[2017-06-28 19:15] arouinfar commented on #48
I've contacted the CHEM 1113 professor to recruit students from her class.

[2017-06-28 19:17] jonathanolson opened #54 "Things are outside dev bounds, and get cut off"
![projectile-bounds](https://user-images.githubusercontent.com/480878/27655867-1c5587fe-5c04-11e7-8dab-c91b1662acf6.PNG)

Also, the angle labels are somewhat hard to read on that background.

[2017-06-28 19:45] arouinfar commented on #53
While the cannon can be obscured by the projectile, the cannon barrel can still be easily grabbed and adjusted. So perhaps we can allow the full range of angle for all heights > 3 m.

![image](https://user-images.githubusercontent.com/8419308/27656756-6d12c0be-5c07-11e7-8a49-4bcee6fb7e5e.png)  ![image](https://user-images.githubusercontent.com/8419308/27656875-ebde6042-5c07-11e7-8c53-b3f388b12d95.

[2017-06-28 19:52] andrea-phet commented on #52
Yeah, the black dots help.

[2017-06-28 19:53] #54 closed

[2017-06-28 21:13] andrea-phet commented on #45
Could we make the cannonball bigger? Just because it is the default on each screen, and it would be nice to see the projectile at the end of the path.

Current (5.4 kg in mass, 0.11 m in diameter):
![image](https://user-images.githubusercontent.com/7988696/27660286-e6625810-5c13-11e7-8c8f-762367adb0a3.png)

I suggest something around 16.2 kg in mass, 0.33 m in diameter:
![image](https://user-image

[2017-06-28 21:26] andrea-phet commented on #53
The above commit limits the cannon based on specs so far.

[2017-06-28 21:28] andrea-phet commented on #11
@phet-steele or @jonathanolson does this still happen?

[2017-06-28 21:35] arouinfar commented on #53
Thanks @andrea-phet! It's really helpful seeing the limit in action. If we decide to go this route, we'll need to come up with a solution for a situation like this:
![image](https://user-images.githubusercontent.com/8419308/27661216-b62316aa-5c16-11e7-9b31-9b4a80150df8.png)

Suppose the cannon was adjusted to -90* before being lowered into the ground. How would we handle that? The cannon could aut

[2017-06-28 21:37] phet-steele commented on #11
@andrea-phet, nah

[2017-06-28 21:37] #11 closed

[2017-06-28 21:40] arouinfar commented on #45
Great suggestion @andrea-phet. A diameter of 0.33 m is a bit unrealistic for a cannonball, but it otherwise blends in with the timing dots. I agree that it would be nice to have a more visible default projectile, so we should talk about this issue more when discussing the benchmarks in design meeting.

[2017-06-29 13:14] samreid opened #55 "DataPoint should contain Vector2 instead of inherit from it"
I noticed that DataPoint inherits from Vector2.  This means that DataPoint inherits many methods from the Vector2 API like `copy`, `blend`, etc which are incorrect or misleading.  It would be better to store the x, y attributes of Data Point as independent {number} values or possibly as a {Vector2}.

[2017-06-29 13:22] samreid opened #56 "DragModel should pass through initial value for `airResistanceOnProperty`"
DragModel.js currently contains this code:

[code]

It would be simpler to add a constructor parameter to ProjectileMotionModel constructor for `airResistanceOn` (which DragModel can pass through as `true`), then reset won't need to be overriden and `airResistanceOn` won't take on incorrect values throughout its lifetime.

[2017-06-29 13:37] samreid opened #57 "Function JSDoc should be standardized"
I noticed that many methods have line comment JSDoc like this:

[code]

It would be best to use the standard JSDoc pattern as depicted in the PhET Development Overview style guidelines: https://docs.google.com/document/d/1Ys1EiwnqQGYuzGOcQSr4uXDes35mF1v1XhMZIl10nk8/edit#heading=h.1oxr3ptyo50w

In this case, it should be something more like this:

[code]

Note the `/**...*/` and `@param`

[2017-06-29 15:25] andrea-phet commented on #45
We could also start with a slightly bigger default zoom, which would increase the size of the projectile but not the timing dots. We could also make the path and timing dots just a bit smaller. These in combination with perhaps a diameter of 0.22 or something might work.

[2017-06-29 15:41] samreid opened #58 "currentModelEqualsSelf duplicates logic with Trajectory constructor"
currentModelEqualsSelf is currently implemented like so:

[code]

And the Trajectory constructor has this code:

[code]

It seems there should be a way to factor out the logic between them.  Perhaps currentModelEqualsSelf can create a new Trajectory and compare the values directly?  Or something else like that.

[2017-06-29 15:47] andrea-phet commented on #53
I think it looks really good with that update!

[2017-06-29 15:47] jonathanolson commented on #49
I have a few further recommendations for performance that I'd recommend I not do on my own. I'll be happy to collaborate
or advise on any complicated parts.

(There are still some performance enhancements I'll plan to do myself, leaving assigned to me a also).

## Timesteps

Right now, it looks like 2 out of every 3 animation frames are skipped. Since the frames DT are being capped at 0.048
(48ms)

[2017-06-29 15:55] andrea-phet commented on #45
With 1.2x bigger zoom, no change to path and timing dots, and a cannonball with 10.88 kg and 0.22 m, it looks like this:

![image](https://user-images.githubusercontent.com/7988696/27697275-fb488518-5cb0-11e7-9265-d41e133189cd.png)

What do you think?

[2017-06-29 16:11] arouinfar commented on #53
Love it!!! Let's review in design meeting, but I think this will take care of the issue.

[2017-06-29 16:25] arouinfar opened #59 "Height label out of dev"
@andrea-phet I noticed that the height label is out of bounds, but if you move the height marker to the right a few pixels, it should be fine.
![image](https://user-images.githubusercontent.com/8419308/27698459-6ab51634-5cb4-11e7-898e-64cdd24856e6.png)

[2017-06-29 16:39] andrea-phet commented on #59
Thanks for pointing that out. It was a small fix, so I'll go ahead and close this issue.

[2017-06-29 16:39] #59 closed

[2017-06-29 17:11] andrea-phet commented on #49
Thanks for the recommendations. This makes sense so far, and I'll let you know if I have any questions.

[2017-06-29 17:25] pixelzoom opened #60 "use named placeholders in strings"
Since this sim hasn't been published yet, it should be converted from "numbered" to "named" placeholders.

These strings use numbered placeholders:

[code]

This is what is looks like with named placeholders, note the double curly braces:

[code]

Then replace `StringUtils.format` with `StringUtils.fillIn` (see examples in JSdoc).

Ask me if you have questions.

[2017-06-29 17:27] pixelzoom commented on #60
Ah... You're using NumberControl.  You might be stuck with numbered placeholders.   Follow the discussion in https://github.com/phetsims/circuit-construction-kit-common/issues/380#issuecomment-312019135, where we're considering changing NumberControl.

[2017-06-29 21:48] arouinfar commented on #53
Reviewed in design meeting. 👍

[2017-06-29 21:48] #53 closed

[2017-06-29 22:02] arouinfar commented on #46
We discussed the fire button artwork in design meeting today, and decided to go with a black-and-white version of the cannon instead. Reviewed this artwork with @ariel-phet and will email the updated asset to @andrea-phet.

![image](https://user-images.githubusercontent.com/8419308/27712416-26dbc4a0-5ce4-11e7-9a10-821bfbee409d.png)

[2017-06-29 23:49] arouinfar commented on #45
Notes from today's discussion
* Keeping the tank shell because it is a pedagogically useful example.
* Add the arrow.
* PhET girl's defaults can be adult values.
* Smaller items (football and smaller) will have two decimal places in the mass and diameter.
* Larger items (pumpkin and larger) will not have any decimal places in the mass, and will have one decimal place in the diameter.

@andrea-phet

[2017-06-29 23:56] arouinfar commented on #52
During design meeting, we experimented with a magenta cannon and gray pedestal. @ariel-phet suggested keeping the cannon red, and instead using a magenta trajectory. I think the magenta trajectory looks quite nice, so let's try that instead @andrea-phet.

![image](https://user-images.githubusercontent.com/8419308/27715375-e59ad6ce-5cf3-11e7-8c1c-93407b20aea0.png)

[2017-06-30 04:05] samreid commented on #15
@andrea-phet the convention for PhET GitHub issues is that after the developer addresses the issue, the issue should be reassigned back to the original reporter (with a ready-for-review label) so the original reporter can double check everything or see if any related issues come to mind.  This process works nicely for design team issues as well as code review issues.

[2017-06-30 04:08] samreid commented on #15
I checked the remaining `self` references and they all seem good (I did see one commented out `self` but it is marked with a TODO).  Closing.

[2017-06-30 04:08] #15 closed

[2017-06-30 16:30] arouinfar opened #61 "Artwork pixel polishing"
During yesterday's design meeting we discussed making a few tweaks to the artwork
- [x] Move wheel in crashed Buick closer to its body
- [x] Lighten the green in the Flatirons to improve contrast of projectile path
- [x] Increase height of cannon leg (do not otherwise change pivot) to increase the grab area when h=0.

[2017-06-30 19:51] samreid commented on #55
@andrea-phet as I mentioned in https://github.com/phetsims/projectile-motion/issues/15

I noticed you have been closing issues from commit messages like "fixes #55".  For issues opened by another team member it is better to use a commit message like "see #55" then comment in the issue and reassign.

[2017-06-30 20:41] arouinfar opened #62 "Add gravity slider to Lab screen"
As discussed in yesterday's design meeting, we'd like to keep the gravity slider. Here are the specs @andrea-phet:

* Lab screen only
* Between Diameter and Air Resistance
* Horizontal separating line above and below the gravity slider
* Smooth track, no end labels
* Range 5-20 m/s^2
* Default 9.81 m/s^2
* Tweaker step of 0.01 m/s^2
* No label for Earth/9.81 or snapping behavior necessary

[2017-06-30 21:57] arouinfar commented on #45
Just realized the grouping into "small" and "large" items isn't as clean-cut as I had thought. For example, the tank shell is heavy, but small.

Mass with 2 decimals: arrow, golf ball, baseball, football, cannonball
Mass with 0 decimals: pumpkin, tank shell, human, piano, Buick

Diameter with 2 decimals: arrow, golf ball, baseball, football, cannonball, pumpkin, tank shell
Diameter with 0 decimals

[2017-06-30 23:26] andrea-phet commented on #58
In the above commit, I created a new Trajectory in the model, and replaced method Trajectory.currentModelEqualsSelf with Trajectory.equals, where the most comparison logic is in DataPoint.equals.

[2017-06-30 23:37] arouinfar opened #63 "Cannon height hard to control when zoomed out"
During yesterday's design meeting, we discussed some changes that could be made to the cannon to improve the height adjustment, particularly when in the ground. Namely, increasing the height of the cannon's leg and making the height label draggable (artwork tracked in #61).

These changes will improve the the height control at the standard zoom level, but when zoomed out, the height may still be d

[2017-06-30 23:38] arouinfar opened #64 "Review slider properties"
Self-assigning to review slider ranges, decimals, and defaults.

[2017-06-30 23:53] jonathanolson commented on #49
Current status on Lave (iPad 2):

- Normal animation is ~30fps
- Animation with force diagram/arrows can get down to ~20fps
- Animation when anything sticks out above the top of the sim is ~10fps
- There's still a moderate delay when pressing the "fire" button, since it creates the TrajectoryNode (and then the SVG to render that).

There may be workarounds for the "sticks out above the top" issue,

[2017-07-01 00:05] ariel-phet commented on #49
@jonathanolson yes, please publish a dev version

[2017-07-01 00:17] jonathanolson commented on #49
http://www.colorado.edu/physics/phet/dev/html/projectile-motion/1.0.0-dev.3/projectile-motion_en.html

[2017-07-01 01:46] ariel-phet opened #65 "Scaling of force vectors"
As we discussed in design meeting, it would be ideal to adjust the scaling of force vectors such that the drag force is visible for a decent amount of the range.

One thing we can definitely do is decrease the mass range of the cannonball to help with the scaling issue. I think we could make the mass range go from 1 to 10 kg and that would buy us a bit more room if we set the default mass at 5 kg.

[2017-07-01 02:15] samreid commented on #58
Looks much better, thanks!  Closing.

[2017-07-01 02:15] #58 closed

[2017-07-02 18:46] andrea-phet commented on #49
I noticed that there was some interesting path behavior when a new TrajectoryNode is created if an old TrajectoryNode's path is still being drawn:
![image](https://user-images.githubusercontent.com/7988696/27772690-7698d7ca-5f24-11e7-9ee1-da4869cbfcb1.png)

So in https://github.com/phetsims/projectile-motion/commit/f4d827ede028e192f6db73a523000025907d80fa I moved the declaration of the scratch vec

[2017-07-03 16:03] jonathanolson commented on #49
Looks like a good fix, thanks!

[2017-07-03 18:17] andrea-phet commented on #63
The entire pedestal and the part of the cannon barrel that is before the pivot can be dragged to control height. Assigning to @arouinfar to review.

[2017-07-03 18:25] arouinfar commented on #63
This is a huge improvement @andrea-phet! The cannon still seems a little hard to pull out of the ground when zoomed all the way out, but I'm not sure that the artwork changes proposed in #61 will make much of a difference there.

@phet-steele when the dev test rolls around, can you review this and let @andrea-phet if you have any further suggestions.

[2017-07-03 18:47] andrea-phet commented on #62
Assigning to @arouinfar to review.

[2017-07-03 18:55] andrea-phet commented on #52
Here we go:
![image](https://user-images.githubusercontent.com/7988696/27804940-e331dc4a-5fee-11e7-8c79-ce273caba1a2.png)

[2017-07-03 18:56] arouinfar commented on #62
Looks great @andrea-phet!! I think we'll need to tighten up some space in the panels to avoid overlapping the road, but I will open up a separate issue for that.

The smaller tweakers look good too!

[2017-07-03 18:56] #62 closed

[2017-07-03 18:58] arouinfar opened #66 "Tighten up panels on lab screen to avoid overlapping road"
After adding the gravity slider to the lab screen (#62), the panel overlaps the road a little bit. With a little pixel polishing, I think the issue can be fixed. Self-assigning to further review and make recommendations.

[2017-07-03 18:59] andrea-phet commented on #46
The updated artwork is in.

[2017-07-03 19:01] arouinfar commented on #52
Thanks @andrea-phet! Looks good. We'll need to update the screen/navbar icons for the Lab screen to include the gray panel.

[2017-07-03 19:03] arouinfar commented on #46
Thanks @andrea-phet. I think this is an improvement over the silhouette, but I wonder if we should add a gray stroke around the black part of the cannon barrel too. @ariel-phet can you take a look?
![image](https://user-images.githubusercontent.com/8419308/27805145-0e28dcb8-5ff0-11e7-8a9d-ca1e31af2281.png)

[2017-07-03 19:15] andrea-phet commented on #45
For the human, piano, and Buick, their diameter can go as low as 0.5, but 0 decimals can be shown. How does one show the minimum?

[2017-07-03 19:26] arouinfar opened #67 "Add arrow to Intro and Lab screens"
The arrow and its specs are discussed more in https://github.com/phetsims/projectile-motion/issues/45. Self-assigning to send arrow artwork to @andrea-phet.

[2017-07-03 19:31] andrea-phet commented on #45
Assigning to @arouinfar to review.

[2017-07-03 20:05] arouinfar commented on #64
**Global**
- [ ] Reduce slider thumb to roughly the height of the tweakers (will help #66)
- [ ] Initial speed: change max to 30 m/s (helps to increase size of max drag force)

**Drag**
- [ ] Diameter: one decimal, snap to tick marks (steps of 0.1), no tweakers, default 0.8 m
- [ ] Mass: range 1-10, no decimals, snap to tick marks (steps of 1), no tweakers, default 5 kg
- [ ] Altitude: match Lab s

[2017-07-03 20:06] arouinfar commented on #65
Agreed @ariel-phet. If the max mass is reduced to 10 kg, the force vectors can be scaled up a bit. I've also recommended defaults in https://github.com/phetsims/projectile-motion/issues/64 to make sure the vectors are all visible at the default settings.

[2017-07-03 20:09] arouinfar commented on #65
@andrea-phet after you address the ranges in #64, can you increase the size of the force vectors?

[2017-07-03 20:53] arouinfar commented on #45
Looks pretty good @andrea-phet.

Here are a few observations:
* Cannonball: I'd really like to use a realistic diameter as the default, but I think we could Hollywood the scaling a bit. Can you leave the size as-is, but change the diameter and mass values back to the defaults in the spreadsheet (5.44 kg, 0.11 m)?
* Baseball: The baseball looks quite a bit smaller than the cannonball at a diameter

[2017-07-03 20:56] arouinfar commented on #61
After reviewing #45, a few more items to tweak
- [ ] Re-export baseball (looks small and pixelated at max diameter)
- [ ] Create a tank shell with a simple gradient

[2017-07-03 20:57] arouinfar commented on #45
Relevant artwork tweaks tracked in #61, so unassigning myself.

[2017-07-03 21:51] andrea-phet commented on #64
I checked off things above to help me keep track of my progress, but feel free to uncheck if needed. Assigning to @arouinfar to review.

[2017-07-03 21:55] andrea-phet commented on #65
Increased, assigning to @arouinfar to check.

[2017-07-03 23:08] ariel-phet opened #68 "Why are trajectory dots every 0.048s instead of a round number like 0.05 s?"
@arouinfar @andrea-phet is there a reason we couldn't make the trajectory dots occur every 0.05 s? Is it related to the dt of the sim or such? It just seems a round number would be easier for many classroom uses.

[2017-07-03 23:23] ariel-phet commented on #46
@arouinfar a few tweaks I would try:

1. Make the cannon in the button as large as possible (I think the boom could be "squashed a little" if necessary. I think on an iPad it will be a little tough to make out. I think this tweak should definitely be done

2. I agree that an outline on the barrel might help things stand out well

3. Perhaps add a slighlty smaller grey or white matching "boom" to g

[2017-07-05 18:49] arouinfar commented on #64
Looks great @andrea-phet!! Now that I see the smaller thumb, I think it should be slightly larger. Can you increase the size by 10%?

[2017-07-05 18:50] arouinfar commented on #64
If 10% ends up being a huge jump, a 5% increase may work instead.

[2017-07-05 20:07] andrea-phet commented on #64
Done.

[2017-07-05 20:10] andrea-phet commented on #55
Will do. Assigning back to @samreid to review.

[2017-07-05 20:12] andrea-phet commented on #39
I have been adding a couple asserts as I update the code. Will keep this in mind, and assigning @pixelzoom to review.

[2017-07-05 20:55] andrea-phet commented on #56
I did the same for the other screens as well.

[2017-07-05 21:02] andrea-phet commented on #43
I couldn't find other instances to take out of the constructor besides the one above, so assigning back to @pixelzoom to review.

[2017-07-05 21:31] andrea-phet commented on #49
The JSDoc is more taken care of in #57, @jonathanolson could you review the uses of NumberProperty, BooleanProperty, and Vector2 pools?

Also, could you explain what you meant in this TODO in line 194 of ProjectileNode: `//TODO: Getting a view-coordinate copy of the DataPoint would be ideal, so this extra thing wouldn't be needed.`

I am trying to dispose the listeners, and this might be related?

[2017-07-06 04:20] arouinfar commented on #68
@ariel-phet I wasn't aware that the dots were being drawn every 0.048 s. I had measured 0.05 s when using the path tracing tool, but it doesn't have enough decimal places to show a difference of 0.048 s. I think 0.05 s is nicer number to work with, and given the precision of the path tracing tool, I think it's a better choice of time step.

@andrea-phet are there limitations in the model that woul

[2017-07-06 04:52] ariel-phet commented on #68
@arouinfar I wasn't either, but I saw it in the teacher tips issue https://github.com/phetsims/projectile-motion/issues/47

[2017-07-06 06:23] arouinfar commented on #66
By reducing the amount of negative space in the Initial Values panel and reducing the height of the combo box, the panel no longer overlaps the road.
<img width="542" alt="screen shot 2017-07-06 at 12 12 31 am" src="https://user-images.githubusercontent.com/8419308/27897867-07f26642-61e0-11e7-86a7-e08e43b6423c.png">

@andrea-phet here's what I did to free up the space.
- [ ] Move "Initial Values"

[2017-07-06 16:04] andrea-phet commented on #66
I think that worked.

![image](https://user-images.githubusercontent.com/7988696/27920621-77205716-6232-11e7-9294-a399b0dd32e6.png)

[2017-07-06 16:05] arouinfar commented on #66
Looks awesome!

[2017-07-06 16:05] #66 closed

[2017-07-06 16:18] arouinfar commented on #65
@andrea-phet the scaling looks really nice. At the default settings, the vector sizes look good. Adjusting one parameter (mass, diameter, velocity, or drag force) while holding the other parameters at the default value also shows a nice range of vector sizes, so I don't have any further recommendations.

[2017-07-06 16:18] #65 closed

[2017-07-06 16:26] pixelzoom commented on #39
I reviewed the current uses of `assert`, looks like you have the idea.

LabIconNode and VectorIconNode have an assertion like this:

[code]

In general, it's useful to include the value of `type` in the message, and not duplicate the valid values in the message (since they already appear in the expression).   So something like:

[code]

The general idea is that if an assertion fails, the message w

[2017-07-06 16:27] pixelzoom commented on #39
@andrea-phet feel free to close this after reviewing the above comment.

[2017-07-06 16:28] pixelzoom commented on #43
I'll take your word for it :)   If there are any others, they'll likely be identified during final code review. If not, no big deal.  Closing.

[2017-07-06 16:28] #43 closed

[2017-07-06 16:45] #64 closed

[2017-07-06 17:14] arouinfar commented on #63
@andrea-phet can you also make the height label draggable?

[2017-07-06 17:19] arouinfar opened #69 "Panel pixel polishing"
To make the panels looks a bit more consistent across screens, I have a few suggested changes:

**Intro**
- [x] Remove gray box around non-editable values and format like "variableName: value" (like Initial Values on Lab)
- [x] Add horizontal line between Air Resistance and Diameter

**Vectors**
- [x] Remove gray box around drag coefficient and format like "Drag Coefficient: 0.47"
- [x] Add horizo

[2017-07-06 18:19] arouinfar commented on #67
Assets sent to @andrea-phet!

[2017-07-06 18:20] arouinfar commented on #61
@andrea-phet I've sent you the updated artwork for most of the items listed above. I'm deferring the golfball until after design meeting discussion.

[2017-07-06 19:18] andrea-phet commented on #49
I talked with @ariel-phet and @jonathanolson about performance, and it seems that the only remaining issue is that the projectile flies choppily when there are visible vectors that go off the screen (thus why it is slower on the ascent, with the velocity vector point up and out of the screen).

Assigning to @jonathanolson to take a look at.

[2017-07-06 19:25] andrea-phet commented on #68
I changed it to be 0.05s and updated the teacher tips accordingly. If you're curious, the only reason for 0.048 is because that is 0.048 s is three times the 16 millisecond time step, which corresponds to the normal 60 frames per second.

[2017-07-06 19:49] andrea-phet commented on #67
The arrow has been added to Intro and Lab.

[2017-07-06 22:29] andrea-phet commented on #69
Assigning to @arouinfar to review.

[2017-07-06 22:29] andrea-phet commented on #45
Assigning to @arouinfar to review.

[2017-07-06 22:34] arouinfar commented on #68
Reviewed in design meeting, and everything looked good!

[2017-07-06 22:34] #68 closed

[2017-07-06 22:35] arouinfar commented on #61
Vetoed the golfball in today's design meeting.

[2017-07-06 22:41] andrea-phet commented on #63
Yup. Assigning back to @arouinfar to review.

[2017-07-06 22:42] andrea-phet commented on #61
Incorporated the new artwork, and at design we decided golfball as is is fine.

[2017-07-06 22:44] andrea-phet commented on #52
Updated the screen/navbar icons.

[2017-07-06 23:13] samreid commented on #55
Looks great @andrea-phet, thanks!  Closing.

[2017-07-06 23:13] #55 closed

[2017-07-07 16:09] andrea-phet commented on #60
It seems like that issue was closed, but I am still confused. Are we using named or numbered placeholders for NumberControl?

[2017-07-07 17:44] phet-steele commented on #49
@jonathanolson I don't think so. Occasionally there is a dip from 60fps down to 30fps when vectors go off the top, but this is rare and probably unrelated. Generally the sim does not behave differently whether vectors are off screen, on screen, or disabled. (iPad Air 2, iOS 10.3.2)

[2017-07-07 18:05] pixelzoom commented on #60
The issues specific to CCK was closed.  A more general issue was opened, see https://github.com/phetsims/scenery-phet/issues/317.  I'll label it for discussion at developer meeting.

[2017-07-07 19:04] arouinfar commented on #69
Looks good @andrea-phet! One more request -- on the Intro and Vectors screens, can you gray out the Drag Coefficient when Air Resistance is off, like it is in the Lab screen?

[2017-07-07 19:07] arouinfar commented on #67
On the Lab screen, I've noticed that an arrow with a diameter of 0.1 m looks exactly the same as one with a diameter of 0.2 m. Is this a limitation of the image size @andrea-phet? Should I export a larger image for you?

[2017-07-07 19:07] arouinfar commented on #63
👍

[2017-07-07 19:17] jonathanolson commented on #49
Current working theory is that iOS Safari watches the top row of pixels for changes so that it can change the browser "chrome" appearance to match. It at least seems to "darken" a row of pixels.

[2017-07-07 19:19] arouinfar commented on #61
@andrea-phet looks pretty good, with the exception of the cannon base. The area above the horizontal line looks shifted a bit to the right.
![image](https://user-images.githubusercontent.com/8419308/27972969-7183b512-6315-11e7-8a3f-ff7a6a5455b6.png)

The latest asset looks okay, so I'm not sure what's causing the issue.
![cannon_base](https://user-images.githubusercontent.com/8419308/27973104-0e03

[2017-07-07 19:19] arouinfar commented on #52
👍

[2017-07-07 19:19] #52 closed

[2017-07-07 19:23] arouinfar commented on #45
Looks great! Thanks @andrea-phet.

[2017-07-07 19:23] #45 closed

[2017-07-07 19:24] arouinfar commented on #67
Actually, I've noticed some other scaling issues, so I'll be creating a new issue. Closing.

[2017-07-07 19:24] #67 closed

[2017-07-07 21:38] arouinfar opened #70 "Add Total Acceleration to Intro Screen"
As discussed in yesterday's design meeting, please add a "Total" checkbox to the Acceleration Vectors on the Intro screen @andrea-phet

[2017-07-07 21:40] arouinfar opened #71 "Add vector/path icons next to checkboxes"
Self-assigning to mock up.

[2017-07-07 21:46] arouinfar opened #72 "Change angle step size to 1* on Lab Screen"
For the lab screen, the cannon angle should be adjustable to the nearest 1*.

A 1* step size could be tricky on the iPad, so we may have to make further adjustments, but for now, please go ahead and update the step size @andrea-phet.

[2017-07-07 21:56] arouinfar opened #73 "Add hundredths place to measuring tape"
The path tracing tool currently measures to 2 decimal places. For consistency, I think the tape measure should have the same level of precision. @andrea-phet please add a 2nd decimal to the tape measure.

[2017-07-07 23:17] arouinfar opened #74 "Layer path above projectile?"
Using the path tracing tool can be difficult for large projectiles such as the Buick, because the artwork obscures the path.
![image](https://user-images.githubusercontent.com/8419308/27978490-ef49ca2e-632c-11e7-8d1a-115ca2a40720.png)

In Flash, crashed projectiles would shatter, so the ending of the path was never obscured
![image](https://user-images.githubusercontent.com/8419308/27979986-6a892e

[2017-07-07 23:19] arouinfar opened #75 "Yellow line on road should be dashed"
@andrea-phet I think the road would look more road-like if the yellow line was dashed. Can you please make this change?

[2017-07-10 17:15] arouinfar opened #76 "Move zoom buttons down a few pixels"
The zoom buttons are pretty close to the top of the window. When using the zoom buttons on iPad, it's very easily to accidentally navigate to another browser tab. @andrea-phet can you move the zoom buttons down ~3 pixels and give their touch areas a bit of extra padding on the bottom?

![image](https://user-images.githubusercontent.com/8419308/28030453-10391aba-6561-11e7-89bc-eaf1deced930.png)

[2017-07-10 17:15] ariel-phet commented on #74
@arouinfar I think (2) could look OK, and since that is simplest, lets go with that to begin with.

[2017-07-10 17:17] ariel-phet opened #77 "Reduce size of buick image"
@arouinfar since we have a bit of artistic license with the displayed size of objects, I think I would reduce the size the buick a bit. In dev.5 it is pretty big, and I think it could easily be 25% smaller and work nicely.

[2017-07-10 17:18] arouinfar commented on #74
Sounds good @ariel-phet.

@andrea-phet can you update the layering so that the path is above the projectile?

[2017-07-10 17:20] arouinfar commented on #77
@ariel-phet agreed. There are several scaling issues that I think are related image size and/or Hollywooding. I'm still reviewing dev.5, but will open a new issue this afternoon.

[2017-07-10 17:20] ariel-phet opened #78 "PhET girl a Center of Mass not quite lining up with trajectory"
@arouinfar and @andrea-phet I noticed this issue in dev.5

PhET girl seems to be a little off the trajectory, I think she sholuld be centered somewhere near her belt buckle.

Most clear to see her offset at the apex

![capture](https://user-images.githubusercontent.com/4051174/28030642-d237e830-6561-11e7-9f4f-d5248748e6c1.PNG)

[2017-07-10 17:25] arouinfar commented on #77
For example, a 1 m diameter golfball, baseball, and cannonball have very noticeably different sizes.
![image](https://user-images.githubusercontent.com/8419308/28030780-5cdbfcce-6562-11e7-9eab-60e5e4c8bd65.png)

[2017-07-10 17:28] arouinfar commented on #78
@ariel-phet I believe @andrea-phet is centering the path on the projectile's image, which sometimes is a bit off from the COM (see below), or ends up looking a little odd (like PhET girl).

![image](https://user-images.githubusercontent.com/8419308/28030863-acfebf70-6562-11e7-8bb2-b9dd39ebeda2.png)

For the images, I can create some transparent padding so the center of the image falls on a more lo

[2017-07-10 17:38] arouinfar opened #79 "Number of decimals on target?"
By default, the target is located at 15 m (no decimals). Once the target is moved, two decimal places appear (only 15 has the decimals suppressed). I find it very hard to drag the target to a precise location. Given that the target itself is 3 m wide, it seems odd to assign such a precise value to the target's center. Instead, I would recommend snapping the target to 0.1 m steps along the road.

!

[2017-07-10 17:50] andrea-phet commented on #74
Done.

[2017-07-10 17:57] ariel-phet commented on #79
@arouinfar no, I cannot, 2 decimals seems inappropriately precise.

[2017-07-10 18:01] arouinfar commented on #79
Thanks for the feedback @ariel-phet.

@andrea-phet please update the target so that it snaps to 0.1 m increments along the road. I'm also not sure why 15 m has its decimals suppressed, but while you're at it, please change it to 15.0 m.

[2017-07-10 18:02] andrea-phet commented on #76
Yes, done.

[2017-07-10 18:37] andrea-phet commented on #75
Yes, done.

[2017-07-10 18:38] arouinfar commented on #75
Looks great!

[2017-07-10 18:38] #75 closed

[2017-07-10 18:40] arouinfar commented on #76
Thanks @andrea-phet! The placement looks good on my laptop, but kicking this one over to @phet-steele to check on the iPad.

[2017-07-10 19:00] arouinfar commented on #74
Thanks @andrea-phet! In general, I think this looks pretty good. My one concern is that smaller projectiles are a bit obscured. @ariel-phet can you take a look?

[2017-07-10 19:03] arouinfar commented on #78
After reviewing #74, I think PhET girl and the piano are the only benchmarks that would benefit from a little extra padding. @andrea-phet has mentioned the possibility of programmatically moving the center on the Drag screen projectiles.

[2017-07-10 19:07] arouinfar opened #80 "Scale Flatirons with zoom"
As discussed in the last design meeting, it seems a bit odd that the Flatirons are not affected by the zoom level.

- [x] Move David 2 m closer to the crosshairs. (Currently 9 m away.)
- [x] Scale default size of Flatirons down a bit (try 10%) but keep right side the same distance away from the control panels.

With these changes the flatirons should mostly be hidden by the control panels when zoo

[2017-07-10 19:21] arouinfar opened #81 "Scaling issues"
I've noticed a few scaling issues in reviewing dev.5

(1) Round items should be consistently sized with one another. At max zoom and 1 m diameter, the golfball, baseball, and cannonball have radically different sizes
![image](https://user-images.githubusercontent.com/8419308/28035232-24827a4c-6571-11e7-947d-38c86408b216.png)
(2) Diameter of of items should scale with zoom level. Default zoom vs. m

[2017-07-10 20:02] ariel-phet commented on #74
@arouinfar I think this is a definite improvement.

To me the obscuring issue is minor, and I think will be ameliorated if we lighten the "dots" on the trajectory. Perhaps instead of using grey dots, we should just turn down the opacity of the dots?

[2017-07-10 20:04] arouinfar commented on #74
@ariel-phet if we make the dots gray, the contrast against the pedestal will be diminished. I would be in favor of reducing the opacity, but drawing hundreds of reduced-opacity objects probably has negative effects on the performance.

[2017-07-10 20:07] ariel-phet commented on #74
@arouinfar I don't think opacity is a problem for performance (but gradients are), I could be wrong however.

[2017-07-10 20:08] arouinfar commented on #74
Thanks for the clarification @ariel-phet! I would definitely like to see reduced-opacity tracking dots. I'll work with @andrea-phet on this in real-time.

[2017-07-10 20:12] ariel-phet commented on #74
@arouinfar if possible just check on an iPad2 to see if there is any significant performance impact

[2017-07-10 20:13] arouinfar commented on #74
Will do @ariel-phet!

[2017-07-10 21:12] arouinfar commented on #74
Worked with @andrea-phet to reduce the size of the dots a little bit, as well as reduce their opacity.

@ariel-phet here's what a set of 5 paths looks like now:
![image](https://user-images.githubusercontent.com/8419308/28040102-e19c6484-6581-11e7-8d39-c563566635a3.png)

We did some quick testing on iPad2, and shooting out several projectiles at a time reduced the frame rate similarly with and wit

[2017-07-10 21:36] arouinfar commented on #71
Here's a mockup of the Intro screen, and discrepancies between the appearance of the icons and the vectors in the latest dev are unintentional.
![image](https://user-images.githubusercontent.com/8419308/28041028-13efe2b4-6585-11e7-9a9d-2c7f61bdd0c9.png)

The Drag and Vector screens are less straightforward, because of the radio options for total and components. We could change the icons when flipp

[2017-07-10 21:40] arouinfar commented on #46
@ariel-phet thanks for your suggestions. I've mocked up two alternatives that include a larger cannon, outlined barrel, and double stroked boom.

Comparison to the original:
![image](https://user-images.githubusercontent.com/8419308/28041205-beffa4c8-6585-11e7-9f0b-cd058e62ca23.png)

At iPad resolution:
![screen shot 2017-07-10 at 3 37 11 pm](https://user-images.githubusercontent.com/8419308/28041

[2017-07-10 22:28] arouinfar commented on #71
Here's a few options for the Air Resistance icon.

<img src="https://user-images.githubusercontent.com/8419308/28042708-aed5c39c-658b-11e7-8abe-a67fc1834478.png" width=300> <img src="https://user-images.githubusercontent.com/8419308/28042739-d26e99f0-658b-11e7-9120-c46f7bd11545.png" width=300>

<img src="https://user-images.githubusercontent.com/8419308/28042767-ef8cb81e-658b-11e7-83c5-b3138dc7980

[2017-07-10 22:33] ariel-phet commented on #71
@arouinfar I vote middle curved. Clean and clear.

[2017-07-10 22:35] arouinfar commented on #71
Thanks @ariel-phet! Do you have any thoughts about the vector icons in https://github.com/phetsims/projectile-motion/issues/71#issuecomment-314256396?

[2017-07-10 22:35] ariel-phet commented on #71
@arouinfar for drag and vector screens, yes, I think we should still have the icons.

Since they are an icon, I think you can just use the smaller arrows, or split the difference. No need to change the icons when hitting the radio buttons.

[2017-07-10 22:37] ariel-phet commented on #74
I played with master, looks good to me. Closing.

[2017-07-10 22:37] #74 closed

[2017-07-10 22:38] ariel-phet commented on #46
I like the bottom option as well. Lets go with that

[2017-07-10 22:39] arouinfar commented on #46
Ok, sounds good @ariel-phet! I'll send an updated asset to @andrea-phet.

[2017-07-10 22:44] arouinfar commented on #71
Thanks for the feedback @ariel-phet. I'll try splitting the difference.

[2017-07-10 22:57] arouinfar commented on #71
Splitting the difference looks about right to me.
<img src="https://user-images.githubusercontent.com/8419308/28043778-bb786fb4-6590-11e7-82c3-6c32ef3a09b1.png" width=300>

We could also go down this route for the Intro screen, and show the icon next to the title
<img src="https://user-images.githubusercontent.com/8419308/28043739-94300412-6590-11e7-9018-ac7b9f248525.png" width=300>

[2017-07-10 23:00] arouinfar commented on #71
I prefer the icons next to the "Velocity Vectors" and "Acceleration Vectors" titles. I think it looks a bit cleaner, and it allows us to use a single icon across the sim. I think total vs. components will be pretty obvious once they are turned on.

[2017-07-10 23:02] ariel-phet commented on #71
@arouinfar, nice improvement, I agree. Let's go with what you have in the last comment

[2017-07-10 23:05] arouinfar commented on #71
Great! Thanks, @ariel-phet.

@andrea-phet can you get these icons added? See https://github.com/phetsims/projectile-motion/issues/71#issuecomment-314273318 for the vector icons, and here's the icon for the Air Resistance.
![image](https://user-images.githubusercontent.com/8419308/28043967-c674191c-6591-11e7-8dad-20b6aac5b7a9.png)

[2017-07-11 19:49] phet-steele commented on #76
It's good!

[2017-07-11 19:49] #76 closed

[2017-07-11 19:59] phet-steele commented on #63
@andrea-phet my last suggestion is to enable touch-to-snag on the cannon and height display. (Probably also need it on every slider, including the target, and both tools)

[2017-07-11 22:16] EthanWJohnson opened #82 "Time step does not play nicely with tracking dots"
Related to https://github.com/phetsims/QA/issues/20
Seen on Win 10: Chrome

The tracking dots that the tracer reads for in-flight data don't like the step system, it seems. If a projectile in flight is paused in flight, and the simulation stepped instead of unpaused, the tracking dots will no longer appear. This means that the tracer cannot read the flight path data past the point the dots disappe

[2017-07-12 16:57] phet-steele commented on #82
@EthanWJohnson this should be fixed (I think by 0dad930b6ca363356ce42caf5a9bf15e12ebac63). Feel free to verify in master or wait until next release.

[2017-07-12 17:17] phet-steele opened #83 "Keypad rounding error?"
Typing `0.35` into the keypad on the lab screen reveals what is probably some floating point errors:
<img width="831" alt="screen shot 2017-07-12 at 11 06 13 am" src="https://user-images.githubusercontent.com/5863899/28129864-31e081d4-66f2-11e7-81b3-1a6ea16c8044.png">

Seen on Win 10 Chrome and macOS 10.12.5 Chrome. For phetsims/QA/issues/20.

URL: http://www.colorado.edu/physics/phet/dev/html/pro

[2017-07-12 19:05] phet-steele opened #84 "Keep the sim paused after firing a projectile"
@arouinfar @andrea-phet, I'm not sure I agree with the current play/pause behaviour. As is, pressing the Fire button will un-pause the sim. This prevents a user from being able to slowly step through the entire lifetime of a projectile's trajectory. This seems oddly restrictive and renders a fair amount of experiments impossible. I see no excuse for preventing the initial moments from being paused

[2017-07-12 19:10] arouinfar commented on #84
Thanks @phet-steele. I think it would be valuable to allow users to step through any part of the path (including the early bits), so I agree that unpausing on fire is not ideal. Tagging for further discussion at design meeting.

[2017-07-12 19:29] phet-steele opened #85 "Have tools float to edge of screen"
@andrea-phet, tools should be allowed to float to the edge of the screen. Since projectile can go anywhere on the screen, as is I cannot measure anything outside of dev bounds:

![prmo01](https://user-images.githubusercontent.com/5863899/28135924-2c7884e0-6705-11e7-98de-5165e02a3c33.gif)

Constraining to screen bounds should keep tools on the screen on an iPad, so there should be no problem there.

[2017-07-12 20:11] arouinfar commented on #77
@ariel-phet I reduced the Buick has been reduced by ~20%. I didn't reduce it quite as much as you suggested, so that the length would be roughly correct (now 5m, but in reality is ~5.5 m). This looks about right to me.

![image](https://user-images.githubusercontent.com/8419308/28137741-83d5574e-670b-11e7-91ba-7e2dd714eb0b.png)

[2017-07-12 20:13] arouinfar commented on #78
Flying PhET girl has been adjusted so that the center of the image falls close to the belt buckle
![image](https://user-images.githubusercontent.com/8419308/28137455-923f0fec-670a-11e7-81bd-699bdfb90203.png)

The piano has be similarly adjusted so that the center is a little higher up
![image](https://user-images.githubusercontent.com/8419308/28137499-bc84d200-670a-11e7-9019-d3d5a34ba06c.png)

I w

[2017-07-12 20:40] arouinfar commented on #81
@andrea-phet I have adjusted the artwork for the benchmarks and will email them to you. All .png files are now sized to be 2x the resolution of the max diameter at the max zoom level on an iPad.

For example, on an iPad at max zoom, the 1m baseball should be 1/2 the size of baseball.png.

I also ended up revising some of the benchmark defaults/ranges for for more reasonable scaling. The values can

[2017-07-12 20:43] phet-steele opened #86 "1.0.0-dev.5 memory leak"
@andrea-phet you may want to look into #42 if needed. This should also help with iPad 2 performance. Ran the test with this link in macOS 10.12.5 Chrome: http://www.colorado.edu/physics/phet/dev/html/projectile-motion/1.0.0-dev.5/projectile-motion_en.html?fuzzMouse

Heap snapshots are recorded once every minute. Target MB usage over 5 minutes is between 20 - 70 MB (simply due to how other sims per

[2017-07-12 21:45] phet-steele opened #87 "Tracer tool enters the tool box agressively"
@arouinfar @andrea-phet you may already have seen this in interviews (bummer), dev.6 and master return the tracer tool to the toolbox if it is placed anywhere along the right half of the screen:

NOT an issue in dev.5, also tape measurer is NOT affected.
![prmo02](https://user-images.githubusercontent.com/5863899/28141192-c0cfdef0-6718-11e7-93df-78b965f51601.gif)

Seen on macOS 10.12.5 Chrome.

[2017-07-12 22:29] andrea-phet commented on #70
It has been added to master.

[2017-07-12 22:33] andrea-phet commented on #69
Yes, done.

[2017-07-12 22:44] andrea-phet commented on #72
Okay, it's a 1* step on Lab now.

[2017-07-12 22:48] andrea-phet commented on #73
Good idea, just updated.

[2017-07-12 22:56] andrea-phet commented on #79
Done.

[2017-07-12 22:57] ariel-phet commented on #77
@arouinfar the new size you are showing looks good

[2017-07-12 23:09] andrea-phet commented on #80
Okay, those two changes were made.

[2017-07-12 23:25] andrea-phet commented on #61
I was dividing the part above the pivot and the part below the pivot a pixel off. Should be fixed now.

[2017-07-12 23:40] arouinfar commented on #70
👍

[2017-07-12 23:40] #70 closed

[2017-07-12 23:40] arouinfar commented on #69
👍

[2017-07-12 23:40] #69 closed

[2017-07-12 23:41] arouinfar commented on #72
Looks good on my laptop, but I'll also need to review it on an iPad.

[2017-07-12 23:47] arouinfar commented on #73
👍

[2017-07-12 23:47] #73 closed

[2017-07-12 23:47] arouinfar commented on #79
Love it!

[2017-07-12 23:47] #79 closed

[2017-07-12 23:48] arouinfar commented on #77
Thanks @ariel-phet. I've sent the updated asset to @andrea-phet to implement with the changes in #81. Closing.

[2017-07-12 23:48] #77 closed

[2017-07-12 23:51] arouinfar commented on #61
All fixed!

[2017-07-12 23:51] #61 closed

[2017-07-12 23:57] arouinfar opened #88 "Add cueing arrows to height"
In interviews, neither student adjusted the height of the cannon. When asked to change the cannon height at the end of the interview, the students were able to figure out how to drag the cannon up. Seems like we should add a cueing arrow to the cannon. Self-assigning to mock up some options.

[2017-07-12 23:59] arouinfar commented on #87
Observed this in interviews too. Sometimes students would drag the tool out and it would immediately snap back into the toolbox.

[2017-07-13 16:15] phet-steele opened #89 "Layer vectors over path"
<img width="217" alt="screen shot 2017-07-13 at 10 09 29 am" src="https://user-images.githubusercontent.com/5863899/28176214-cdde593c-67b3-11e7-9e7c-8debbe56ea15.png">

Mostly for the sake of acceleration vectors that are hard to see behind the path. The x component is generally very small (it is there, but can't really be seen in the above screenshot). @arouinfar is okay with this change. So the

[2017-07-13 16:41] jonathanolson opened #90 "strokeWidth in DragProjectilePanel"
Noticed this in TEXT_BACKGROUND_OPTIONS. First, it would be `lineWidth` instead of `strokeWidth`, and second, `lineWidth: 1` is the default, so generally doesn't need to be specified. Should be safe to remove it?

[2017-07-13 20:06] andrea-phet commented on #90
Good catch, it is not necessary so I removed it.

[2017-07-13 20:06] andrea-phet commented on #90
Assigning to @jonathanolson to review and close.

[2017-07-13 20:07] jonathanolson commented on #90
Looks good, thanks!

[2017-07-13 20:07] #90 closed

[2017-07-13 20:17] andrea-phet commented on #89
Good idea. Assigning to @arouinfar to review, also @phet-steele feel free to take a look.

[2017-07-13 21:19] arouinfar commented on #80
Reviewed in design meeting, and the shifting flatirons look good. No need to scale the image with the zoom.

[2017-07-13 21:19] #80 closed

[2017-07-13 22:54] andrea-phet commented on #63
@phet-steele and I looked at it, and the touch to snag looks good.

[2017-07-13 22:54] #63 closed

[2017-07-14 00:39] arouinfar commented on #88
In today's design meeting, we discussed several options to cue that the height is adjustable (summarized in the meeting notes). We decided to pursue lightweight cueing arrows on both the cannon's height label and barrel, similar in style to the arrows used to cue the switch in Capacitor Lab: Basics. The placement will roughly be like this, with the arrows on the barrel being arc-shaped.
![image](h

[2017-07-14 00:49] arouinfar commented on #84
Discussed during today's design meeting. @andrea-phet updated the behavior so that pressing fire will not unpause the sim. When fire is pressed, the projectile appears at the origin
![image](https://user-images.githubusercontent.com/8419308/28193640-7fc07292-67fb-11e7-8036-6900c6a3e18b.png)

Up to three projectiles can be queued up. For example, the cannonball, tank shell, and football:
![image](h

[2017-07-14 03:36] arouinfar opened #91 "Shift center of mass of morphing drag projectile"
Related to #78, the COM of the morphing drag projectile is centered in the shape. At times, the center point is noticeably shifted from the COM.
![image](https://user-images.githubusercontent.com/8419308/28197101-e4a0a982-6811-11e7-9e60-259c546ed9c8.png)

During design meeting, the team discussed a options
(1) Manually define the COM for each shape (similar to Balancing Act)
(2) Dynamically calcul

[2017-07-14 03:37] arouinfar commented on #78
Tracking the COM of the drag objects in #91, so this issue can be closed.

[2017-07-14 03:37] #78 closed

[2017-07-14 03:59] arouinfar opened #92 "Tracer tool pixel polishing"
As discussed in design meeting, the tracer tool has a lot of empty space between the strings and readouts. This can be reduced a bit and the tool shortened overall. For grabbability, the tool extends for 20 px beyond the readouts.
<img src="https://user-images.githubusercontent.com/8419308/28197753-342a4018-6816-11e7-9051-4da0cd1e82ca.png" width=300>

[2017-07-14 04:11] arouinfar commented on #89
Definitely an improvement @andrea-phet!
![image](https://user-images.githubusercontent.com/8419308/28198022-3550dc20-6818-11e7-9cb0-53af410471c9.png)

[2017-07-14 04:11] #89 closed

[2017-07-14 04:22] arouinfar commented on #46
Updated assets have been delivered to @andrea-phet.

[2017-07-14 19:10] phet-steele commented on #84
Great, thanks all!

[2017-07-14 19:10] #84 closed

[2017-07-14 19:46] arouinfar commented on #72
The student didn't appear to have any issues adjusting the angle on the iPad, but he also wasn't trying to precisely set the angle.

[2017-07-14 19:52] arouinfar commented on #88
Even with the cueing arrow in dev.7, the student didn't adjust the height of the cannon until prompted. That said, he was much quicker to adjust the height than previous students.

In the next interview, I'm going to try raising the cannon and leveling the angle on the Intro screen to see how it affects the flow.
![image](https://user-images.githubusercontent.com/8419308/28228296-2937b9bc-689b-11e

[2017-07-17 16:47] andrea-phet commented on #20
Assigning to @Denz1994 to review and close.

[2017-07-17 17:01] Denz1994 commented on #20
While looking over commit a76e01e, it seems to follow the suggestion made in  phetsims/scenery-phet#214 (comment). We are no longer searching for a ScreenView parent but use the parent (which is a ScreenView) of the tracerNode and measuringTapeNode.

Before closing, are there any other suggestions from @pixelzoom that you think would be useful. I noticed that phetsims/scenery-phet#214  is up for d

[2017-07-17 17:21] andrea-phet commented on #87
Assigning back to @phet-steele to check.

[2017-07-17 17:21] andrea-phet commented on #85
Assigning to @phet-steele to check.

[2017-07-17 17:47] pixelzoom commented on #20
I have not used this creator pattern, I only identified it as an anti-pattern.  I suggest that you have @jbphet review your changes, since he invented the "search for parent ScreenView" approach, then converted his sims like you're doing here.

That said... A couple of things that I do notice about the changes in https://github.com/phetsims/projectile-motion/commit/a76e01e37a7cfe89d9a80f6a96719aa5

[2017-07-17 17:48] pixelzoom commented on #20
Note: @jonathanolson just added ES5 getter for `parent` to Node, so feel free to use `.parent` instead of `.getParent` in the above.

[2017-07-17 17:49] andrea-phet commented on #83
Should be good now.

[2017-07-17 18:26] samreid commented on #56
Looks great, thanks! Closing.

[2017-07-17 18:26] #56 closed

[2017-07-17 18:47] andrea-phet commented on #46
The updated image has been incorporated.

[2017-07-17 19:42] Denz1994 commented on #20
Thanks for the input @pixelzoom.

I am going to remain assigned to this issue to learn from the follow-up after @jbphet review, and I think he should close this after any changes rather than me.

[2017-07-17 20:22] andrea-phet commented on #91
Assigned to @arouinfar to take a look.

[2017-07-17 20:41] arouinfar commented on #46
I like it @andrea-phet.

@ariel-phet would you also like to review it?
![image](https://user-images.githubusercontent.com/8419308/28288894-f03b5ed8-6afd-11e7-9ef4-913451242f6c.png)

[2017-07-17 21:28] phet-steele commented on #88
@arouinfar @andrea-phet, if we keep these cueing arrows, they need to reappear after a Reset All! (they currently do not)

[2017-07-17 21:33] ariel-phet commented on #46
Looks great, closing

[2017-07-17 21:33] #46 closed

[2017-07-17 21:43] andrea-phet commented on #71
Assigning @arouinfar to review.

[2017-07-17 22:02] andrea-phet commented on #81
The new artwork and updated benchmark info have been incorporated. Assigning to @arouinfar to review.

[2017-07-17 22:09] arouinfar commented on #71
👍

[2017-07-17 22:09] #71 closed

[2017-07-17 22:11] arouinfar commented on #91
Looks great!

[2017-07-17 22:11] #91 closed

[2017-07-17 23:02] samreid commented on #57
Things are looking much better, the JSDoc syntax is being used for the functions now.  Thanks, closing.

[2017-07-17 23:02] #57 closed

[2017-07-17 23:04] samreid opened #93 "5/8 reset methods are missing JSDoc"
While reviewing https://github.com/phetsims/projectile-motion/issues/57 I noticed that 3 of the 8 reset methods have JSDoc but the others are missing JSDoc.  The JSDoc should be added where it is missing.

[2017-07-17 23:12] samreid opened #94 "Standardize and update method JSDoc"
Discovered while reviewing #57, I noticed several inconsistencies in the JSDoc which would be good to standardize:

This one has an incomplete return type
[code]

This one has no description and I'm not sure if the sentence ends at the right point.

[code]

This one has extra whitespaces in after the `@param`s.  (There are several places with this problem).
[code]

This one puts the visibility ann

[2017-07-18 16:14] phet-steele opened #95 "Cannot read property 'mouseenter' of undefined"
Can be caused by attempting to open the keypad on the Lab screen.

[code]

[2017-07-18 16:15] phet-steele commented on #83
@andrea-phet, I cannot test this due to #95.

[2017-07-18 16:18] phet-steele commented on #87
The tracer tool has calmed down, thanks!

[2017-07-18 16:18] #87 closed

[2017-07-18 16:25] phet-steele commented on #85
This is great @andrea-phet. Thanks.

[2017-07-18 16:25] #85 closed

[2017-07-18 19:01] andrea-phet commented on #94
Good catches, assigning back to @samreid to review.

[2017-07-18 19:01] andrea-phet commented on #93
The missing doc has been added, assigning to @samreid to review.

[2017-07-18 19:17] andrea-phet commented on #95
Should be good now.

[2017-07-18 19:18] andrea-phet commented on #83
Should be good now.

[2017-07-18 20:29] andrea-phet commented on #60
The strings and fill in code have been updated. Assigning to @pixelzoom to review.

[2017-07-18 20:46] andrea-phet opened #96 "Self code review"
*A checklist for AL to follow*

PhET code-review checklist
=============

#### **Build and Run Checks - Initial**

- [x] Does the sim build without warnings or errors?
- [x] Does the html file size seem reasonable, compared to other similar sims?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim experience any assertion failures? (run with query parameter `ea`)
- [x] D

[2017-07-18 21:03] andrea-phet commented on #96
Is this referring to the projectile-motion_en.html in built versions? @jbphet

[2017-07-18 21:11] andrea-phet commented on #39
Reviewed, closing.

[2017-07-18 21:11] #39 closed

[2017-07-18 22:28] andrea-phet commented on #86
Now, for master, heap snapshots are at:

| min | MB |
| --- | --- |
| 0 | 41.2 |
| 1 | 48.6 |
| 2 | 49.7 |
| 3 | 50.3 |
| 4 | 51.0 |
| 5 | 53.2 |
| 10 | 54.5 |
| 15 | 52.8 |
| 20 | 53.3 |
| 25 | 53.0 |
| 30 | 55.6 |

[2017-07-18 22:29] andrea-phet commented on #86
Assigning to @phet-steele to review.

[2017-07-18 22:31] andrea-phet commented on #42
Disposes have been implemented and documentation has been made where dispose was not needed. @pixelzoom can you either review this, or close this issue if you would like to wait until code review to do it.

[2017-07-18 23:04] arouinfar commented on #92
Looks pretty good @andrea-phet, but I think there's a little bit too much padding to the right of the readouts. Can you reduce the padding by 15%?

[2017-07-18 23:23] samreid commented on #94
It is customary to put the return after the params:

[code]

This one has an extra slash character:

[code]

Signatures of functions should be described:
[code]

[2017-07-18 23:23] samreid commented on #93
Looks great, thanks!

[2017-07-18 23:23] #93 closed

[2017-07-18 23:26] ariel-phet commented on #96
@andrea-phet yes, the html file in built versions. Basically we noticed that john travoltage was quite large after various a11y features were added. Since we have been adding features to the sims (a11y related, PhET-iO related, it seemed wise to start making sure we were not accidentally/unknowingly bloating the size of the production sim too much).

[2017-07-18 23:35] samreid opened #97 "Reformat using the IDEA code style"
While reviewing #94 I noticed that some files were not formatted according to the IDEA codestyle.  I'll format and commit shortly.

[2017-07-18 23:38] samreid commented on #97
OK I pushed the formatting changes, closing.

[2017-07-18 23:38] #97 closed

[2017-07-19 09:53] jonathanolson commented on #49
I've somewhat narrowed down how to improve performance here, and will continue working on it tomorrow.

[2017-07-19 15:09] pixelzoom commented on #60
👍  Closing.

[2017-07-19 15:09] #60 closed

[2017-07-19 15:13] pixelzoom commented on #42
Looks like you understand the `dispose` pattern.

One question:  In Trajectory.dispose, why did you choose to clean up `this.dataPoints` in `dispose` rather than in `this.disposeTrajectory`?  Typically all of the type-specific disposal would be encapsulated in `this.disposeTrajectory`.

[2017-07-19 15:14] pixelzoom commented on #42
I see you commented out this line:

`83       // this.dataPoints.clear();`

So perhaps you were on the fence about where to handle this.

[2017-07-19 18:24] jbphet commented on #20
For the most part, the commit above looks reasonable, except that there is a duplicated line of code.  Here is an excerpt:

[code]

The duplication should be fixed.  After that, please leave this issue unassigned but open, and we will revisit it when the simulation is getting closer to publication.  The solution for event forwarding is currently evolving, with details found in https://github.com/p

[2017-07-19 18:44] andrea-phet commented on #20
Thanks for catching that. I fixed it, and will just leave this issue open.

[2017-07-19 18:45] andrea-phet commented on #20
@Denz1994 I'm removing your assignment but you can assign yourself back if you want to follow this.

[2017-07-19 19:04] andrea-phet commented on #94
Ready for review again, assigning back to @samreid.

[2017-07-19 19:04] pixelzoom commented on #20
@jbphet said:

Information about the "creator pattern" is supposed to live in phetsims/scenery-phet#214.  But it's currently leaking over into phetsims/scenery#639 (where things are currently broken).  So @andrea-phet you may need to monitor both issues until we can get phetsims/scenery#639 fixed, and phetsims/scenery-phet#214 in sync with reality.

[2017-07-19 19:19] andrea-phet commented on #92
Yes, I tried that and reduced it by a bit more, I think 20%.

[2017-07-19 19:23] andrea-phet commented on #42
Yes, I couldn't think of a specific reason to choose this.disposeTrajectory or Trajectory.dispose. But I'll go with what is more typical, then.

[2017-07-19 19:50] pixelzoom commented on #42
@andrea-phet I made one change in Trajectory.dispose.  Unless there's a reason to reuse a loop variable (`i` in this case), the variable is typically defined in the `for` statement.   You had it defined outside the statement, and it looks like a common pattern that you're using.

E.g, you're doing:

``js
var i;
for ( i = 0; i < this.dataPoints.length; i++ ) {
  ...
}
[code]

Looks like you're doin

[2017-07-19 19:57] pixelzoom commented on #42
To be clear... Here's an example where defining the loop variable outside the `for` statement is useful.

[code]

You could also get away with this in JavaScript:

[code]

In other languages, the scope of `var i` would be limited to the `for` statement.  But JavaScript has very non-standard scoping rules. It "hoists" variables - it automatically moves their declarations to the top of the enclosing

[2017-07-19 19:58] pixelzoom commented on #42
Also note that you can't do this:

[code]

Because there are two `var i` declarations in the function scope, JavaScript treats the second one as a duplicate.  In other languages this would be just fine, since the scope of the loop variable is limited to the `for` statement block.

[2017-07-19 21:16] andrea-phet commented on #96
What does this mean?

[2017-07-19 21:23] andrea-phet opened #98 "Credits"
This is to track credits, to ensure they are correct before publication.

Assigning to @ariel-phet.

[2017-07-19 21:27] andrea-phet commented on #98
The latest version has:
![image](https://user-images.githubusercontent.com/7988696/28390308-b3047ff0-6c96-11e7-90b5-09c8596f7022.png)

[2017-07-19 21:29] ariel-phet commented on #98
@andrea-phet please add "Wendy Adams" to the Team section (we have a policy of copying over original team members to ports)

You might also want to ask @jbphet if he wants to be included in the credits as he has been part of many of the design meetings now.

[2017-07-19 21:30] ariel-phet commented on #98
Oh, and please move Michael Dubson up to the Lead Design section, and remove him from software

[2017-07-19 22:27] arouinfar commented on #92
@andrea-phet I pulled master and the tool looks really similar to me. If anything, the padding to the right of the readouts grew...
![image](https://user-images.githubusercontent.com/8419308/28392425-232112be-6c9f-11e7-8387-c96d6d4a9d8e.png)

[2017-07-19 22:29] arouinfar commented on #72
@phet-steele and I have both tested this out on the iPad, and found the angle to be easy to control at 1* increments. I don't have any further recommendations to make. Thanks @andrea-phet!

[2017-07-19 22:29] #72 closed

[2017-07-20 00:59] jonathanolson commented on #49
@samreid's suggestion for a SVG-side clipping region (instead of a div CSS clip) looks like it may be our best solution. Many thanks!

It seems to mostly be a win for performance (most notably when the arrow goes off the screen). I'll be creating a Scenery issue to investigate if this should always be applied on mobile Safari, or if there is also a related performance degradation.

Commit above ap

[2017-07-20 02:19] samreid commented on #94
Looks great, I made one commit above.  Can you double check it is OK?  If so, please close the issue.

[2017-07-20 15:57] andrea-phet commented on #42
Okay, I made changes everywhere else as well. @pixelzoom could you review and close?

[2017-07-20 15:58] andrea-phet commented on #94
Yes, looks good. Closing.

[2017-07-20 15:58] #94 closed

[2017-07-20 16:04] andrea-phet commented on #92
Oops, you're right. How about now:
![image](https://user-images.githubusercontent.com/7988696/28427262-d0ff10f0-6d32-11e7-968d-e2951fac029f.png)

[2017-07-20 16:28] phet-steele commented on #95
Not being reported on bayes anymore.

[2017-07-20 16:28] #95 closed

[2017-07-20 16:30] phet-steele commented on #83
Working well now. Let's hope there are no other numbers that cause this!

[2017-07-20 16:30] #83 closed

[2017-07-20 16:59] arouinfar commented on #92
Looks good @andrea-phet!

[2017-07-20 16:59] #92 closed

[2017-07-20 17:06] amanda-phet commented on #98
You should move me from lead to team.

[2017-07-20 17:22] arouinfar opened #99 "Include readout in click/touch area to open number pad"
@andrea-phet we generally include the readout next to the edit button in the click/touch area to open the number pad. Can you please adjust?
<img src="https://user-images.githubusercontent.com/8419308/28430372-938839b2-6d3d-11e7-98a1-d7c6b049691d.png" width=300>

[2017-07-20 17:24] arouinfar opened #100 "Increase size of halo"
@andrea-phet the yellow halo that appears when the tracer tool overlaps a timing dot is pretty subtle, and can be hard to see when under the crosshairs. Can you increase the size of halo a bit?

![image](https://user-images.githubusercontent.com/8419308/28430447-d32645b4-6d3d-11e7-9b76-c0c34d4ff302.png)

[2017-07-20 17:39] phet-steele commented on #86
Not leaking on master! Great job!

[2017-07-20 17:39] #86 closed

[2017-07-20 18:12] arouinfar commented on #81
Looks pretty good @andrea-phet. A few more requests...
- [ ] Scale down Buick by 10%
- [ ] Scale down Tank shell by 50% (seems to be 2x too large)
![image](https://user-images.githubusercontent.com/8419308/28432173-304baea4-6d44-11e7-920a-e33f6060ad4c.png)
- [ ] Crashed pumpkin is obviously larger than the original. I double checked the assets, and they are sized properly.
<img src="https://user-i

[2017-07-21 16:49] pixelzoom commented on #42
Looks great.  You've moved loop variable declarations into for statements, and I also see some examples where you've made good use of explicit hoisting (e.g. `i` in `ProjectileMotionModel.updateTrajectoriesWithMovingProjectiles`).

Closing.

[2017-07-21 16:49] #42 closed

[2017-07-21 20:28] andrea-phet commented on #99
The readout can now be clicked on to open the keyboard as well.

[2017-07-21 21:18] arouinfar commented on #99
👍

[2017-07-21 21:18] #99 closed

[2017-07-21 21:29] arouinfar commented on #88
After conducting 3 more interviews and further discussion at design meeting, we've decided to ditch the cueing arrows on the barrel and proceed with the following changes:

- [ ] On Intro, the cannon's default state is: height = 10 m, angle = 0 *, initial speed = 15 m/s (all screens)
- [ ] Light blue cueing arrows above and below the height label (intro screen only)
- [ ] When visible, cueing arro

[2017-07-21 22:39] arouinfar opened #101 "Muzzle flash should be responsive to pause/slow motion"
The team reviewed the muzzle flash during yesterday's design meeting. Overall, it looks great, but can look a bit odd when in slow motion or when a projectile is queued up (fired) while paused. @jbphet had some suggestions about how @andrea-phet could make the muzzle flash animation responsive to the sim speed and state, so we decided to go for it.

[2017-07-22 00:51] andrea-phet opened #102 "ProjectileNode TODOs"
Getting a view-coordinate copy of the DataPoint would be ideal, so viewPointProperty wouldn't be needed.

[2017-07-22 00:53] andrea-phet commented on #102
Also, in this piece of code, a more robust system for only removing once (remove these listeners!) would be good:
[code]

[2017-07-22 01:15] andrea-phet commented on #96
The only thing that didn't pass is stringTest=long, but I don't think we need to support that anymore, so checklist complete.

[2017-07-22 01:15] #96 closed

[2017-07-22 01:32] andrea-phet opened #103 "Code review"
*Please mark failed items with ❌*

PhET code-review checklist
=============

#### **Build and Run Checks**

- [x] Does the sim build without warnings or errors?
- [x] Does the html file size seem reasonable, compared to other similar sims? (2MB)
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim experience any assertion failures? (run with query parameter `ea`)
- [x] Do

[2017-07-22 01:40] pixelzoom commented on #103
Got it. @ariel-phet told me this is high priority, to be done before my vacation. I'm planning to blaze through this on Wednesday 7/26.

[2017-07-22 17:34] andrea-phet opened #104 "Fix initialspeedpanel for stringTest=long"
@ariel-phet said:

Assigning to myself, considering this pixel polishing.

[2017-07-22 19:26] pixelzoom opened #105 "memory testing?"
I'm about to start final code review #33, and it's unclear what memory testing this sim has had.  My concern is that addressing memory leaks can sometimes require major code changes, which then require code review.

@andrea-phet Has this sim been tested for memory leaks using heap snapshot? What were the results?

[2017-07-22 19:28] phet-steele commented on #105
The extent of testing is here: #86

[2017-07-22 19:33] pixelzoom commented on #105
Thanks @phet-steele!

[2017-07-22 20:06] pixelzoom opened #106 "incorrect string keys for screen names"
Related to code review #103.

The strings for screen names in `projectile-motion-strings_en.json` are currently:

[code]

As noted in the checklist item, "Screen names should use camelcase, like `screen.screenName`."  That is admittedly not very clear, and I'll update the checklist accordingly.   To clarify... The convention for screen names is to use `"screen.{{TITLE}}"` for the key.  So the abov

[2017-07-22 20:24] pixelzoom opened #107 "Buick® is a registered trademark of General Motors"
Noted during code review #103.

This sim uses the string "Buick". Buick® is a registered trademark of General Motors.See https://www.gm.com/copyright-trademark.html.  Has PhET obtained the rights to use? Has the use been cleared with CU legal?

[2017-07-22 20:26] arouinfar commented on #107
@pixelzoom my guess is no. The "Buick" string was ported from Flash, but I'd be fine with using "Car" instead.

[2017-07-22 20:37] pixelzoom opened #108 "too much artwork in 1 .ai file"
Related to code review #103, this checklist item:

The "_not necessarily_" bit in this checklist item is not a "pass" to put everything into one .ai file.  It's supposed to cover 2 situations: (1) "relate images", e.g., a human body that was broken into multiple PNG files for movable body parts, and (2) a PNG that was generated by a screenshot.

With the exception of fire_button.ai, all assets for

[2017-07-22 20:40] pixelzoom commented on #107
@andrea-phet If the string changes (e.g to "Car"), be sure to change the string key.  You might also want to rename "buick_1.png" and "buick_2.png".

[2017-07-22 20:41] pixelzoom commented on #107
@arouinfar Unclear whether you made a decision here or passed that decision on to @ariel-phet. Please clarify.

[2017-07-22 20:48] pixelzoom opened #109 "branch: projectile-paths"
Related to code review #103, this item:

I'm going to update the code-review check list to note that all non-release branches should have an associated GitHub issue (which is why I'm creating this issue.)

Please document the purpose of this branch.  Then if the branch is no longer needed, delete it.

[2017-07-22 21:00] pixelzoom opened #110 "typos and broken link in implementaton-notes.md"
Related to code review #103.

While reviewing [implementaton-notes.md](https://github.com/phetsims/projectile-motion/blob/master/doc/implementaton-notes.md), I fixed some typos and a broken link. Review the change history to see what I did.

This issue is an FYI.  Feel free to close after reviewing.

[2017-07-22 21:02] pixelzoom commented on #110
I made 6 consecutive commits, between https://github.com/phetsims/projectile-motion/commit/904371ba9258a9440726a06fa19d16b4025e3296 and https://github.com/phetsims/projectile-motion/commit/41d313c3c33d9d73720128a2f423bfa8e42bae30.  I didn't link them to this issue, because I hadn't planned on creating this issue :)

[2017-07-22 21:13] pixelzoom commented on #103
@andrea-phet FYI, I pushed a minor documentation fix (type expressions) in https://github.com/phetsims/projectile-motion/commit/bd283ab254666444f70643b41757250144843f9a.

For something like:

`var someProperty = new BooleanProperty( true );`

... you don't need to in `{BooleanProperty}`, it's obvious.  And `{BooleanProperty.<boolean>}` is incorrect, because BooleanProperty isn't polymorphic.

[2017-07-22 21:21] pixelzoom opened #111 "differentiate between property and Property in comments"
Related to code review #103, this item:

In comments, IntelliJ IDEA finds 27 occurrences of "property" and 27 occurrences of "properties".  A checked a few of these, and it looks like most (all?) should be Property and Properties respectively.

[2017-07-22 21:39] pixelzoom opened #112 "controls in the "ground" are cramped"
Related to code review #103, this item:

Below is a screenshot of  the Lab screen, which has the most controls, with `?dev&showPointerAreas`.

My feedback:
(1) Controls in the ground feel generally cramped, too close to the navigation bar.
(2) Play/pause and step buttons are dangerously close to the navigation bar.  The user may hit the Lab button.  And the step button's touch area is probably not

[2017-07-22 22:49] ariel-phet commented on #112
Self-assigning since I have a few thoughts here as well

[2017-07-23 02:12] pixelzoom opened #113 "improve documentation for what requires dispose"
Related to code review #103, this item:

Typically you need to either document each `link` (`multilink`, `addListener`, etc.) call with something like `"unlink unneeded because..."`, or you need to generally describe where `dispose` is needed in implementation-notes.md.  This sim appear to take the latter approach.  But implementation-notes.md is a little vague about where `dispose` is required; i

[2017-07-23 02:25] pixelzoom opened #114 "@author annotations with odd formatting"
Related to code review #30.

Some of the `@author` annotations are oddly formatted, like this:

[code]

I globally replaced these with:

[code]

Nothing for you to do here @andrea-phet. I mainly created this issue in case you have a template in your IDE that needs to be adjusted.

[2017-07-23 02:34] pixelzoom opened #115 "move createParameterControlBox out of DragProjectilePanel"
Related to code review #103.

It looks like `createParameterControlBox` can be moved out of the DragProjectilePanel.

I.e., after the `projectileMotion.register`, have:

[code]

[2017-07-23 02:35] pixelzoom commented on #115
Related to code review #103.

[2017-07-23 02:36] pixelzoom commented on #115
Ah, I see that it use `options`.   And there aren't many instances of DragProjectilePanel.  So never mind.

Closing.

[2017-07-23 02:36] #115 closed

[2017-07-23 02:56] pixelzoom opened #116 "anti-patterns related to options"
Related to code review #103.

There are a few anti-patterns that I see related to `options`.

(1) *No default values*.  An example is in `ProjectileObjectType`, where you have:

[code]

If an `option` is used anywhere in the code, then you need to have a default options hash that contains (and documents) those value.  So your you need something like this in the above:

[code]

Search for "options

[2017-07-23 03:08] pixelzoom opened #117 "prototype functions that could be static or private"
Related to #103 code review.

In TracerNode, it looks like `createInformationBox` can be a private function, and `createIcon` can be a static function. They are currently prototype functions.

Move `createInformationBox` to a private function after the `projectileMotion.register` call, similar to `calculateAirDensity` in ProjectileMotionModel.

Move `createIcon` to the `staticProperties` argument

[2017-07-23 03:20] pixelzoom opened #118 "factor out duplicated code for keypad?"
Related to code review #103, these 2 items:

KeypadLayer and KeypadPanel were copied from unit-rates, then modified slightly. I recognize them because I did the implementation in unit-rates, and I'm shown as `@author`.

Should something be generalized and moved to common code?

Worth noting is that the unit-rates implementation is sub-optimal. I would have preferred to have used joist.Dialog inste

[2017-07-23 03:24] pixelzoom commented on #103
@phet-steele @ariel-phet I'm skipping this code-review item, I don't have time to test on multiple platforms:

[2017-07-23 03:30] pixelzoom commented on #107
Also look for 'buick' or 'Buick' in the code.  I see 9 occurrences of 'buick' (case insensitive).

[2017-07-23 03:38] pixelzoom opened #119 "reduce dimensions of PNG files?"
Related to code review #103.

The PNG files appear to be much larger than how they appear in the sim.  So I'm guessing (but have not confirmed) that they are being scaled way down.   Looks like the scaling is being done by setting `maxHeight` in ProjectileObjectViewFactory `createObjectView`.

Inspecting (for example) the 'piano', I see:

[code]

`transformedBallSize` is used as the value for `max

[2017-07-23 03:43] pixelzoom opened #120 "var names for images don't match PNG filenames"
Related to code review #103.

In ProjectileObjectViewFactory, here are the first couple of `require` statements for PNG files.

[code]

Unlike strings, there is currently no requirement that the `var` name must match the name of the PNG file.  But based on https://github.com/phetsims/chipper/issues/398, that is likely to change in the future.   So to future-proof your code, I recommend that you ch

[2017-07-23 03:47] pixelzoom opened #121 "document when arguments would be null"
Related to code review #103.

In ProjectileObjectType, 3 constructor parameters are documented as having `null` as a possible value:

[code]

In general, you should document why/when something would be `null`.

[2017-07-23 03:48] pixelzoom commented on #121
It seems especially odd (and potentially dangerous) that `rotates` would have `null` as a possible value, since `false` and `null` both are falsey.

[2017-07-23 03:50] pixelzoom commented on #121
These assignments also seem strange;

[code]

If `null` is indeed a valid argument, then lines 43 and 47 should be unnecessary.

Line 48 is basically saying if the `rotates` argument is not truthy, then set `this.rotates` to false.

[2017-07-23 03:57] pixelzoom commented on #119
The images/ directory is 500K, so (after compression) this could be a big chunk of the 2MB html deliverable.

[2017-07-23 04:01] pixelzoom commented on #86
In code review #103, I'm seeing similar numbers to https://github.com/phetsims/projectile-motion/issues/86#issuecomment-316216774, so no memory leaks.

[2017-07-23 04:10] pixelzoom opened #122 "move image-creation functions to ProjectileObjectType"
Related to code review #103.

In ProjectileObjectViewFactory`createObjectView` and `createLandedObjectView`, you big `switch` statements that look like this:

[code]

A better approach would be to `createObjectView` and `createLandedObjectView` functions to ProjectileObjectType.  Then define your objects like this in ProjectileObjectType:

[code]

This prevents spreading string literals around ('c

[2017-07-23 04:14] pixelzoom commented on #103
Code review is done.   Issues created (see above) are relatively minor.  This sim is in excellent shape - well done @andrea-phet!   Let me know if you have any questions.

[2017-07-23 04:15] pixelzoom commented on #105
I verified the results in #86, this sim is not leaking memory. Closing.

[2017-07-23 04:15] #105 closed

[2017-07-24 14:23] arouinfar commented on #107
@pixelzoom Originally I was waiting for @ariel-phet to chime in, but I find it highly unlikely that PhET obtained the rights to use "Buick", so let's go ahead and kill it and replace with "Car".

[2017-07-24 16:12] ariel-phet commented on #107
Agreed, "Car" is probably much safer and less culturally specific.

[2017-07-24 16:26] ariel-phet commented on #108
@arouinfar would it be reasonable for you to break these files up before Andrea returns?

[2017-07-24 16:27] arouinfar commented on #108
It's on my to-do list for today @ariel-phet.

[2017-07-25 15:07] arouinfar commented on #108
I've separated the Projectile_Motion_Artwork.ai file, but have left associated artwork grouped in the same file (e.g. David). I've emailed the .ai files to @andrea-phet to check in once she's back.

[2017-07-25 17:26] phet-steele opened #123 "Height arrow cap is mangled a bit"
The top of my height arrow is pretty broken, anyone else?

<img width="205" alt="screen shot 2017-07-25 at 11 24 40 am" src="https://user-images.githubusercontent.com/5863899/28584990-02c1c0c2-712c-11e7-91cc-ea5fcac1fa2d.png">

Seen on macOS 10.12.5 Chrome. For phetsims/QA/issues/29.

[2017-07-25 17:39] arouinfar commented on #123
Same here @phet-steele. The mangled arrow is also present in latest Firefox and Safari.

[2017-07-25 19:45] arouinfar commented on #112
Thanks your suggestions @pixelzoom! While I didn't witness any accidental screen-changing while stepping during interviews, I agree that there should generally be a bit more padding between the controls and the navbar. I've mocked up some changes to the grassy area on top of a screenshot of dev.8.

Proposed changes:
* Increase grass height by 10px
* Move Initial Speed panel up 5 px (now 10 px abov

[2017-07-25 20:02] arouinfar opened #124 "Slow motion is a bit jerky"
@kathy-phet said:

I agree that slow motion could look smoother, but I think the dots also create an illusion that the animation is a little jerkier than it actually is.  Regardless, I think it would be good for @andrea-phet to look into @kathy-phet's suggestion.

[2017-07-25 20:19] ariel-phet commented on #112
@arouinfar I think the main one is that in the Lab screen (worse case scenario) the "Initial Values"  panel could be tightented vertically a bit (a bit less padding top and bottom) to ease up some conflict with the panels and the ground. I think the drop down could be move up ever so slightly to buy a bit more room in that panel as well.

Here is a mockup for tweaks on dev.8 showing buying a bit m

[2017-07-25 20:20] ariel-phet commented on #112
@arouinfar we could probably also buy a pixel or two by reducing the height of the grass above the road (I don't think much is needed there to give the right impression)

[2017-07-25 21:32] arouinfar opened #125 "Adjust scaling of velocity vector"
@kathy-phet reported:

The velocity vectors do seem a bit big. Self-assigning for further review.

[2017-07-25 21:46] arouinfar commented on #112
Thanks for mocking up the panels @ariel-phet! Your changes free up a lot of needed vertical space. I've added the updated "ground" controls to your mockup, and reduced the grass height by 1 px.
![image](https://user-images.githubusercontent.com/8419308/28595265-6d557536-7150-11e7-823d-5e344ba434b2.png)

[2017-07-25 22:15] ariel-phet commented on #112
@arouinfar I think that all looks good. I actually like the slightly reduced grass height, gives a bit more of the "fading to the horizon" look.

Assigning to you and @andrea-phet to implement the changes when she returns

[2017-07-26 18:39] pixelzoom commented on #118
After thinking about this... I'm reluctant to factor out common code because this implementation would be unnecessary if https://github.com/phetsims/joist/issues/359 and https://github.com/phetsims/scenery-phet/issues/271 were addressed.   So I think that a better idea would be to create issue in projectile-motion and unit-rates indicating that KeypadLayer + KeypadPanel should be replaced when tho

[2017-07-26 19:18] phet-steele opened #126 "Gamify the target by adding a bit of scoring!"
@andrea-phet @arouinfar if it isn't too much work, it would be sweet to vary the amount of stars "received" when hitting the target. This would depend on where the projectile lands. So, hitting the outer red ring would only have ONE star float up, hitting the white ring would be two stars, and hitting a bullseye would be all three stars.

![screen shot 2017-07-26 at 12 55 28 pm](https://user-image

[2017-07-26 19:25] pixelzoom opened #127 "replace keypad workarounds"
Motivated by https://github.com/phetsims/projectile-motion/issues/118.

KeypadLayer and KeypadPanel are a workaround copied from unit-rates.  They are a workaround for the lack of a robust Dialog (phetsims/joist#359) and the lack of closure on the next-gen keypad (phetsims/scenery-phet#283, phetsims/scenery-phet#271).

Rather than factor out "workaround" code, KeypadLayer and KeypadPanel should be

[2017-07-26 19:25] phet-steele opened #128 "Assertion failed: timeToGround is NaN"
@andrea-phet, there is still some wonkiness with high drag forces. On the Lab screen, copy these parameters, pay attention to height and speed!

<img width="398" alt="screen shot 2017-07-25 at 3 33 40 pm" src="https://user-images.githubusercontent.com/5863899/28639400-59a214bc-7205-11e7-8200-f67e5228553e.png">

When the baseball lands, we get the following error:
[code]
This is NOT the only projec

[2017-07-26 19:28] pixelzoom commented on #118
I created #127 in projectile-motion.  And added a comment to the existing issue https://github.com/phetsims/unit-rates/issues/153 in unit-rates.

Closing this issue.

[2017-07-26 19:28] #118 closed

[2017-07-26 19:32] pixelzoom commented on #103
@ariel-phet Since I'll be out 7/29-8/17, and not checking GitHub notifications, you might want to:
(1) Assign another developer to answer any questions that @andrea-phet might have.
(2) Have that developer review the code-review issues that I've created before I leave.

[2017-07-26 19:43] ariel-phet commented on #103
@pixelzoom

@andrea-phet - we will plan on having @jbphet work with you if you have questions on the created issues.

[2017-07-26 20:02] pixelzoom commented on #103
@jbphet Please look over the [code-review issues](https://github.com/phetsims/projectile-motion/labels/dev%3Acode-review) some time before 7/28, and let me know if you think any additional information is needed.

[2017-07-26 20:06] arouinfar commented on #126
@phet-steele I really like this suggestion!  I've thought that it's a little odd to give the same feedback for landing anywhere within the ~3m range of the target.

During interviews, one student made a comment about getting all three stars because he hit the bullseye (the other 4 made no such remarks), so it's possible that *some* students may connect the number of stars to their accuracy. This e

[2017-07-26 21:33] phet-steele opened #129 "[iPad 2] Path, cannon, and tool clipping"
@jonathanolson @andrea-phet, my gut is telling me we have another case of phetsims/function-builder/issues/35 on our hands. *Important*: like the linked issue, only seeing this on iPad 2, iOS 9.3.5.

There's a few ways to see some clipping. @jonathanolson, before you ask, NONE of these work (no issue) with `?rootRenderer=canvas`, but the performance drops considerably.

1. Into screen, set height

[2017-07-26 21:46] jonathanolson commented on #129
Is there a dev release I should be testing on Lave (iPad 2), or should I be testing off of master only?

Assuming I can reproduce, I'll look into layerSplit or renderer:canvas workarounds.

[2017-07-26 22:42] arouinfar commented on #112
@phet-steele pointed out that normal/slow and pause/step are pretty far from the fire button in https://github.com/phetsims/projectile-motion/issues/112#issuecomment-317882371. These controls are often used with one another, and it's important to preserve the proximity. I agree, so I'm going to mock up a few more options.

[2017-07-27 14:22] pixelzoom commented on #112
If the goal of the mockup in https://github.com/phetsims/projectile-motion/issues/112#issuecomment-317882371 was to move the play/pause/step controls away from the screen buttons...   That may work for English, but not necessarily for other locales.  Depending on the translation of the screen names, you have no idea where the screen buttons may end up.

[2017-07-27 14:25] pixelzoom commented on #112
Positioning the controls in the ground seems to be a compromise based on avoid collision with the target's location value.  Besides that compromise, we typically put values _above_ things (e.g. ticks on sliders), otherwise your finger tends to obscure the value on mobile devices.  What if you investigated moving the target's location value (eg 5.0m) above the target?

[2017-07-27 14:29] pixelzoom commented on #112
I said:

But I see that would be a problem for large objects, they would obscure the location when they land.

![screenshot_333](https://user-images.githubusercontent.com/3046552/28675625-ab6be6c4-72a5-11e7-9015-598b0d41bf97.png)

[2017-07-27 16:21] arouinfar commented on #112
To some extent the goal was to move them away from the icons, but primarily I thought it made the ground controls look less cluttered. The buttons have also been shifted up a bit, so I don't think we need to be overly worried about accidental screen switching. We can certainly have @phet-steele and the QA team keep an eye out for this when testing on an iPad.

[2017-07-27 18:52] pixelzoom commented on #127
7/27/17 dev meeting:  @jonathanolson is using the next-gen keypad in area-model, so @andrea-phet should be able to use it in projectile-motion too.  So replace KeypadLayer and KeypadPanel with the next-gen stuff prior to the 1.0.0 release.

@andrea-phet please work with @jbphet and @jonathanolson on this.

[2017-07-27 18:55] pixelzoom commented on #127
@andrea-phet @jbphet @jnnathanolson whatever you do in projectile-motion should be usable in unit-rates, see https://github.com/phetsims/unit-rates/issues/153.

[2017-07-27 20:18] jonathanolson commented on #129
Applied a workaround that prevents the bugginess on my side (and I don't see any major performance decrease). @phet-steele, can you check master, or let me know if a dev version is needed?

[2017-07-27 21:40] phet-steele commented on #129
@jonathanolson, checked master, saw no problems! The performance was negligibly worse. There's more aliasing on the cannon now, but it's a fine trade off (and isn't that bad anyway).

[2017-07-27 22:06] jonathanolson commented on #129
Reopening, as I realized we probably don't want to force Canvas on the cannon on non-mobile-safari.

[2017-07-27 22:08] jonathanolson commented on #129
Applied. Feel free to verify when doing other testing, as it has a low chance of breaking.

[2017-07-27 22:48] jbphet commented on #121
I'm looking at some of the review items since @pixelzoom is going on vacation soon and I need to be up to speed to field any questions.  It looks like support for null values in the constructor is used mostly for constructing the projectile object types for `VECTORS_SCREEN` and `DRAG_SCREEN`.  It strikes me odd that these are projectile object types at all.  How is, say, `VECTORS_SCREEN` the same

[2017-07-27 22:52] jbphet commented on #103
I looked through the issues and found most of them clear.  I commented on one, but the comment was directed at @andrea-phet.  I think I'll be able to field any questions.

[2017-07-28 19:23] phet-steele commented on #129
I said:

Yup! I was too quick to close this issue. @jonathanolson, here are some more ways to repro. These are on master now:

1. Intro screen
2. Angle cannon to 90
3. Zoom out twice (this is min zoom)
4. Fire - see flickering once the projectile starts to come back down. When the projectile lands, there will be no dots

Another:
1. Lab screen
2. Custom
3. Mass = 5000, Di = 3, G = 20, Air res chec

[2017-07-31 22:52] arouinfar commented on #112
I've made a few tweaks to improve the proximity with the fire button and the pause/step buttons, namely:
* Swap the Erase and Fire buttons
* Move Normal/Slow radio buttons to the right of pause/step (also better for i18n)
* Move pause/step/playback speed controls closer to fire button (40 px between fire and pause).

I realize that these changes result in the left side of the grass being much more

[2017-07-31 23:02] arouinfar commented on #125
A vector with a magnitude of 1 m/s appears to be 30px at iPad resolution. If I recall correctly, at default zoom, 1 m = 30 px. Distance and velocity have different units and do not need be on the same scale.
![image](https://user-images.githubusercontent.com/8419308/28801902-ffa3f04c-7610-11e7-8117-c21eb7d31a54.png)

I think 1 m/s could be scaled down quite a bit so that it's barely visible. Perha

[2017-08-02 00:16] kathy-phet opened #130 "Consider dots every 0.1 secs"
When I was playing with the sim quite a bit at AAPT, it seemed like it might be a bit easier to use with dots every 0.1 secs.

In the act of collecting data, it was a bit easy to get lost in where the data collector was placed with the dots so closely spaced and every 0.1 secs makes for easier math. Is it relatively easy to see a version that has dots every 0.1 secs for us to play with and compare

[2017-08-02 18:08] EthanWJohnson commented on #82
I never saw any further issues (I know, a bit late for that) so this can be considered solved.

[2017-08-02 18:08] #82 closed

[2017-08-02 18:56] arouinfar opened #131 "[iPad2] Clipping when Air Resistance is off"
For https://github.com/phetsims/QA/issues/29.

On the Lab screen, if air resistance is off, the Altitude slider's left tweaker and the 'g' in Drag Coefficient are clipped a bit. Turning on Air Resistance fixes the problem.
![file_001](https://user-images.githubusercontent.com/8419308/28889054-0899e1fa-7780-11e7-8e78-b267cfd0b629.jpeg)
![file_000](https://user-images.githubusercontent.com/8419308/2

[2017-08-03 17:16] andrea-phet commented on #125
Leaving assigned to @arouinfar to play with.

[2017-08-03 17:33] andrea-phet commented on #107
Switched to "car."

[2017-08-03 17:38] arouinfar commented on #125
Looks good!

[2017-08-03 17:38] #125 closed

[2017-08-03 17:47] jbphet commented on #107
The license file needs to be updated.

As a note, there are a number of strings in the "autoport" directory of babel that have the "buick" key.  These should probably NOT be ported into the sim, since the word "Buick" may have been translated differently than "car".

[2017-08-03 18:13] samreid commented on #20
@andrea-phet will take a look and let me and @jbphet know if anything else is needed.

[2017-08-04 19:37] jbphet commented on #106
Looks good, closing.

[2017-08-04 19:37] #106 closed

[2017-08-04 22:32] jbphet commented on #127
@andrea-phet - I've updated and cleaned up the common keypad code, so please go ahead and use it in Projectile Motion.  The code is in scenery-phet/js/keypad and there are several demos in scenery-phet/js/demo.  Also, it is currently being used in Area Model Multiplication simulation, so you can find additional examples there if needed.

[2017-08-07 16:00] andrea-phet commented on #20
@jbphet could you review the above commit?

[2017-08-07 17:22] andrea-phet commented on #107
Good catch, the above commit updates the license. What do we do about babel?

[2017-08-07 18:19] andrea-phet commented on #128
@phet-steele and I worked on this together, and we think the error is caused by a zero y acceleration when there is terminal velocity, so the above commit adds an algorithm for that.

[2017-08-07 19:27] andrea-phet commented on #127
Assigning to @jbphet to review.

[2017-08-07 19:30] andrea-phet commented on #102
@jonathanolson , as these TODOs were put in along with performance enhancements, can you explain to me what they mean?

[2017-08-07 19:32] andrea-phet commented on #110
Looks good, closing.

[2017-08-07 19:32] #110 closed

[2017-08-07 19:34] andrea-phet commented on #114
Okay, will look into that.

[2017-08-07 19:34] #114 closed

[2017-08-07 20:01] andrea-phet commented on #119
The images right now are two times larger than what they need to be for a normal ipad resolution, so I think these dimensions work well for various devices. @jbphet and I looked at the images, and even though the entire folder is large, the size of the images themselves are reasonable compared to other sims. As for whether an image looks crummy, mipmaps could be used, but I'd prefer to avoid them

[2017-08-07 21:21] arouinfar commented on #119
@andrea-phet I reviewed the sim in small Firefox windows, and I think the projectiles look reasonable (even when small/zoomed out). There's a bit of aliasing on the cannon, though. How much is the cannon being scaled down? I can re-export it for you at a more reasonable size, if that's an issue.

[2017-08-07 21:36] andrea-phet commented on #81
Updated on master. @arouinfar , how does it look?

[2017-08-07 21:38] andrea-phet commented on #122
The above commit separates out the node creations according to each benchmark, which makes creating a different landed object view option for certain benchmarks. I didn't want to put the image creation into ProjectileObjectType because ProjectileObjectType and ProjectileObjectViewFactor are a model and view pair, respectively. Assigning to @jbphet to review.

[2017-08-07 21:48] arouinfar commented on #81
@andrea-phet the 3m pumpkin looks a bit large
![image](https://user-images.githubusercontent.com/8419308/29047192-d7f4d936-7b87-11e7-8e07-632b43243abe.png)

Are you scaling it differently than the others?

[2017-08-07 21:50] arouinfar commented on #119
After chatting with @andrea-phet, we've decided to try a slightly smaller cannon. Reassigning myself to re-export the cannon assets.

[2017-08-07 22:02] arouinfar commented on #119
@andrea-phet I re-exported the cannon images at a slightly smaller (83%) resolution, as discussed. The .ai asset remains unchanged.

[cannon_base.png](https://user-images.githubusercontent.com/8419308/29047582-8345e2a2-7b89-11e7-8cdb-172decb54bda.png)
[cannon_barrel.png](https://user-images.githubusercontent.com/8419308/29047581-8344ce4e-7b89-11e7-8102-ee700852b063.png)

[2017-08-07 22:14] andrea-phet commented on #81
Everything is scaled empirically, so I went in and tweaked the scaling for pumpkin. How does it look now?

[2017-08-07 22:17] arouinfar commented on #81
Looks much better @andrea-phet!

Does this mean that some assets are actually more than 2x the max size on iPad? If so, let me know in #119. I'm going to go ahead and close this issue.

[2017-08-07 22:17] #81 closed

[2017-08-07 22:42] andrea-phet commented on #119
Even with the smaller cannon images, it still looks weird on Firefox, so I decided to use mipmaps for just the cannon artwork (also the cannon on the fire button, which made it look better). It increases the size of the deliverable by 47 KB, which makes a total of 2MB, which is on the larger side but not out of the range. @arouinfar would you like to take a look and close?

[2017-08-07 22:50] jonathanolson commented on #102
Thew view-coordinate copy of a DataPoint part is because, instead of taking a DataPoint in model coordinates (currently the only ones) and from that creating a DataPoint in view coordinates (using the model-view transform), currently the model DataPoint is getting wrapped in a duck-typed object:
[code]
where ideally, you could have `viewDataPoint = modelDataPoint.transformed( ... )` and just use t

[2017-08-07 22:52] jonathanolson commented on #102
For whether it reached the ground, usually there would be separate listeners for that (not included in the updateFreeBodyDiagram). I'd leave that to the code reviewer to decide, and wouldn't worry much about proactively changing things.

[2017-08-07 23:11] andrea-phet commented on #112
Made the changes suggested above. Leaving @arouinfar assigned to look over.

[2017-08-08 16:28] andrea-phet commented on #102
Actually, I think how things are right now are fine, and are the safest way in terms of unlinking things to prevent memory leaks. Getting a view-coordinate copy would only involve changing position, while leaving other properties such as velocity untouched, so I think wrapping it up that way makes sense.

Another options would be to not have a viewPoint, and simply call modelViewTransform on the m

[2017-08-08 16:34] #104 closed

[2017-08-08 16:37] jonathanolson commented on #102
I think this was being done many times before (which hurt performance). As long as it doesn't decrease performance.

Otherwise I'd leave it up to whoever is doing the code review. I'd have to dig in more to be able to really give an opinion.

[2017-08-08 16:42] andrea-phet commented on #109
The purpose of this branch was to explore ways to draw the projectile paths that would maximize performance. As the work here has been incorporated into master, the branch can be deleted. @jonathanolson , since you created this branch, is this okay?

[2017-08-08 16:43] jonathanolson commented on #109
Sorry about that, I'll remove it.

[2017-08-08 17:01] andrea-phet commented on #102
Okay. I'll stick with the viewPoint property as to avoid calling modelViewTransform too many times. As @pixelzoom has already performed the code review and didn't raise any issues about it, we are good to close this issue.

[2017-08-08 17:01] #102 closed

[2017-08-08 18:04] andrea-phet commented on #101
@arouinfar could you review the above change?

[2017-08-08 18:10] andrea-phet commented on #130
@kathy-phet, the latest on master has dots ever 0.1s instead of 0.05s.

[2017-08-08 18:34] andrea-phet commented on #124
I have looked into this and find it hard to come up with a solution that wouldn't either change a lot of the model or worsen performance. How important is this?

[2017-08-08 18:44] andrea-phet commented on #126
Yes, very feasible. @arouinfar and @phet-steele how does it look?

[2017-08-08 18:53] andrea-phet commented on #100
How's that? @arouinfar
![image](https://user-images.githubusercontent.com/7988696/29089120-8407e712-7c38-11e7-9f6a-01fb1f895a53.png)

[2017-08-08 18:56] arouinfar commented on #100
Looks great @andrea-phet!

[2017-08-08 19:06] #100 closed

[2017-08-08 19:07] arouinfar commented on #112
Looks amazing @andrea-phet!

[2017-08-08 19:07] #112 closed

[2017-08-08 19:07] arouinfar commented on #126
Love it! Thanks @andrea-phet.

[2017-08-08 19:07] #126 closed

[2017-08-08 19:09] arouinfar commented on #101
Looks great, thanks.

[2017-08-08 19:09] #101 closed

[2017-08-08 19:28] kathy-phet commented on #124
I think its worth a conversation with JO to see if he sees an option.

[2017-08-08 19:28] kathy-phet commented on #124
I think it would only need to have this smoother action during a "slow mode" setting, not say adding a smaller timestep at all times.

[2017-08-08 19:33] arouinfar commented on #124
Sounds good @kathy-phet! Reassigning to @andrea-phet and @jonathanolson.

[2017-08-08 19:38] arouinfar commented on #88
👍

[2017-08-08 19:59] arouinfar commented on #119
@andrea-phet the cannon looks much better in Firefox now!

[2017-08-08 19:59] #119 closed

[2017-08-08 20:21] jonathanolson commented on #124
There are a few options to handle this.

## Interpolation

I recommended (very briefly) interpolation between model steps in https://github.com/phetsims/projectile-motion/issues/49 (like wave-on-a-string and potentially other simulations that have a larger fixed-DT timestep, smooth animation between those is desired).

The proper way to do this is to compute the two large-timestep states that we a

[2017-08-08 20:23] jonathanolson commented on #124
My first thoughts would be to look into the variable-timestep model (as the current way of handling friction leads to accumulation of error due to the timesteps).

Any objects?

[2017-08-08 20:59] kathy-phet commented on #130
@arouinfar - I find this easier to make sense of when I'm pulling out the probe and going over the dots. For instance, every 0.1 sec on the default I travel 1.8 m which makes a lot of sense with the 18 m/s starting point. I don't miss the 0.05 sec dot myself. How do you find it?

[2017-08-08 22:38] arouinfar commented on #88
@andrea-phet looks like you forgot to change the cannon's default speed to 15 m/s.

[2017-08-08 22:58] arouinfar commented on #130
@kathy-phet I think the 0.1 s intervals look pretty good, and I like that there's a bit less noise, in general. I think the only potential negative side effect is that it'll be a bit more likely to not have a dot at (or very near) the apex, but I'm not sure how critical that is. What do you think @kathy-phet?

![image](https://user-images.githubusercontent.com/8419308/29098078-9563480e-7c5a-11e7-8

[2017-08-09 15:52] arouinfar commented on #124
@jonathanolson spoke with @kathy-phet and it sounds like it's worth some investigation (possibly in a branch in case things get messy). Do you have time to work with @andrea-phet and @jbphet on this?

[2017-08-09 18:30] kathy-phet commented on #124
@ariel-phet - We could also consider improvements in slow motion for a version 1.1 and release with the current model for this school year fall use.

[2017-08-09 19:13] arouinfar commented on #130
@ariel-phet do you have any objections to the 0.1 s interval?

I'll open a new issue for the further discussion of adding an apex dot.

[2017-08-09 19:17] arouinfar opened #132 "Consider adding an apex marker to the path"
In #130, the timing dots were changed to 0.1 s intervals. One downside is that it'll be less likely to have a dot at (or very near) the apex. One possibility would be to add a marker at the apex. The marker would be visually distinct from the timing dots.

@andrea-phet does the current model allow you to easily find the apex of the path?

[2017-08-09 19:20] arouinfar opened #133 "Muzzle flash animation looks delayed"
Looking at master, it seems like the muzzle flash is still timed to appear when the projectile exits the muzzle.  @andrea-phet would it be possible to trigger the animation to start when fire is pressed, and finish up by the appearance of the 4th tracking dot or so.

[2017-08-09 19:32] amanda-phet commented on #132
This would be super helpful for math teachers using this sim when teaching about parabolas.

[2017-08-09 19:53] arouinfar opened #134 "Change default projectile on Intro Screen to Pumpkin"
In reviewing master with @kathy-phet, we noticed that the default projectile is not deflected much when turning on Air Resistance.
![image](https://user-images.githubusercontent.com/8419308/29139843-951939fc-7d05-11e7-8e4a-c7ae9b22d718.png)

The pumpkin has a much clearer difference.
<img width="833" alt="screen shot 2017-08-09 at 1 27 46 pm" src="https://user-images.githubusercontent.com/8419308/

[2017-08-09 20:55] pixelzoom commented on #127
I took a quick peek at https://github.com/phetsims/projectile-motion/commit/c4957e3b9cd59642e64d1123f3c0b136258cb6b8.  This address one part of the duplicated code, by replacing KeypadPanel with scenery-phet.Keypad.   We'll still need to decide what to do about KeypadLayer, which was also copied from unit-rates.

[2017-08-09 20:58] pixelzoom commented on #127
KeypadLayer still refers to KeypadPanel:

[code]

[2017-08-09 21:16] pixelzoom commented on #127
This issue should not be closed until Keypad.dispose is implemented, see https://github.com/phetsims/scenery-phet/issues/283#issuecomment-320370502.

[2017-08-09 21:37] pixelzoom opened #135 "keypad allows you to enter values that are out of range"
This is probably not related to https://github.com/phetsims/projectile-motion/issues/127, since it behaves this way in 1.0.0-dev.8.    But the keypad allows you to enter values that are out of range, and are then changed when you press Enter.

Example:
1. Go to "Lab" screen
2. Select "Custom" from combo box.
3. Press edit button next to Mass.
4. Enter "7500", then press Enter button
5. Mass is fil

[2017-08-10 15:27] andrea-phet commented on #132
It's not built into the model, but I think I could use basic physics equations to find the apex of the path that isn't affected by drag force, but I'm not sure how to calculate the apex for paths with drag force. @ariel-phet @arouinfar any ideas?

Another option would be to use one of the three data points between each timing dot, and use the data point that is closest to the apex. Because the mod

[2017-08-10 16:00] ariel-phet commented on #130
@kathy-phet @andrea-phet @arouinfar I think the 0.1 dots look good. Closing

[2017-08-10 16:00] #130 closed

[2017-08-10 16:04] andrea-phet commented on #88
Oops, my bad. Should be changed now.

[2017-08-10 16:17] andrea-phet commented on #133
The animation did start, it's just the flame is so small and the animation is slow at the beginning, so I made adjustments to make it bigger and make the animation finish faster (by the 4th tracking dot). @arouinfar , what do you think?

[2017-08-10 16:28] ariel-phet commented on #132
@arouinfar @andrea-phet the apex will always occur when the velocity in the "y" direction is zero. So you probably just need to look for a velocity within some small range of zero for the vertical component of velocity. You might also be able to run a numerical solver to find the apex and @jonathanolson may have some idea.

You are also drawing the path, depending how the path is drawn, the apex w

[2017-08-10 16:33] andrea-phet commented on #123
Should be all good now. Assigning to @phet-steele to review.

[2017-08-10 16:54] phet-steele commented on #123
Yea it is!

[2017-08-10 16:54] #123 closed

[2017-08-10 18:43] andrea-phet commented on #132
@arouinfar how does that look? A green dot represents the apex. It's calculated by doing a linear regression between two dots where the y velocity crosses over zero.

[2017-08-10 19:46] pixelzoom commented on #107
I believe that you can ignore babel.  When porting a sim from Java/Flash, we decided a while back not to port its translations.  @jbphet please confirm.

[2017-08-10 20:21] ariel-phet commented on #124
@andrea-phet I think improvements for slow motion are fine to leave for a later version (step is far more beneficial in this sim than slow motion in my opinion)

[2017-08-10 20:50] pixelzoom commented on #108
The .ai files look great.  Closing.

[2017-08-10 20:50] #108 closed

[2017-08-10 20:51] pixelzoom commented on #111
👍 Closing.

[2017-08-10 20:51] #111 closed

[2017-08-10 20:53] kathy-phet commented on #124
OK -- Deferred it is!

[2017-08-10 20:56] pixelzoom commented on #116
Well done, you addressed all 3 anti-patterns. Closing.

[2017-08-10 20:56] #116 closed

[2017-08-10 20:57] pixelzoom commented on #117
👍 Closing.

[2017-08-10 20:57] #117 closed

[2017-08-10 20:59] pixelzoom commented on #121
👍 Closing.

[2017-08-10 20:59] #121 closed

[2017-08-10 21:06] ariel-phet commented on #132
@andrea-phet It definitely passes the "eye-ball" test...Trying a bunch of conditions quickly the green dot seemed to visually be right at the apex.

I will let @arouinfar make the call, but looking good to me.

[2017-08-10 21:15] pixelzoom commented on #122
I can understand wanting to keep the model and view separate.  But sometime we do put "view creation" function in the model, for convenience and clarity.  That said...

About this bit of code in `ProjectileNode`:

[code]

My concern here is that that `{string} benchmark` must match the name of a function in  `ProjectileObjectViewFactory`.   That dependency is not obvious until you grok the above l

[2017-08-10 21:22] pixelzoom commented on #122
Sketch of alternative solution, showing deltas:

[code]

[code]

[code]

@andrea-phet Does the above make sense, and what do you think of it?

[2017-08-10 21:23] pixelzoom commented on #120
👍 Closing.

[2017-08-10 21:23] #120 closed

[2017-08-10 21:23] pixelzoom commented on #113
👍 Closing.

[2017-08-10 21:23] #113 closed

[2017-08-10 21:29] pixelzoom commented on #20
Based on my understanding of `createForwardingListener` and the usages I see in CCK, this looks correct. Closing.

[2017-08-10 21:29] #20 closed

[2017-08-10 21:30] jbphet commented on #107
Honestly, I don't recall whether we decided that or not.  If so, we should just remove the autoport directory entirely from babel.  At any rate, I'm fine with ignoring babel and having translators start from scratch for this particular simulation since it has changed a lot from the original version.

[2017-08-10 21:37] pixelzoom commented on #107
After discussion on Slack...  There is no need to port translations for this sim.  Keys have changed, and most strings have been revised in some way (e.g. capitalization).  So it would be better to have translators start from scratch.

I don't see "Buick" anywhere in the HTML5 code base, so this is done. Closing.

[2017-08-10 21:37] #107 closed

[2017-08-10 21:40] pixelzoom commented on #127
I fixed the comments mentioned in https://github.com/phetsims/projectile-motion/issues/127#issuecomment-321379590.

[2017-08-10 21:50] pixelzoom commented on #127
The integration of scenery.Keypad looks good, so that bit is done.  But as I mentioned in https://github.com/phetsims/projectile-motion/issues/127#issuecomment-321378867, we need to decide what to do about the duplication in KeypadLayer (which was also copied from unit-rates).

KeypadLayer (in unit-rates) was a workaround for deficiencies and bugs in joist.Dialog. I'm not confident that Dialog is

[2017-08-10 21:51] pixelzoom commented on #127
@jbphet I'm labeling this issue as "blocked" until you complete work on Keypad as described in  phetsims/scenery-phet#283.

[2017-08-10 22:38] andrea-phet commented on #122
Yes, that looks good.

[2017-08-10 22:49] andrea-phet commented on #122
The above commit implements the alternative solution, with one difference in that viewCreationFunction is optional, as some such as Custom do not need one. Assigning back to @pixelzoom to review.

[2017-08-10 23:29] pixelzoom commented on #122
Looks overall great.  But ProjectionNode.js line 101 should probably change from:

[code]

to

[code]

[2017-08-11 15:06] ariel-phet commented on #134
Since @arouinfar is on vacation, I looked. Looks good to me. Closing

[2017-08-11 15:06] #134 closed

[2017-08-11 15:09] ariel-phet commented on #133
Since @arouinfar is on vacation, I took a look on master. Looks good to me. Closing

[2017-08-11 15:09] #133 closed

[2017-08-11 15:19] ariel-phet commented on #88
Looks good, closing!

[2017-08-11 15:19] #88 closed

[2017-08-11 15:21] ariel-phet commented on #132
Since @arouinfar is on vacation, since this looks good, closing

[2017-08-11 15:21] #132 closed

[2017-08-11 16:18] ariel-phet opened #136 "Normal/Slow radio buttons a bit large"
@andrea-phet the normal and slow motion radio buttons look a bit large. Can you make the radius of these radio buttons match the radius of for instance of the "Total" and "Components" radio buttons?

[2017-08-11 16:22] ariel-phet commented on #136
@andrea-phet I also think all the checkboxes could be reduced in size by 1 pixel or so.

[2017-08-11 16:33] phet-steele commented on #136
@ariel-phet the checkboxes look to be the same size as the tweaker arrows (maybe). I used the straight-edge of the tracer tool to basically confirm they are the same width at least. Should those be reduced in size too? I sort of like the look of them being the same, but it may not matter.

<img width="59" alt="screen shot 2017-08-11 at 10 29 45 am" src="https://user-images.githubusercontent.com/58

[2017-08-11 16:42] andrea-phet commented on #136
@ariel-phet I made the normal and slow motion radio buttons match total and components radio buttons, reduced the checkboxes by 3 px, and scaled the arrow buttons to match. How does that look?

[2017-08-11 16:48] phet-steele opened #137 "A handful of objects have the wrong rotation when fired at 0 degrees"
1. Intro or Lab screen.
2. This is easiest to see when the sim is paused...so pause it!
3. Set the cannon to 0 degrees.
4. Choose either the Tank shell, Football, Human, or Car and fire!

At that moment, those objects will be rotated downwards:

<img width="825" alt="screen shot 2017-08-11 at 10 40 36 am" src="https://user-images.githubusercontent.com/5863899/29223074-73317e98-7e82-11e7-9e60-32e1e

[2017-08-11 16:51] phet-steele commented on #136
@ariel-phet, everything is still easy to press with touch after these changes.

[2017-08-11 17:02] ariel-phet commented on #136
Looks great, closing

[2017-08-11 17:02] #136 closed

[2017-08-11 17:07] pixelzoom commented on #122
Looks great. Closing.

[2017-08-11 17:07] #122 closed

[2017-08-11 17:12] pixelzoom commented on #103
With the exception of #127, all related issues have been addressed and closed. So code review is officially done. Nicely done @andrea-phet!

[2017-08-11 17:12] #103 closed

[2017-08-11 17:25] andrea-phet commented on #137
Should be fixed now.

[2017-08-11 17:33] phet-steele opened #138 "Tracer tool is not precise enough to measure the apex"
@andrea-phet, don't get me wrong! We want the tracer tool to not be too precise so it is easy to measure dots from a decent distance away. However, when dots are very close together, it becomes impossible to measure the desired dot. Specifically, it is impossible to measure the apex in 99% of scenarios with tightly spaced dots.

1. Intro screen, aim cannon straight up.
2. Fire.
3. Good luck measur

[2017-08-11 17:58] andrea-phet commented on #138
I made a change such that if the apex point is within the sensing radius around the tracer, the apex point will be highlighted. That effectively prioritizes the apex point, which means that the tracer would not sense other dots that are within sensing radius around the apex point. I think this trade off is worth it, @ariel-phet @phet-steele after playing with it, what do you think?

[2017-08-11 18:04] phet-steele commented on #138
It is indeed a tradeoff since now I can't reliably get points around the apex. It might be worth it. Leaving @ariel-phet and @arouinfar to review/suggest anything.

[2017-08-11 18:33] jonathanolson opened #139 "Top and bottom grass"
Some documentation on when/if both of these are needed would be helpful. To me, it looks like the bottomGrass (which is visually on top!) is a smaller rectangle than topGrass (and bottomGrass could be potentially removed since there is nothing inbetween?)

[2017-08-11 20:42] andrea-phet commented on #139
Good catch. Top grass and bottom grass used to be two different colors, but now that design team has decided they are the same color, they can just  be part of one grass.

[2017-08-11 21:56] jbphet commented on #127
The work on keypad is essentially complete.  There is a test case for dispose of the keypad that is failing, and I'll follow up on that, but this shouldn't block this sim since `Keypad.dispose` is not used.

[2017-08-11 22:31] andrea-phet commented on #127
Leaving this issue open for when Dialog is revamped, but this does not need to be addressed before publishing 1.0.0.

[2017-08-11 22:33] andrea-phet commented on #98
Off to QA land...

[2017-08-11 22:34] andrea-phet opened #140 "Screenshot for 1.0"
@phet-steele will do when ready. @arouinfar please make any suggestions for what you would like it be.

[2017-08-11 22:35] pixelzoom commented on #127
@jbphet said:

Depending on the resolution to https://github.com/phetsims/projectile-motion/issues/135, Keypad.dispose may in fact be required by this sim.   And it's certainly required to proceed with Unit Rates in https://github.com/phetsims/unit-rates/issues/153.

[2017-08-11 22:37] pixelzoom commented on #127
To clarify my comment in https://github.com/phetsims/projectile-motion/issues/127#issuecomment-321933453 ...  This sim currently uses the same Keypad configuration for entry of all values.  That means that the user can enter some values that aren't valid for a field.  In Unit Rates, a new keypad is used for each field, with options tailored to that field.

[2017-08-14 16:15] jonathanolson commented on #139
Looks good, thanks!

[2017-08-14 16:15] #139 closed

[2017-08-14 16:34] ariel-phet commented on #138
I think this solution is working nicely. The apex is sort of a "critical point" for physics problems so it seems worth prioritizing. In the normal use case of a parabolic trajectory I can get points near the apex fairly easily.

[2017-08-14 16:34] #138 closed

[2017-08-14 18:02] arouinfar commented on #140
@phet-steele @andrea-phet here are a few options. I quite like (1) and (2). Any thoughts?

1.  ![image](https://user-images.githubusercontent.com/8419308/29284520-5ee54808-80e8-11e7-820f-ba7019a1c570.png)
2.  <img width="1126" alt="screen shot 2017-08-14 at 11 45 10 am" src="https://user-images.githubusercontent.com/8419308/29284304-59952d1a-80e7-11e7-872b-5599f678adef.png">
3.  <img width="1126"

[2017-08-14 18:26] jonathanolson commented on #129
Less buggy version (with stroke instead): http://www.colorado.edu/physics/phet/dev/html/projectile-motion/1.0.0-dev.10/projectile-motion_en.html

[2017-08-14 18:28] jonathanolson commented on #129
@ariel-phet, can you check whether this is acceptable? We can't reproduce any bugs with the specified procedures above, but changing the speed to 9 m/s (and somewhat 13 m/s) there were a few problems. It happens in general for way less configurations.

[2017-08-14 18:46] andrea-phet commented on #135
The above notifies the user that they are out of range, and does not allow them to enter. @arouinfar and I looked at it and liked it. @pixelzoom , assigning to you to review.

[2017-08-14 18:49] andrea-phet commented on #131
@arouinfar , the above commits fix the original issues, could you review and close?

[2017-08-14 18:55] pixelzoom commented on #135
Comments/suggestions:

(1) The "Range" message needs to be localized. Add something like `"Range: {{min}} - {{max}} {{units}}"` to the strings file.

(2) Consider making the message 'red', and changing the foreground or background of the invalid value to 'red'.  Test for colorblindness.

(3) Consider interviewing to see if students have a problem with this.  It's a non-standard way of indication a

[2017-08-14 18:56] arouinfar commented on #131
Reviewed with @andrea-phet and it looks good.

[2017-08-14 18:56] #131 closed

[2017-08-14 19:02] pixelzoom commented on #135
To support the case whether there are no units, run the string through `trim` to remove the extra space after the max value.  Otherwise the message won't be quite centered in the panel.

I.e.:

[code]

[2017-08-14 19:03] arouinfar commented on #135
Thanks for reviewing @pixelzoom!

@andrea-phet I really like suggestions (1) and (2).

There have been a few other changes made, such as #88, #126, #132, #134, so it may be worth doing 1-2 confirmation interviews. What do you think @ariel-phet?

[2017-08-14 19:10] pixelzoom commented on #135
Re:

In Unit Rates, we changed used 'red' foreground (vs background) to indicate an incorrect answer to a question.  I would start with foreground and see how it looks.  Then change the text back to black the next time one of Keypad keys is pressed.

[2017-08-14 19:11] pixelzoom commented on #135
Re:

In Unit Rates, we used 'red' foreground (vs background) to indicate an incorrect answer to a question.  It also seems more consistent to use red foreground for both the value and message. So I would start with foreground and see how it looks.  Then change the text back to 'black' the next time one of Keypad keys is pressed.

[2017-08-14 19:37] phet-steele commented on #128
I no longer see this in dev.9.

[2017-08-14 19:37] #128 closed

[2017-08-14 19:39] phet-steele commented on #137
Fixed in dev.10.

[2017-08-14 19:39] #137 closed

[2017-08-14 20:21] jbphet commented on #127
The failing test case for the Keypad dispose function is now resolved, see https://github.com/phetsims/scenery-phet/issues/283 and https://github.com/phetsims/scenery-phet/issues/330.  It should be safe to use a version of the keypad that is added and removed if the design moves that direction.  Unassigning myself, @andrea-phet - feel free to assign back if there is any further work needed here.

[2017-08-14 20:44] andrea-phet commented on #135
@pixelzoom how about that? I also checked with @arouinfar already.

[2017-08-14 21:07] pixelzoom commented on #135
When the user presses any Keypad key (numbers, decimal point, backspace), shouldn't the message be hidden and the value fill be restored to 'black'?

[2017-08-14 21:10] pixelzoom commented on #135
For example:

1. Go to Lab screen
2. Select 'Custom'
3. Press edit button for Mass
4. Enter '5001' and press Enter button
5. "Range message" is displayed and '5001' value turns red.

So far, so good.  Now here's what I'd expect:

6. Press any key on the Keypad.
7. "Range" message disappears, value turns 'black'.

But what I see is:

6. Hit the backspace until there's only 1 digit left in the value

[2017-08-14 21:12] pixelzoom commented on #135
Thinking about this more.... Perhaps it is appropriate to keep the "Range" message visible until the user hits Enter again -- since they've made a range error, it's useful to see what that range is.  But I think the text should turn to 'black' as soon as they begin to edit the value.

[2017-08-14 21:15] pixelzoom commented on #135
More... I don't understand the logic for turning the value 'black' when there's 1 digit.  For range 1-5000, if I enter '5001' (for example) and hit the backspace, then '500' is a valid value.   For range 10-100, if I enter enter '1', then later press '2', then '12' is valid.

[2017-08-14 21:18] ariel-phet commented on #129
I think the behavior on dev.10 is completely acceptable now. I was able to reproduce with 9 m/s but that seems like a use case (highly zoomed out) that is rare and not particularly problematic.

Closing

[2017-08-14 21:18] #129 closed

[2017-08-14 21:30] andrea-phet commented on #135
I was trying to turn the value black when the user presses another digit (because it should turn black with next key press, so that was a workaround), but I see now that there are loopholes.

[2017-08-14 22:04] ariel-phet commented on #126
This change turned out very nicely btw. Tried it when showing the sim to a 4 year old, and asked him to make changes to try to get 3 stars.

[2017-08-14 22:05] ariel-phet commented on #135
Side note...@arounifar and I discussed more interviews, I do not think they are necessary for the changes listed.

[2017-08-14 22:05] andrea-phet commented on #135
Just to note, @arouinfar and @ariel-phet decided on no interviews for this one.

[2017-08-14 22:23] arouinfar commented on #135
After a quick zoom chat with @andrea-phet @ariel-phet and @pixelzoom we've decided to...
* Always display range
* Move range to top of the keypad, above the readout
* Remove "Range:" from the string and display the numeric range and unit (e.g. 1-5000 kg)
* Range string will be be black, but turns red if something out-of-range is entered (behaves like the value).

[2017-08-14 22:31] andrea-phet commented on #135
@arouinfar and @ariel-phet could you review?

[2017-08-14 22:42] ariel-phet commented on #135
@andrea-phet I think the functionality is look very good. I might make the following pixel polishes:

1. move the range a bit closer to the readout.
2. top align the keypad to the custom panel

mockup below:

![range](https://user-images.githubusercontent.com/4051174/29295052-9f3e077e-810f-11e7-88bf-8afd6f32609b.PNG)

[2017-08-14 22:52] arouinfar commented on #135
Agreed with @ariel-phet's pixel polishing requests.

The drag coefficient is dimensionless, so the range looks like an expression. I find this a bit unclear, so I'm leaning towards returning "Range:" to the string. @andrea-phet has said that the string keys for the tracer tool's "Range" and the keypad "Range" would be separate, and have some context.

![image](https://user-images.githubusercontent

[2017-08-14 22:56] andrea-phet commented on #135
Here are new updates incorporated:

![image](https://user-images.githubusercontent.com/7988696/29295399-7d1472b2-8111-11e7-8f37-ad3426a58b94.png)

[2017-08-14 23:13] andrea-phet commented on #140
Me too, 1 and 2 are really nice. I also like 4.

[2017-08-14 23:13] andrea-phet commented on #140
Would 2 be too hectic if we included the stars?

[2017-08-15 16:31] arouinfar commented on #135
I like it @andrea-phet! @ariel-phet are you ok with returning "Range"?

[2017-08-15 16:45] pixelzoom commented on #135
Doesn't "Range" have some other meaning in this sim?   How about using the quantity's name, e.g. "Mass: 1 - 5000 kg".

[2017-08-15 16:48] pixelzoom commented on #135
"Drag Coefficient: 0.04 - 1" would likely get scaled down a bit.

[2017-08-15 16:49] pixelzoom commented on #135
![screenshot_349](https://user-images.githubusercontent.com/3046552/29326094-79f9962a-81a7-11e7-9e18-cf9d9d3f9713.png)

[2017-08-15 16:51] pixelzoom commented on #135
Mass: 1 - 5000 kg

![screenshot_350](https://user-images.githubusercontent.com/3046552/29326157-afcb2b56-81a7-11e7-880f-d0947247c521.png)

[2017-08-15 16:55] arouinfar commented on #135
It does @pixelzoom, but @andrea-phet told me that there are two different string keys which have some context to separate the x-distance "Range" from the min-max "Range".

Thanks for the screenshots @pixelzoom! I think "Mass: 1-5000 kg" looks great, but I don't really love the look when the strings get longer. Using the variable name may also be more challenging (length-wise) when it comes to i18n

[2017-08-15 16:57] ariel-phet commented on #135
Thought not completely correct, could also just go with "Drag: 0.04 - 1" since it is explicitly labeled as the drag coefficient in the panel.

My thought was actually just do things like "1 -5000 kg" since the fact it is mass is obvious from the unit label, and for the special case of drag do "Drag: 0.04 - 1"

I am hesitant about using the word Range. What do you think about that solution @arouinf

[2017-08-15 16:58] pixelzoom commented on #135
I wasn't worried about a conflict in string keys.  I'm concerned about confusion caused by showing "Range" in the user interface with 2 different semantics.  I.e.:

![screenshot_351](https://user-images.githubusercontent.com/3046552/29326436-b3975af6-81a8-11e7-8f78-382441d77084.png)

[2017-08-15 17:01] pixelzoom commented on #135
@ariel-phet said:

Complicates the code by having an optional "abbreviated form" of the label that's use for quantities in the control panel.

[2017-08-15 17:07] andrea-phet commented on #135
"Domain" instead of "Range?" Kind of interesting vocabulary, but it avoids using two different Ranges.

![image](https://user-images.githubusercontent.com/7988696/29326694-cb1e1132-81a9-11e7-9bf5-54dc85486169.png)

[2017-08-15 17:07] pixelzoom opened #141 "should the tracer tool be draggable by its probe?"
Discovered while making the screenshot shown in https://github.com/phetsims/projectile-motion/issues/135#issuecomment-322525352.

I tried to drag the tracer tool by it's probe, which I think is a natural thing to do if you want to put the probe on a specific location.  But I discovered that you can only move it by dragging the body of the tool.

In case I have the terminology wrong, this is what t

[2017-08-15 17:08] ariel-phet commented on #135
@arouinfar we could also use "C_d" (as in "C" with "d" as a subscript) since that is a very common abbreviation of drag coefficient.

I think if for drag it came up as "C_d: 0.04 -1" might also work just fine. Your main concern was it looked like an expression. This is a pretty particular use case, and I think it would be OK.

[2017-08-15 17:12] ariel-phet commented on #135
@arouinfar or perhaps the simplest solution:

For drag do "0.04 to 1" so it does not look like an expression.

I really really don't like using the redundant and possibly confusing "Range" or "Domain" prefix when we are just trying to make the drag case cleaner.

[2017-08-15 17:13] pixelzoom commented on #135
Imo, using different labels in the keypad and control panel is fundamentally problematic.  It's potentially confusing to the user, it complicates the code, and being considered for the wrong reasons (to address space constraint).   I would consider making the keypad wider (to accommodate identical labels) before resorting to using different labels.

[2017-08-15 17:20] pixelzoom commented on #135
Not in favor of a solution that is specific to "Drag Coefficient".  That is an English-specific solution. Treat all quantities the same.

[2017-08-15 17:20] ariel-phet commented on #135
@arouinfar I think @pixelzoom and I agree that using "to" for all would work fine

"1 to 5000 kg"
"0.04 to 1"

That keeps things compact, consistent, and clear

[2017-08-15 17:22] pixelzoom commented on #135
Also should require minimal code changes.  Change this:

[code]

to this:

[code]

[2017-08-15 17:23] arouinfar commented on #135
"0.04 to 1"

Love it @ariel-phet!!

[2017-08-15 17:27] andrea-phet commented on #135
All good. Assigning to @pixelzoom to review and close.

[2017-08-15 17:29] pixelzoom commented on #135
👍 Closing.

[2017-08-15 17:29] #135 closed

[2017-08-15 17:39] arouinfar commented on #141
@pixelzoom I really like this suggestion! It does seem like a natural place to drag the tool, so please go ahead and make this change @andrea-phet.

[2017-08-15 19:07] pixelzoom commented on #141
@andrea-phet somewhat related to this, in TracerNode:

[code]

The comment on line 111 seems incorrect.  The listener is added on line 124, and `movableDragHandler` is only public so that events can be forwarded to it by ToolboxPanel.

[2017-08-15 19:15] pixelzoom commented on #141
Here's the patch to implement this.  Deltas are indicated by + and - in the leftmost column.

---
Index: js/common/view/TracerNode.js
IDEA additional info:
Subsystem: com.intellij.openapi.diff.impl.patch.CharsetEP
<+>UTF-8
===================================================================
--- js/common/view/TracerNode.js	(revision 7af73b937d2e1caf814bed69f9ab6cb0d2ddeeab)
+++ js/common/view/Trace

[2017-08-15 19:19] andrea-phet commented on #141
Oh, thanks @pixelzoom I didn't see your comment until after the commit above.

[2017-08-15 19:21] andrea-phet commented on #141
Assigning to @arouinfar to review.

[2017-08-15 19:22] andrea-phet commented on #127
Okay. Again, leaving this issue open but unassigned in case Dialog should be used later.

[2017-08-15 19:23] arouinfar commented on #141
👍

[2017-08-15 19:27] pixelzoom opened #142 "use of CU logo"
I ran across this scenario quite by accident:

![screenshot_353](https://user-images.githubusercontent.com/3046552/29332272-b2ebce48-81bc-11e7-8452-933d8a66a50b.png)

CU's brand policy is at http://www.cu.edu/ope/aps/2025.
Approved logo variations are at http://www.colorado.edu/brand/logo/logo-variations.
Approved colors are at http://www.colorado.edu/brand/visual-identity/typography-color.

In a

[2017-08-15 19:34] pixelzoom commented on #141
Reopening.

Works great, but the implementation is a little non-standard.  Since the entire TracerNode is now draggable, it would be preferable to (1) add the drag handler to the entire node (after `Node.call`), instead of the probe and panel separately, (2) set `cursor: 'pointer'` on the TracerNode (via `options` passed to `Node.call`), rather than its components.

[2017-08-15 19:36] pixelzoom commented on #141
It's also unnecessary to set `pickable: true` for `rectangle`.  Calling `addInputListener` automatically makes a Node pickable.

[2017-08-15 19:39] andrea-phet commented on #141
There's just one thing: the halo that highlights the dot that the tracer tool is on is a child of TracerNode. I don't want that draggable, which is why I only pick circle and rectangle to drag.

[2017-08-15 19:48] pixelzoom commented on #141
If you want to be totally safe and independent of rendering order, set `pickable: false` explicitly on `haloNode`.  But with the current rendering order, halo is always behind `circle`, which is filled with `TRANSPARENT_WHITE`.  So `haloNode` itself will not receive events.

[2017-08-15 19:54] andrea-phet commented on #141
Oh yeah, good point.

[2017-08-15 20:12] pixelzoom commented on #141
Looks great.  I restored the `!options.children` assertion in the above commit, you probably deleted that unintentionally.   Feel free to close after reviewing.

[2017-08-15 20:15] andrea-phet commented on #141
Okay, closing.

[2017-08-15 20:15] #141 closed

[2017-08-15 21:30] arouinfar commented on #142
Thanks @pixelzoom. I've updated assets to include the appropriate CU logo, and have emailed them @andrea-phet.

[2017-08-15 21:33] andrea-phet commented on #142
Incorporated. Assigning to @arouinfar to review and close.

[2017-08-15 21:35] arouinfar commented on #142
👍

[2017-08-15 21:45] pixelzoom commented on #142
@arouinfar are you sure about this? It almost doesn't look like a flag anymore, and the CU logo is barely legible on my MacBook Pro.

Before:
![screenshot_354](https://user-images.githubusercontent.com/3046552/29337963-a4df5540-81d0-11e7-8e8e-f84ff7bde835.png)

After:
![screenshot_355](https://user-images.githubusercontent.com/3046552/29337968-a8e1c0e2-81d0-11e7-8377-aa5c291a2918.png)

[2017-08-15 21:47] arouinfar commented on #142
I would prefer to use just the interlocking CU logo, but that seems to be reserved for athletics. @ariel-phet and I worked on the artwork together, and he approved, but should probably take a look in context.

[2017-08-15 21:47] pixelzoom commented on #142
Maybe a Colorado flag would hold up better, and provide the same "easter egg" factor?

![screenshot_356](https://user-images.githubusercontent.com/3046552/29338089-08f4a512-81d1-11e7-81dd-98750b992004.png)

[2017-08-15 22:56] arouinfar commented on #142
From @ariel-phet:

I've emailed the asset to @andrea-phet for integration.

![flatirons](https://user-images.githubusercontent.com/8419308/29340095-97834190-81da-11e7-8e33-674da490c2cc.png)

[2017-08-15 23:01] arouinfar commented on #142
Looks good!

[2017-08-15 23:01] #142 closed

[2017-08-17 15:53] phet-steele opened #143 "Tracer tool jumps from mouse"
This occurs to varying degrees at different zoom levels. Zoomed completely out is most dramatic:

1. Zoom all the way out on whatever screen.
2. Click and release the tracer tool (pick it up from and drop it back into the tool box). This behaves normally.
3. Click and hold a second time. The tool now jumps much farther away from your mouse than it should. This continues every time you grab the tra

[2017-08-17 16:43] pixelzoom commented on #143
Reproduced.   The problem also occurs if you only zoom out 1 level - click on the tracer tool as described above, and it will be in a different position the second time.

The tracer tool and tape measure (TracerNode and MeasuringTapeNode respectively) are created in ProjectileMotionScreenView.  I'm a little confused about why MeasuringTapeNode is instantiated with a static model-view transform (`m

[2017-08-17 16:46] pixelzoom commented on #143
I said:

I suspect that `tracerNode` is involved due to a copy-paste error.

It looks like it is safe to change these lines in ToolboxPanel:

[code]
to this:

[code]

@andrea-phet recommended to make this change as part of fixing this issue.

[2017-08-17 20:23] pixelzoom commented on #143
@andrea-phet I have not isolated the cause of this problem, will leave that to you. So this issue is ready for you to work on it when you are available.

[2017-08-17 20:26] pixelzoom commented on #143
Btw... Imo, this issue would be nice to address before 1.0.0 release, but not absolutely necessary. The sim is still quite usable. @arouinfar do you agree?

[2017-08-17 22:11] phet-steele opened #144 "Object snaps to apex point when stepped through an old trajectory, causing non-constant velocity"
1. Press fire to create a trajectory ***with an apex point***. Do this without AR so it is easier to verify the bug later. I recommend:
- Screen: Vectors
- Height: 4 m
- I. Speed: 15 m/s
- Angle: 5 degrees
2. Let this trajectory go to completion.
3. Zoom all the way in so this is easier.
4. Pause the sim and fire, with the same trajectory parameters.
5. Before the object gets too far, use the tape

[2017-08-17 23:50] arouinfar commented on #143
Agreed @pixelzoom. I think it would be nice to address before release, if possible.

[2017-08-18 02:48] andrea-phet commented on #143
The line that was buggy was `83 var tracerOriginPosition = tracerNode.globalToParentPoint( tracerNode.localToGlobalPoint( tracer.positionProperty.get() ) );` because `tracer.positionProperty.get()` was in model units, where as `localToGlobaPoint` should be taking view units. Anyhow, this shift is not needed, so I removed it.

Bug should be fixed on master, assigning to @phet-steele to check.

[2017-08-18 15:45] pixelzoom commented on #143
I verified the behavior is fixed, and the implementation looks good.  But the fix was only made in master.  @andrea-phet you'll need to also make the change in the 1.0 branch:

[code]

This fix _will_ require another RC, but will not require a full test matrix - spot testing on 1 or 2 platforms will be sufficient.

[2017-08-18 15:48] pixelzoom commented on #144
@andrea-phet slacked me that this is a quick fix, so I won't bother to investigate.  This will require another RC, but (like #143) not a full test matrix.  Be sure to make the change in master and 1.0 branches.

[2017-08-18 15:59] pixelzoom commented on #143
@andrea-phet Also good to add the "status:ready-to-test" label to issues that are ready for QA.

[2017-08-18 16:01] pixelzoom commented on #48
Looks like milestones were met, and the sim was in RC on 8/15/17.

@arouinfar @andrea-phet Any reason not to close this issue?

[2017-08-18 16:01] pixelzoom commented on #49
@andrea-phet @jonathanolson Is there anything related to this issue that needs to be done for 1.0.0 release, or can this issue be labeled as "deferred"?

[2017-08-18 16:02] pixelzoom commented on #127
Changing this from on-hold to deferred, since no further work is required for 1.0.0 release.

[2017-08-18 16:13] arouinfar commented on #48
Let's go ahead and close it. Nice work @andrea-phet!

[2017-08-18 16:13] #48 closed

[2017-08-18 16:13] pixelzoom opened #145 "measuring tape becomes difficult to access"
Related to https://github.com/phetsims/QA/issues/39

When using the zoom buttons, the measuring tape can become difficult to drag, requiring 2 steps to move it.

To reproduce:

1. Start the sim
2. Go to any screen (Intro screen is used in screenshots below)
3. Pull the measuring tape out of the toolbox, and position as shown:

![screenshot_360](https://user-images.githubusercontent.com/3046552/294

[2017-08-18 16:17] pixelzoom commented on #145
I don't think that the measuring tape's text should be made draggable.  That would require changes to common code, open a whole can of worms.  And it would be a workaround rather than a proper solution.

PhET sims typically constrain objects so that they can't be dragged off of the screen (which this sim does).  And when a zoom feature is available, most (all?) PhET sims ensure that interactive ob

[2017-08-18 16:27] pixelzoom commented on #145
I said:

Looks like this is actually _not_ the case for this sim, it's not handling dragging of the measuring tape properly.   At any of the 4 corners of the ScreenView's layoutBounds, I can drag the measuring tape so that only part of the '+' on the tape's body is visible, and (depending on orientation) part of the '+' on the tape's tip.  For example:

![screenshot_364](https://user-images.github

[2017-08-18 16:33] arouinfar commented on #145
I completely agree @pixelzoom.

@andrea-phet please update the tape measure's behavior so that the its body is always constrained to the visible part of the sim to avoid the behavior described by @pixelzoom in https://github.com/phetsims/projectile-motion/issues/145#issue-251292683 and https://github.com/phetsims/projectile-motion/issues/145#issuecomment-323399449

[2017-08-18 16:36] pixelzoom commented on #145
@arouinfar said:

I think we're OK if even some _portion_ (clearly visible, easily grabbed) of the body is always visible, similar to the tracer tool.  @arouinfar do you agree?

[2017-08-18 16:37] pixelzoom commented on #145
To further clarify...  Constraining the _entire_ body to remain visible may be problematic, since I don't believe that the bounds of the body are accessible via MeasuringTapeNode (a common-code component).

[2017-08-18 16:38] phet-steele opened #146 "Tape measurer should not drop into tool box based on anything but the blue/yellow body"
@pixelzoom this is what you did yesterday at status meeting.

It is a bit unwieldy and, in my opinion, a poor UX to have the tape measurer drop into the carousel in its current implementation. Entirely demonstrated in the below video, dropping the body of the tool in a location that places the extendable end into the tool box will dismiss the tool, independent of the body's location:
![prmo04](htt

[2017-08-18 16:46] phet-steele commented on #146
Okay, doesn't have to be the end that is over the tool box. Any part of the tool can be over the tool box to make the tool eligible for dropping. Here, just the gray path is over the tool box when releasing the body:

![prmo05](https://user-images.githubusercontent.com/5863899/29468669-7755d386-8402-11e7-97bd-9967b6362df9.gif)

[2017-08-18 16:47] pixelzoom commented on #146
I haven't looked closely at the code.  But I'm guessing that the measuring tape is put back in the toolbox if any portion of the MeasuringTapeNode bounds (which includes all part of the tool) overlaps the toolbox's bounds.   Unfortunately, MeasuringTapeNode (common code) does not currently have support for getting the bounds of just the body - that will require changes to common code (scenery-phet

[2017-08-18 16:52] pixelzoom commented on #146
I said:

@arouinfar your opinion?

[2017-08-18 17:00] arouinfar commented on #146
Sounds reasonable to me @pixelzoom! The tape measure is not a heavily-used tool, so this issue seems mildly annoying. While it should be addressed, I think it could be deferred to a maintenance release/after 1.0.

[2017-08-18 17:03] arouinfar commented on #145
Agreed @pixelzoom. Apologies for the ambiguity in my earlier comment.

[2017-08-18 20:08] andrea-phet commented on #144
I made a fix in master and 1.0. @phet-steele could you check?

[2017-08-18 20:08] andrea-phet commented on #143
Okay. Fix added to 1.0.

[2017-08-18 21:11] pixelzoom commented on #145
@andrea-phet asked me to take a stab at fixing this, using existing features of `MeasuringTapeNode`.  I tried one approach (first set of commits), but then thought of a better way to handle this.  So review the last 2 commits above, ignore the others.

Note that MeasuringTapeNode ensures that both its body _and_ tip remain visible inside the drag bounds. So if you grab the measuring tape by the bo

[2017-08-18 21:13] arouinfar commented on #145
That sounds reasonable to me @pixelzoom.

[2017-08-18 21:14] pixelzoom commented on #145
@arouinfar also feel free to take a look.

To clarify how I solved this... The measuring tape was previously constrained to the entire visible "play area".  I'm now reducing that bounds by 20 units on all 4 edges of the play area.  This ensures that a sizable portion of the measuring tape remains visible and grabbable.  That "20" value can be adjusted, but felt about right to me.

[2017-08-18 21:29] andrea-phet commented on #145
Thanks @pixelzoom. Also, I like that the solution doesn't need to change common code.

[2017-08-18 21:35] andrea-phet commented on #49
I think deferred. Right, @jonathanolson?

[2017-08-18 21:43] arouinfar commented on #145
I like it @pixelzoom! Looked good to @phet-steele too.

[2017-08-19 01:58] jonathanolson commented on #49
Added deferred tag for the workaround, so that we can potentially (in the future) look into a better solution.

[2017-08-19 02:07] pixelzoom commented on #145
Excellent. This will require a spot check in 1.0.0-rc.2.

[2017-08-19 02:25] pixelzoom commented on #145
@andrea-phet Leaving this assigned to you. When you create the GitHub issue for testing 1.0.0-rc.2, note that this issue needs to be regression tested in that issue.

[2017-08-19 02:28] pixelzoom commented on #144
I inspected the implementation of this fix.  It is isolated to 1 file, consists of a couple of lines of code, and contains nothing that is platform dependent.  So it can be verified in 1.0.0-rc.2 with spot testing, full test matrix not required.

[2017-08-19 02:29] pixelzoom commented on #146
@andrea-phet Hold off on fixing this one until 1.0.0-rc.1 testing is further along.  If there are no other issues that require a full re-test, then this issue will likely be deferred to a future release.

[2017-08-22 23:01] phet-steele commented on #146
@pixelzoom said,

I was testing charges-and-fields today. It has a measuring tape that behaves exactly as desired in this issue. The implementation in `ChargesAndFieldsScreenView.js` that is responsible for the behavior is at line 312:
[code]

I followed this bread crumb to scenery-phet where I saw this public function in `MeasureingTapeNode.js` at line 445:
[code]
Would this function not do the t