[2017-08-22 23:04] phet-steele commented on #145
@andrea-phet, don't mind me being nosey, but generally we keep tools (and everything else) behind the ResetAllButton so it can always be pressed. The above commit ruins that, should probably be changed.

[2017-08-23 01:43] pixelzoom commented on #145
@phet-steele said:

Not the case "generally".  See for example Function Builder (function cards), Beer's Law Lab (probes), and pH Scale (probe).

But yes, perhaps appropriate for this sim.

[2017-08-23 16:20] arouinfar commented on #47
The items in https://github.com/phetsims/projectile-motion/issues/47#issuecomment-311190480 have all been documented in the Tips, so closing.

[2017-08-23 16:20] #47 closed

[2017-08-23 16:42] pixelzoom commented on #146
I stand corrected, MeasuringTapeNode has `getLocalBaseBounds`, which is what is being used in charges-and-fields.  This could presumably be used in projectile-motion, with no common-code changes required.

[2017-08-23 16:48] pixelzoom commented on #146
This was a 1-line fix that I'm sure @andrea-phet would have ably handled. But I went ahead and did it.  @phet-steele please verify, @andrea-phet please review the above commit.

[2017-08-23 16:50] pixelzoom commented on #145
On second thought, I think having the tools on top of everything is fine in this sim.

[2017-08-23 16:50] pixelzoom commented on #145
On second thought, I think having the tools on top of everything is fine in this sim.  My recommendation is to leave "as is".

[2017-08-23 17:00] pixelzoom commented on #145
The 3 reasons (in general) for not putting the Reset All button in front of interactive objects are:

(1) Reset All button may obscure the interactive object, making it impossible to access, and requiring a Reset All to continue.  For example, the charges in charges-and-field.

(2) Reset All button may be mistaken for a control on the interactive object.

(3) Reset All button is shared by subtypes

[2017-08-23 17:01] pixelzoom commented on #143
This issue is ready for regression testing in 1.0.0-rc.2.

[2017-08-23 17:01] pixelzoom commented on #144
This issue is ready for regression testing in 1.0.0-rc.2.

[2017-08-23 17:01] pixelzoom commented on #145
This issue is ready for regression testing in 1.0.0-rc.2.

[2017-08-23 18:01] pixelzoom commented on #140
@phet-steele RC testing resulted in no UI changes (see https://github.com/phetsims/QA/issues/39) so I think you're cleared to create the screenshot whenever you have time.

[2017-08-23 18:02] pixelzoom commented on #140
@phet-steele RC testing resulted in no UI changes (see https://github.com/phetsims/QA/issues/39) so I think you're cleared to create the screenshot whenever you have time. Please push to master and 1.0 branches.

[2017-08-23 19:41] phet-steele commented on #140
Done!

[2017-08-23 19:41] #140 closed

[2017-08-23 20:07] andrea-phet commented on #146
Likes good to me.

[2017-08-23 21:14] pixelzoom commented on #146
Via slack, @phet-steele said he looked at this and approves.

This issue is ready for regression testing in 1.0.0-rc.2.

[2017-08-23 21:41] phet-steele commented on #144
Fixed, closing.

[2017-08-23 21:41] #144 closed

[2017-08-23 21:41] lmulhall-phet commented on #143
Fixed. Closing.

[2017-08-23 21:41] #143 closed

[2017-08-23 21:42] phet-steele commented on #146
Fixed, closing. Thanks @pixelzoom!

[2017-08-23 21:42] #146 closed

[2017-08-23 21:45] lmulhall-phet commented on #145
Fixed. Closing.

[2017-08-23 21:45] #145 closed

[2017-08-23 21:51] phet-steele commented on #98
I finalized the QA credits.

[2017-08-23 21:51] #98 closed

[2017-08-23 22:51] pixelzoom commented on #21
I believe that @andrea-phet has completed all items related to implementation and testing. @arouinfar the remaining checklist items are yours.

[2017-08-24 04:50] arouinfar opened #147 "Create sim primer"

[2017-08-25 16:32] oliver-phet opened #148 "User suggestion: measure should snap to path points"
This may be a necessary feature for future keyboard navigation of the sim.

[2017-08-25 19:08] oliver-phet opened #149 "User suggestion: Control energy rather than initial speed"
Thus, I guess that being able to control the energy supply instead of the initial speed would be a good idea to explore.
At this point selecting different objects is fine, as long as they have the same masses.
I usually make my students aware of the small inconsistency.

[2017-08-25 20:29] arouinfar commented on #148
@oliver-phet are you sure this is for Projectile Motion? Sounds more like a Charges and Fields issue...

[2017-08-25 20:32] oliver-phet commented on #148
whoops! https://github.com/phetsims/charges-and-fields/issues/134

[2017-08-25 20:32] #148 closed

[2017-08-25 21:17] arouinfar commented on #149
@oliver-phet the HTML5 behavior is in line with Flash. The design is meant to support learning goals around controlling the initial conditions, and in typical physics problems, the initial speed (not energy) of the projectile is one of those initial conditions.

Sounds like the user is interested in the mechanics of a cannon itself. They are correct -- all things being equal, shooting two cannonba

[2017-08-25 21:18] oliver-phet commented on #149
Reply to user sent. Closing.

[2017-08-25 21:18] #149 closed

[2017-08-28 21:16] amanda-phet opened #150 "Legends of Learning Icons"
Need to create icons for Legends of Learning.

[2017-08-29 23:06] arouinfar commented on #150
@kathy-phet @samreid here's a rough draft of the icons, inspired by the screen icons. I'll be working on these icons more tomorrow, and welcome any feedback.

![lol-icon-pm-01](https://user-images.githubusercontent.com/8419308/29848151-27789816-8cdc-11e7-835c-5ef7cd6fb993.png)
![lol-icon-pm-03](https://user-images.githubusercontent.com/8419308/29848153-277a4292-8cdc-11e7-9f07-e35a1a1ad8e6.png)
![l

[2017-08-30 00:07] samreid commented on #150
This kind of overlapping seems awkward:
![image](https://user-images.githubusercontent.com/679486/29849545-bfd1bc20-8ce4-11e7-8fe9-21907e228023.png)

This seems awkward too (how drag is in the street):
![image](https://user-images.githubusercontent.com/679486/29849563-e541daf8-8ce4-11e7-8961-1badcd66ee82.png)

Not sure of the best solution though.

[2017-08-30 15:05] arouinfar commented on #150
Thanks for the feedback @samreid!

For Intro, I played with the placement a bit to try and make the overlap the less invasive, but maybe I should instead alter the path so it's not coming from the lower corner.

For Drag, I'll try a version with the projectiles in the air. "Drag" does look a bit odd trapped in the road.

[2017-08-30 15:32] samreid commented on #150
Having the motion be "up and to the right" seems great--what about moving the text?

[2017-09-07 00:04] arouinfar commented on #150
@samreid for consistency, we should stick with the template, which has the text in the lower left.

I was able to tweak the icons so that there's minimal/no overlap with the text.

![lol-icon-pm_intro](https://user-images.githubusercontent.com/8419308/30139750-fe5e7dfe-932c-11e7-8249-018d07947ec0.png)
![lol-icon-pm_vectors](https://user-images.githubusercontent.com/8419308/30139752-fe652032-932c-1

[2017-09-07 04:02] kathy-phet commented on #150
I like these! Thanks.

[2017-09-07 15:21] arouinfar commented on #150
Thanks @kathy-phet!

@samreid responded in Slack:

@samreid I've added the .ai asset and .png files to the [Drive folder](https://drive.google.com/drive/u/0/folders/0BwZJWzOg9l4DOFhPRzlKYWVfY3c). Feel free to close after you review.

[2017-09-09 01:30] samreid commented on #150
I can see them in the drive folder and they look good.  For next steps: @kathy-phet said she would request a designer to submit the sims/icons/metadata to LOL.  I think this issue can be closed.

[2017-09-09 01:30] #150 closed

[2017-09-14 19:35] oliver-phet opened #151 "User suggestion: vector values"

[2017-09-14 22:05] andrea-phet commented on #151
My physics teacher uses the sim for her classes and she would really love to see this addition!

[2017-09-15 03:25] ariel-phet commented on #151
@andrea-phet @arouinfar perhaps on the vectors screen we could put a tool the looks/behaves just like the trace tool but has a different background color and Gives V_tot V_x and V_y for each point?

My thought would be to remove the measuring tape on that screen and replace it with this tool (I think if you have "measuring tape learning goals" they could be gotten to on the other screens) and I wo

[2017-09-15 04:04] andrea-phet commented on #151
Yes, velocity can be recorded. (In fact, it already is recorded just like time, height, etc., and just needs to be accessed).

[2017-09-15 18:03] arouinfar commented on #151
I really like this idea @ariel-phet!  The velocity trace tool would be useful beyond the goals of the Vectors screen, though. I think measuring V_x would be more useful on the Drag screen than the tape measure. So perhaps the tape measure could be on the Intro screen only?

In the [meeting notes for 2/9/2017](https://docs.google.com/document/d/19lCpjkR8Eefi5GLTBVSlHgtP0F7CGxPMDWz7N5AdvuI/edit#head

[2017-09-18 16:00] ariel-phet commented on #151
@arouinfar I personally think I would just have the velocity trace tool only show values. For one, things will get a bit messy with the tool when the vectors overlap the tool. I also think the learning goals around the values don't necessarily need to show the vectors. To me the dynamic vector representation, and the ability to use the "step" as we already have it is much more compelling for the c

[2017-09-18 23:00] arouinfar commented on #151
@ariel-phet I'd be find with only showing the values. I had remembered some discussion of features for 1.1+, and thought those features could possibly piggyback on the vector trace tool.

Great point. Moving the probe to the right side of the tool will minimize vector overlap with the tool, but then becomes unusable for the first few points along the trajectory.
<img width="684" alt="screen shot 2

[2017-09-19 01:20] ariel-phet opened #152 "Feature request: dots every 1 second"
@arouinfar @andrea-phet Mike Dubson told @kathy-phet he really liked the new dots, but missed having a dot every one second. Obviously, there is a dot every 1 second but it does not "stand out" currently.

It seems we could accomplish this feature by potentially having the dot be noticeably larger every one second, or some other way to make it stand out (perhaps some sort of stroke). Basically hav

[2017-09-19 01:21] ariel-phet commented on #152
@arouinfar might be worth mocking up a few options to see if this would work

[2017-09-19 01:23] ariel-phet opened #153 "Feature request: ability to go up to 100 m/s initial velocity"
@kathy-phet mentioned that Mike Dubson also would appreciate the ability to go to a larger velocity. Perhaps on the lab screen we could have an option for larger velocity ranges (up to 100 m/s). My guess is we would need to change scales a bit if we went to larger velocity (zoom out, potentially change the vector scaling, etc).

@arouinfar worth thinking about some possiblities, we can discuss at

[2017-09-19 05:18] arouinfar commented on #153
Definitely worth considering @ariel-phet. My only concern is that the model can break down a bit when dealing with large drag forces, so we may also need to consider some constraints to the projectiles.

[2017-09-19 05:24] arouinfar commented on #152
Sounds good @ariel-phet. I really like the idea to map the dots to minor/major tick marks. I'll mock up a few options.

[2017-09-19 05:48] kathy-phet commented on #153
I think JO's option for addressing better slow mo also makes the model more accurate and it could handle this? So if it goes hand in hand with that upgrade it made not be a limitation.
K

Sent from my iPhone

On Sep 18, 2017, at 11:18 PM, Amy Rouinfar <notifications@github.com<mailto:notifications@github.com>> wrote:

Definitely worth considering @ariel-phet<https://github.com/ariel-phet>. My only

[2017-09-19 18:47] arouinfar commented on #152
Timing dot parameters:
~3.5 pt in diameter
50% opacity (max)
Black stroke with no fill

The dots are small and transparent to improve contrast with the projectile, and I believe the lack of a fill was done for performance reasons. Since there are fewer 1s markers, I'm hoping that the performance impact of a fill would be negligible.

A few options:

(1) Large black dots, max opacity 100%
![image](

[2017-09-19 18:48] arouinfar commented on #152
Can you take a look @ariel-phet?

[2017-09-19 19:01] phet-steele commented on #152
Which has greater "tracer tool priority" when close to each other: the apex point or 1 second point? If they are close and overlapping, will we want to see both or will one obscure the other? Which one will the tracer tool prefer to measure? We already have special code to increase priority of the apex point over all other points so its easy to measure in a cluster of points (see #138).

[2017-09-19 19:05] arouinfar commented on #152
Great question @phet-steele. I think we'd continue to prioritize the apex dot, as it's more pedagogically interesting. The 1s dots are still timing dots, after all, but with improved visibility.

[2017-09-19 19:47] ariel-phet commented on #152
@arouinfar I think I like the yellow dots the best. Especially with the cannonball type projectile my main worry  was that larger dots could be confusing. The different color dot seems to be a clean solution.

Also agreed to prioritize the apex dot.

[2017-09-19 19:55] phet-steele commented on #152
@ariel-phet @arouinfar sorry to butt in again, but yellow dots are tricky when combined with the yellow halo. Maybe a special halo color for this dot? Or a different color dot all together? Color options that were previously deliberated for something else (for use with either the dot or halo):

* White
* Gray -- likely would have contrast issues against the pedestal
* Cyan -- nice and bright, but

[2017-09-19 20:02] kathy-phet commented on #152
I kind of like the simplicity of the black larger dots, and since they are stationary I don't see that they would be confused with the projectile. However, its just a preference. I can be OK with other options too. Even the crosses.

[2017-09-19 20:33] arouinfar commented on #152
I prefer option (3) with the yellow dots. I think they have nice contrast against the other colors in the play area and won't be confused for a cannonball.

@phet-steele no need to be sorry, we should be cognizant of halo color too. Personally, I don't think the yellow halo is particularly problematic here (apex dot has green halo) but we will certainly think about it when we discuss at design mee

[2017-09-20 00:07] arouinfar commented on #147
Given the pending design changes in #151 #152 and #153, I'm going to mark this issue as on-hold.

[2017-09-28 17:59] arouinfar commented on #21
@ariel-phet the only remaining item is "Features for PhET-iO Discussion". Is that relevant here, or can this issue be closed?

[2017-09-29 21:25] ariel-phet commented on #21
Can be closed, closing.

[2017-09-29 21:25] #21 closed

[2017-10-02 15:48] oliver-phet opened #154 "User request: remove gravity"

[2017-10-02 21:05] oliver-phet opened #155 "User reported issue: freeze/restart"
Originally created here: https://github.com/phetsims/phet-ios-app/issues/290#issuecomment-333663773

We have replicated on KP's iPad 4 (using the app, Chrome, and Safari)

Here is the device output:

Test device: iPad 4

Operating System: iOS10.3

Browser: Safari

Problem description: For projectile motion, it crashes when changing angles.

Steps to reproduce:

Severity:

Screenshots: crash, so bl

[2017-10-03 16:51] arouinfar commented on #153
We've received another request for faster initial velocities:

[2017-10-03 19:03] arouinfar commented on #154
My initial reaction to this request was that it's beyond the scope of the sim, but I decided to think about possible learning goals for g=0 and what design changes would be necessary. There are two cases to consider for g=0: no air resistance vs. air resistance.

(1) Without air resistance, one goal of g=0 could be to show that the projectile travels in a straight line at a constant velocity. The

[2017-10-03 19:22] pixelzoom opened #156 "use MeasuringTapeNode's "transparent rectangle behind readout" feature"
Related to https://github.com/phetsims/scenery-phet/issues/339#issuecomment-333937396.

While adding a "white background" feature to MeasuringTapeNode, I noticed that MeasuringTapeNode makes `labelText` public, and projectile-motion uses it.

@pixelzoom said:

@arouinfar replied:

[2017-10-03 19:40] pixelzoom commented on #156
I integrated the new "transparent rectangle behind readout" feature into this sim. Sample screenshot below. The rectangle color is currently ''rgba( 255, 255, 255, 0.2 )'' - white with 20% transparency. @arouinfar please review in master, let me know if you'd like anything changed.

![screenshot_404](https://user-images.githubusercontent.com/3046552/31145183-49da3002-a840-11e7-8fb2-21ca94f33881.pn

[2017-10-03 19:46] pixelzoom commented on #156
@arouinfar Or perhaps you'd prefer the same color that's used by the cannon? The background rectangles for the cannon are `'rgba( 255, 255, 255, 0.6 )'` - white with 60% transparency.

[2017-10-03 20:18] phet-steele commented on #155
@jonathanolson please review and advise:

The above issue was found to be reproducible in the PhET iOS App and on mobile Safari with an important caveat:

- So far, only iPad 4, iOS 10.3.3

An iPad Air 2 with the same iOS and the same Webkit version would NOT show the problem.

To reproduce:

1. Load the sim and _extremely quickly_ enter the Drag screen and move the target (or change the cannon an

[2017-10-03 20:37] pixelzoom commented on #156
Changed to 60% transparency, back to @arouinfar.   Let me know if you'd like this in a 1.0.1 maintenance release, would be relatively easy because it's only 1 file that's changed.

[2017-10-03 20:53] arouinfar commented on #156
Thanks, looks great @pixelzoom!

Let's publish this as a maintenance release, as it significantly improves the tape measure's readability along the road, which is a common area for the tape measure to be used.

[2017-10-03 20:54] arouinfar opened #157 "Add Graphic Arts credits"
In reviewing master for #156, I noticed that the graphic artists had not been credited.  It would be nice to roll this in with the upcoming maintenance release. @pixelzoom can you please add the following to the credits:

Graphic Arts: Mariah Hermsmeyer, Cheryl McCutchan

[2017-10-03 21:04] arouinfar commented on #157
@phet-steele has told me I can make these commits myself, so I'll go ahead and add the graphic arts credits to master and 1.0 under his guidance.

[2017-10-03 21:07] arouinfar commented on #157
The changes look good in master, so closing.

[2017-10-03 21:07] #157 closed

[2017-10-03 21:16] pixelzoom commented on #156
Duh, I forgot that this also involves changes to MeasuringTapeNode. Looks like there have been no significant changes except for the https://github.com/phetsims/scenery-phet/issues/339. So we're in luck, but it will be a little more involved.

[2017-10-03 21:31] ariel-phet commented on #154
I think given that sim is called "projectile" motion, a projectile involves gravity. All the learning goals in my mind are centered around the idea that vector components need to be used to understand/calculate the motion.

So I am not keen on this idea either.

@oliver-phet can you refer the user to FAMB, which has 1d motion and Newton's Law well covered? That sim is much more appropriate for the

[2017-10-03 21:45] oliver-phet commented on #154
Email to user sent. Closing for now.

[2017-10-03 21:45] #154 closed

[2017-10-03 21:51] pixelzoom commented on #157
Deployed in maintenance release 1.0.1.

[2017-10-03 21:52] pixelzoom commented on #156
Ah, that was so much fun (not).

Deployed in maintenance release 1.0.1.

[2017-10-03 21:52] #156 closed

[2017-10-03 22:05] arouinfar commented on #156
Thanks @pixelzoom!!

[2017-10-05 23:31] arouinfar commented on #152
Here's a mockup with the 1s markers with at ~2x the radius of the 0.1s markers. I changed `DOT_RADIUS` from 1.65 to 3. What do you think @ariel-phet @kathy-phet?
![screen shot 2017-10-05 at 5 24 53 pm](https://user-images.githubusercontent.com/8419308/31256888-656f0a78-a9f2-11e7-95d4-80e41938e0d6.png)

[2017-10-09 03:09] jonathanolson commented on #155
@phet-steele, can you test http://www.colorado.edu/physics/phet/dev/olsonjb/projectile-motion-freeze.html while tethered, and see if it throws an error (as discussed before)?

Contains the swapped code:
[code]

[2017-10-10 03:23] ariel-phet commented on #152
I really like this solution.

[2017-10-10 16:59] oliver-phet opened #158 "User issue: David"
<img width="164" alt="screen shot 2017-10-09 at 9 50 39 pm" src="https://user-images.githubusercontent.com/5090275/31399522-d81e9fb0-ada9-11e7-9530-69c38b8d61be.png">

[2017-10-13 19:09] phet-steele commented on #155
@ariel-phet @oliver-phet I worked with JO and SR to arrive at the workaround above and verified it fixed the issue then.

@ariel-phet how would you like to proceed? Should we do a maintenance version? Do we need to submit a bug report to apple? Not sure how much that will help.

[2017-10-13 19:19] ariel-phet commented on #155
@phet-steele a maintenance version would be appropriate in this case. Agreed that probably not worth the apple bug report.

@jonathanolson is this a maintenance release that would not be too onerous to perform?

[2017-10-26 17:38] jonathanolson commented on #155
If it needs to hit phet-io, it's more time-consuming (and I'd probably want to start looking into automated deploys to phet-io). If it's not phet-io, it's in fairly stable code.

[2017-10-26 19:58] ariel-phet commented on #155
@jonathanolson I don't see why this would need to hit phet-io unless this an LoL sim.

@phet-steele any insight?

[2017-10-26 20:05] phet-steele commented on #155
This sim has no phet-io version, and LoL (which this sim has been tested for) has nothing to do with phet-io (it's in joist).

@jonathanolson this can be treated like a normal phet maintenance release, though should probably wait and get changes from phetsims/joist/issues/447.

[2017-10-26 20:33] ariel-phet commented on #158
An easy fix would just be to keep his shorts on, I think @arouinfar and I are both fine with this.

@pixelzoom would removing the "easter egg" of shooting David's shorts off be difficult/time consuming (I am assuming that would be easy). No need to take any action, just curious.

[2017-10-26 20:39] amanda-phet commented on #158
Do you really think this is a concern worth spending time on? This is not a new feature to the HTML5 sim so I'm curious how many teachers have emailed phethelp about this being an issue in the past.

[2017-10-26 20:42] oliver-phet commented on #158
No other emails have been received about this.

[2017-10-26 21:28] jonathanolson commented on #155
Oh, I just realized (I think) you mean the common-code fix would only be deployed as a maintenance release for this sim?

Generally a maintenance release for a single sim is fine even with phet-io.

I've added this to my list.

[2017-10-27 03:16] pixelzoom commented on #158
So many things I'd like to say here, but won't.

@jbphet is listed as the responsible developer for this sim.  That said..

Easy to disable this Easter egg - remove `ProjectileMotionModel.davidShortsOnProperty` and all occurrences of it.  But just disabling introduces some "code hygiene" problems. If you're actually going to make this change, then I recommend changing the artwork, so that we don't

[2017-10-27 03:19] pixelzoom commented on #158
This change would take me < 30 minutes, followed by a 2-hour bicycle ride to calm down.

[2017-10-27 03:53] ariel-phet commented on #158
@amanda-phet - yes, I do. If someone is motivated enough to email us, we need to consider it. We made a similar change to pH Scale when a teacher said they could not use it because we included beer. I am not at all tied to this easter egg. It is cute and all, but it has no value otherwise. David having on shorts is kind of whimsical to begin with.

[2017-10-27 16:14] jbphet commented on #158
I suppose as the responsible dev I should chime in.  I'm too am okay with disabling the Easter egg, and I'll just go on the ride with @pixelzoom.  Assign to whomever you'd like to do it if it is decided to go ahead and take it out.

[2017-10-27 17:15] arouinfar commented on #158
As sims are ported to HTML5 they may end up with more use at the younger grade levels than the original Java/Flash, in part due to the technology in the classroom, and in part due to purposeful scaffolding to target younger learners.

Personally, I'm a fan of the David easter egg and find the request to be a bit puritanical. That said, David's shorts do not serve any real learning goal, and there

[2017-10-27 17:29] arouinfar commented on #158
@ariel-phet can you reassign to the appropriate dev? I'll also update the David asset as @pixelzoom described.

[2017-10-27 17:46] ariel-phet commented on #158
@arouinfar agreed on the puritanical bit, but also on the understanding of opening up to a broader audience.

@jbphet we will have you take care of this since it is a pretty quick change. No huge rush.

@oliver-phet please email the user and let them know we will be modifying the sim.

[2017-10-27 17:48] oliver-phet commented on #158
User emailed.

[2017-10-27 17:48] arouinfar commented on #158
Self-assigning to update the artwork.

[2017-10-27 18:01] pixelzoom commented on #158
@arouinfar There are no updates needed to david.ai.   Updates to PNG files are described above:

[2017-10-27 18:04] arouinfar commented on #158
@pixelzoom my plan was to re-export David as single image, and also remove David's extra layers from the .ai file.

Only the left-most artwork in the .ai file is relevant now.
![image](https://user-images.githubusercontent.com/8419308/32118411-dadcad42-bb0e-11e7-8695-30d1809d3203.png)

[2017-10-27 18:10] pixelzoom commented on #158
@arouinfar If the arm no longer needs to move separately, then that sounds like a fine plan - reduce David to a since file: david.ai and david.png.

[2017-10-27 18:10] pixelzoom commented on #158
@ariel-phet @jbphet Since I've already had my nose in this a fair amount, I don't mind taking care of it, if @jbphet doesn't mind.

[2017-10-27 18:10] pixelzoom commented on #158
@ariel-phet @jbphet Since I've already had my nose in this a fair amount, I don't mind taking care of it, if @jbphet doesn't mind. (And I could use the bike ride :)

[2017-10-27 18:15] pixelzoom commented on #158
Origins of the David fig leaf: http://www.vam.ac.uk/content/articles/d/davids-fig-leaf/.  Good to see that our attitudes about nudity have matured so much since 1857 (not).

[2017-10-27 18:26] arouinfar commented on #158
The David asset has been updated and emailed.

[2017-10-27 19:23] pixelzoom commented on #158
There's another issue that I'm going to fix while I'm in here. `ProjectileMotionModel` defines `davidPosition {Vector2}`, but it's never used.  Instead the view gets constants from `ProjectileMotionConstants`.  I'm going to make the view get David's height and position from the model, as was apparently intended.

[2017-10-27 19:35] pixelzoom commented on #158
@arouinfar please verify in [1.1.0-dev.1](https://www.colorado.edu/physics/phet/dev/html/projectile-motion/1.1.0-dev.1/projectile-motion_en.html).  Compare to published version [1.0.1](https://phet.colorado.edu/sims/html/projectile-motion/latest/projectile-motion_en.html), check that nothing happens when David is hit, and that zoom works as expected.   If everything looks OK, I'll proceed with a m

[2017-10-27 19:39] pixelzoom commented on #155
While working on https://github.com/phetsims/projectile-motion/issues/158, I was asked to roll this fix into a maintenance release.  This resulted in a lot of head scratching and I ultimately bailed.

See https://github.com/phetsims/projectile-motion/issues/155#issuecomment-335059559. @jonathanolson why on earth did you build something with a bogus version id (1.1.0-dev.0) and manually copy it to

[2017-10-27 19:42] samreid opened #159 "maintenance release with LoL patch"
See https://github.com/phetsims/joist/issues/450

We need to publish a maintenance release of this simulation which cherry picks https://github.com/phetsims/joist/commit/63046a699e8e3994f9c40f8d93482a497f0316b3

@jbphet you are listed as responsible dev, please proceed and let me know have questions or need assistance.

[2017-10-27 19:43] pixelzoom commented on #155
Since there have been changes in master, I've labeled this as "in progress" so that other developers don't accidentally cherry pick this to a maintenance release.

[2017-10-27 19:45] pixelzoom commented on #158
Note to self: Changes still need to be cherry picked to 1.0 release branch. See https://github.com/phetsims/projectile-motion/commit/1d292827afe6f49718b68d171a556cd13d1cbca3.

[2017-10-27 19:50] phet-steele commented on #159
Don't forget #158 and #155! (when they are ready)

[2017-10-27 19:51] pixelzoom commented on #159
#158 maintenance release is in progress, and will not include #155 or this issue.  Please hold off on this issue until #158 is closed.

[2017-10-27 19:52] pixelzoom commented on #155
#158 maintenance release is in progress, and will not include this issue. Please hold off on this issue until #158 is closed.

[2017-10-27 19:57] phet-steele commented on #159
@pixelzoom I merely wrote them for record keeping, not to do them RIGHT NOW (hence "when they are ready"). This really should just be renamed to be a batch issue.

[2017-10-27 20:01] pixelzoom commented on #159
@samreid 1.1.0 would be a new release branch, requiring an entire RC cycle. Did you mean a 1.0 maintenance release?

[2017-10-27 20:01] phet-steele commented on #159
yup!

[2017-10-27 20:01] jonathanolson commented on #155
I didn't create 1.1.0-dev.0, it was done in https://github.com/phetsims/projectile-motion/commit/066431def207365ca81dded1a9532e2647ea947f#diff-b9cfc7f2cdf78a7f4b91a753d10865a2.

For debugging things that potentially affect multiple simulations like this, I usually prefer to create standalone test versions (uploaded to my directory in spot) instead of bumping the version a ton of times and deployin

[2017-10-27 20:02] pixelzoom commented on #159
1.0.2 is going to be for #158.  Changing title to something more generic to avoid confusion.

[2017-10-27 20:04] phet-steele commented on #159
Why can't 1.0.2 include changes for all three things? joist, 158, and 155?

[2017-10-27 20:11] pixelzoom commented on #155
package.json was reset when the 1.0 release branch was created, standard procedure.  You published 1.1.0-dev.0 - open the About dialog of your private version to confirm.

No idea that you used non-standard options, nothing in the issue to indicate that.   And I don't see a problem with that as long as it's noted in the issue.  Or if you're going to use your own procedure, at least note it and exp

[2017-10-27 20:13] pixelzoom commented on #155
I also don't see a problem with publishing multiple dev versions to resolve an issue.  Imo it's preferable to using your own undocumented procedure.

[2017-10-27 20:15] pixelzoom commented on #159
Because I have time to address only #155, I'm not familiar with #158 and ran into issues while trying to include it (see https://github.com/phetsims/projectile-motion/issues/159#issuecomment-340072175), and joist should be a batch maintenance release.

[2017-10-27 20:37] samreid commented on #159
I thought we decided batches were too difficult and better to do individual maintenance release where possible?  This affects 5 sims or so, some of which are already queued for QA.

[2017-10-27 20:40] pixelzoom commented on #159
I don't care how it's done, will let y'all work that out.  I just noted if it's a maintenance release, then it's going to be 1.0.x, not 1.1.0.

[2017-10-27 21:19] jonathanolson commented on #155
So for all 12 of the versions I put up in an hour, I should be incrementing versions, committing temporary "guess" commits (having to get temporary hack tests to lint properly, and using throws instead of debugger), noting all of the options I used to build in the issue for every version?

That will definitely slow down debugging when the test device can't be on the same network as the development

[2017-10-27 21:26] pixelzoom commented on #155
No idea that you put up 12 version in an hour. No idea how you were going about testing or troubleshooting this.  Which is why I choose to let you continue to handle it.   You put a link to exactly 1 version in this issue - what's the problem with publishing that as a dev version? That shouldn't affect your ability to iterate on your own, using whatever procedure you feel is most efficient.

[2017-10-29 13:41] samreid commented on #159
Please see also https://github.com/phetsims/joist/issues/449#issuecomment-340263119, we are considering picking up some other commits for this maintenance release.

[2017-10-30 17:55] arouinfar commented on #158
Everything looks good @pixelzoom. David's lower half remains clothed, and I haven't encountered any zooming artifacts.

[2017-10-30 17:56] pixelzoom commented on #158
Zoom call with @jbphet:  Instead of doing a separate maintenance release for this issue, @jbphet would like to do 1 maintenance release for #155, #158 (this issue) and #159.  So I'll make the changes in the 1.0 release branch, then assign this issue to him to complete the maintenance release.

[2017-10-30 18:09] pixelzoom commented on #158
Changes to 1.0 branch in the above commit.  I tested both the requirejs and built versions (to verify that license.json was OK).  FYI, David's formerly dropped his drawers with cannon=80°, initial speed=13m/s.  Over to @jbphet for maintenance release.

[2017-10-30 18:43] jbphet commented on #159
@samreid said:

I don't recall deciding that.  The bulk process is a bit klunky, and for 5 sims we should probably just do them individually, but for much more than that a bulk release should be a consideration.

@samreid - what are the sims?  If by some odd coincidence they are all using the same version of joist a bulk release would actually be easier.

[2017-10-30 22:07] jbphet commented on #159
The request for the patch seems unnecessary.  I started on the process, but as far as I can tell, the 1.0 branch of projectile motion does not have this problem.  I've done a bit of forensics, and it looks like the problem was introduced on Sep 11 2017 in https://github.com/phetsims/joist/commit/081275093e195f68aafec59773f9b45c94abc9e0#diff-926731e25b6af1f38bfcaa33e939b9b1, but the version of jois

[2017-10-30 22:38] jbphet opened #160 "maintenance release 1.0.2"
I started on a maintenance release of this simulation in support of https://github.com/phetsims/projectile-motion/issues/159, but in the process of working on this a number of things have changed, so I think it's important to have a record of this.  First of all, #159 may not actually be needed (see https://github.com/phetsims/projectile-motion/issues/159#issuecomment-340599463), and second, there

[2017-10-30 22:39] jbphet commented on #160
@pixelzoom has made the changes for #158.

[2017-10-30 22:57] jbphet commented on #160
@phet-steele, @jonathanolson, @samreid, and @zepumph - can any of you give me a definitive answer about whether https://github.com/phetsims/joist/issues/447 should be included as part of this maintenance release?  In https://github.com/phetsims/projectile-motion/issues/155, @phet-steele says:

[2017-10-30 23:00] jbphet commented on #160
Never mind - I just realized that phetsims/joist#447 is essentially #159.

[2017-10-31 04:13] samreid commented on #159
My apologies, I incorrectly thought this LOL pause bug had been around for a long time, I'll review the other sims and see if they are truly affected.

Regarding https://github.com/phetsims/projectile-motion/issues/159#issuecomment-340263176 @kathy-phet said:

So I'll create a separate issue for that.

[2017-10-31 04:13] #159 closed

[2017-10-31 04:16] samreid opened #161 "Maintenance release with joist#449 commits"
See https://github.com/phetsims/joist/issues/449

@zepumph added a feature that adds the screen name to the title when launched with a single ?screens=x value.

When I asked if maintenance releases with this feature were desired, @kathy-phet repsonded:

I checked that this feature is not present in the public version 1.0.1.

[2017-10-31 15:25] jbphet commented on #161
@zepumph mentioned this to me already, and I spoke with @kathy-phet yesterday and she requested that I do indeed try to get this into the maintenance release.  It's on the list for this release, see https://github.com/phetsims/projectile-motion/issues/160#issue-269777253.

[2017-10-31 20:33] jbphet commented on #152
This is implemented and available here https://www.colorado.edu/physics/phet/dev/html/projectile-motion/1.0.2-rc.1/projectile-motion_en.html.

@arouinfar - please test this out and give final approval before we go live with this.  Feel free to bring in @ariel-phet if you like.

[2017-10-31 20:34] jbphet commented on #155
The fix for this is incorporated into https://www.colorado.edu/physics/phet/dev/html/projectile-motion/1.0.2-rc.1/projectile-motion_en.html.  @phet-steele - please verify before we go live with this version.

[2017-10-31 20:35] jbphet commented on #158
The fix for this is available in https://www.colorado.edu/physics/phet/dev/html/projectile-motion/1.0.2-rc.1/projectile-motion_en.html.

[2017-10-31 20:43] jbphet commented on #160
A release candidate has been published at https://www.colorado.edu/physics/phet/dev/html/projectile-motion/1.0.2-rc.1/projectile-motion_en.html.

[2017-10-31 21:30] phet-steele commented on #155
Didn't break in the above link. Next step is to @oliver-phet to email, but not yet.

[2017-10-31 22:45] arouinfar commented on #152
Thanks @jbphet! I really like the 1s dots. Looks like the mockup, so I don't think @ariel-phet needs to verify too.

[2017-11-01 16:51] phet-steele commented on #152
Reopening not because it's broken, but because I question the implementation (the dots look great and function well!).

@jbphet in `ProjectileMotionConstants`, a couple things were added, namely:

[code]
Since "major" dots are intended to appear every 1 second, wouldn't `TIME_PER_MAJOR_DOT` break if `TIME_PER_MINOR_DOT` were anything other than 100? Note the multiplication times 10.

If at some po

[2017-11-01 16:57] phet-steele commented on #158
Fixed 😞 . Will notify @oliver-phet when ready.

[2017-11-01 18:27] arouinfar commented on #152
Correct, major dots will only appear at 1s intervals, and should be independent of the minor dot interval.

[2017-11-01 18:45] phet-steele commented on #152
In `TrajectoyNode.js`, could just change line 105 to this to eliminate the dependency of these being multiples of each other.
[code]

[2017-11-02 17:14] jbphet commented on #152
I made the large dot spacing independent of the small dot spacing.  The commit is 9fa52a8831127cea2ec6c336867d9d5a1fbae390 (I forgot to reference this issue in the commit message).  Here is a screenshot where I experimented with small dot spacing that is not a multiple of large dot spacing just to verify that it works:

![pm-dots](https://user-images.githubusercontent.com/3082831/32339974-ef98349a

[2017-11-02 17:19] jbphet commented on #152
@phet-steele - the change to make the small and large dot spacing independent of one another has been committed to master and the 1.0 branch.  Please let me know if we are now approved by QA to publish.

[2017-11-03 17:38] phet-steele commented on #152
@jbphet please proceed with publishing!

[2017-11-09 18:56] jbphet commented on #160
This was blocked for a while due to some questions about how exactly to remedy the LoL issues.  I spoke today with @samreid and the latest is that the LoL changes are ready to integrate.  The commit that is needed is https://github.com/phetsims/joist/commit/ea4290567fa4b04b993bd4f2ba970358a8f3a173.  The joist issue that it addresses is https://github.com/phetsims/joist/issues/458.  The next step i

[2017-11-14 22:09] jbphet commented on #160
A new release candidate with the latest LoL fixes is published here: https://www.colorado.edu/physics/phet/dev/html/projectile-motion/1.0.2-rc.2/

[2017-11-16 18:06] jbphet commented on #160
The release has now been published, see https://phet.colorado.edu/sims/html/projectile-motion/1.0.2/projectile-motion_en.html.  Closing.

[2017-11-16 18:06] #160 closed

[2017-11-16 18:10] jbphet commented on #161
This change was included in the 1.0.2 maintenance release, available here: https://phet.colorado.edu/sims/html/projectile-motion/1.0.2/projectile-motion_en.html

Here is a screenshot demonstrating the feature in action:
![pj-single-screen](https://user-images.githubusercontent.com/3082831/32907840-c19c11aa-cabe-11e7-9fd8-410df973dd2b.PNG)

[2017-11-16 18:11] jbphet commented on #161
@samreid - good to close?

[2017-11-16 18:14] jbphet commented on #158
The "stickier pants" change was included in the 1.0.2 release, which is now live on the main site.  @oliver-phet - please notify the person or people who requested this change and close the issue.

[2017-11-16 18:14] samreid commented on #161
Thanks @jbphet.  @arouinfar what do we do to deliver this to LOL?

[2017-11-16 18:16] jbphet commented on #152
Published in v1.0.2, closing.

[2017-11-16 18:16] #152 closed

[2017-11-16 18:16] arouinfar commented on #161
@samreid I don't think we need to do anything. We provided LoL with the link to the "latest", but they haven't actually integrated anything yet.

[2017-11-16 18:19] jbphet commented on #155
The fix for this problem recommended by @jonathanolson was included in v1.0.2, which is now live on the web site.  I'm not sure what additional followup is necessary, so I'm assigning to @oliver-phet and @phet-steele to figure that out.

[2017-11-16 18:19] oliver-phet commented on #158
Email to user sent. Closing.

[2017-11-16 18:19] #158 closed

[2017-11-16 18:20] samreid commented on #161
OK thanks, closing.

[2017-11-16 18:20] #161 closed

[2017-11-16 21:16] oliver-phet commented on #155
@phet-steele has this fix been tested/verified?

[2017-11-16 21:37] phet-steele commented on #155
Yes, in rc.1, not in production. But the fix is included in production now, so we should be safe.

[2017-12-14 19:13] oliver-phet commented on #155
User notified. Closing for now.

[2017-12-14 19:13] #155 closed

[2018-01-09 06:05] ayrimsal opened #162 "When compiling I get Fatal error: Cannot read property 'trim' of undefined"
When I run:
npm install
grunt --brand=mybrand --locales=tr
I get
Running "after-requirejs-build" task
Fatal error: Cannot read property 'trim' of undefined
Is there a solution to this?

[2018-01-12 20:26] oliver-phet opened #163 "User request: ability for <25° at 0m cannon height"

[2018-01-24 23:42] arouinfar commented on #147
The latest version is suitable for primer recording, but leaving this on-hold until the following primers are published:

https://github.com/phetsims/circuit-construction-kit-dc/issues/167
https://github.com/phetsims/circuit-construction-kit-dc-virtual-lab/issues/10

[2018-02-14 00:30] arouinfar commented on #147
Assigning to @CWilson4960.

While feedback will be given over the primers Slack channel, the timeline will be updated here for future reference.

- [x] Draft script - 2/13/18
- [ ] Record rough version for script verification
- [ ] Review script verification draft, and adjust script as necessary
- [ ] Record another draft
- [ ] Review 2nd draft
- [ ] Produce primer and upload
- [ ] Caption primer

[2018-03-09 02:35] arouinfar commented on #147
The primer is now live on the PhET site. Thanks @CWilson4960!

[2018-03-09 02:35] #147 closed

[2018-04-04 19:30] arouinfar commented on #153
Since this will be investigated with #124, marking this as deferred for now.

[2018-04-04 19:33] arouinfar commented on #163
I think this would be worth looking into next time we revisit this sim. It looks like it could be possible to reduce the cannon's angle to 15 or 20 degrees and still have enough clearance for the barrel.

![image](https://user-images.githubusercontent.com/8419308/38329998-a9cd6572-380c-11e8-80ef-7090907f0531.png)

[2018-04-04 22:56] arouinfar commented on #151
When we discussed this feature last fall, there was some concern about such a tool giving away too much information. However, I think we may still want to consider some sort of velocity tool when this sim gets revisited. By then, we may have also had more teacher requests.

[2018-06-07 17:44] pixelzoom opened #164 "ComboBoxes are added incorrectly"
Noted while investigating phetsims/sun#237 ...

There is a misunderstanding in IntroProjectilePanel and LabProjectilePanel about the function of the ComboBox's `listParent`.   These lines are incorrect in both panels:

[code]

`projectileChoiceComboBox` should be a child of `content`, the panel's content.  And it looks like a VStrut can be removed from content.

This is likely causing the problem

[2018-06-07 17:52] pixelzoom commented on #164
You can also delete `layoutComboBox`, `this.projectileChoiceComboBox` and `this.controlsVerticalSpace` (the last of which is unrelated, but doesn't appear to be used anywhere.)

[2018-06-14 20:35] andrea-phet commented on #164
@pixelzoom, do my commits above correctly add the combo boxes?

Also, the drifting still occurs. I think what is happening is that whenever the window is resized, the combo box list remains in the same place with regards to screen view coordinates. It's the panels that are moving with window resize, which causes the combo box list to "drift" away from the panel.

[2018-06-15 18:36] pixelzoom commented on #164
Commits look good.   You can delete `IntroScreenView.layout`, since it doesn't do anything other than chain to the supertype.

Thanks for the explanation about why the list gets disconnected from the combobox.  That makes total sense.   One way to solve this would be to dismiss (hide) the list when a ScreenView's `layout` function is called.  But ComboBox currently does not provide a way to do tha

[2018-06-21 16:07] andrealin commented on #164
Implemented enhancement in https://github.com/phetsims/sun/issues/366 and used it to fix the bug in projectile motion.

[2018-07-02 20:59] andrealin commented on #164
Assigning to @pixelzoom to review and close. In the commits above, I deleted `IntroScreenView.layout` as you suggested in https://github.com/phetsims/projectile-motion/issues/164#issuecomment-397707922. I also used the new implementations related to https://github.com/phetsims/sun/issues/366 to hide the combobox list whenever the window is resized.

[2018-07-06 16:30] pixelzoom commented on #164
👍

[2018-07-06 16:30] #164 closed

[2018-09-10 16:26] oliver-phet commented on #163
Another user emailed with a similar request:

[2018-09-13 14:44] KatieWoe opened #165 "CT: Setting right is invalid when the node has invalid bounds"
[code]

[2018-09-13 15:52] samreid commented on #165
Reassigning to @jbphet since he is listed as responsible dev for this sim.

[2018-09-17 18:41] jbphet commented on #165
I'm able to duplicate this on my machine with the following URL:
[code]

So why is the xss test suddenly failing for this sim?

I just tried running with ```stringTest=xss``` on the published version (v1.0.5), and the test doesn't cause the sim to crash, but the first screen is all white, so perhaps this was an issue before but it just didn't hit an assertion.

[2018-09-17 19:08] jbphet commented on #165
I took a few minutes to look at this.  What I can see is that during the `stringTest=xss` test, when `IntroProjectilePanel` is constructed in `IntroScreenView`, the panel has `NaN` values for all bounds properties.  Further digging showed that the "boxes" that were being created by the `createParameterControlBox` function was returning nodes with invalid bounds.  I tried commenting out the line th

[2018-09-17 21:29] jonathanolson commented on #165
Looks like asymmetric initial scaling may work for accurate bounds:

![asymmetric-scaling](https://user-images.githubusercontent.com/480878/45651335-6eb0c100-ba8e-11e8-9bd6-292295170b64.png)

whereas if we apply the ~0.005 scaling factor in both dimensions (instead of the ~0.005 in one and ~3 in the other shown here), it disappears completely when displayed.

[2018-09-18 04:36] jonathanolson commented on #165
Pushed a fix so that things fall back to the "SVG" bounds when the "accurate" ones cannot be computed. I looked into properly handling this, but splitting the initial coarse checks into one for each dimension ran into its own issues.

@jbphet you should be able to remove the workaround in the sim now.

[2018-09-18 18:00] jbphet commented on #165
Yep, it works now with the accurate bounds setting.  Thanks @jonathanolson! Closing.

[2018-09-18 18:00] #165 closed

[2018-09-19 15:21] samreid opened #166 "Convert TWEEN to Twixt"
As discussed in https://github.com/phetsims/joist/issues/387#issuecomment-419600722, it would be nice to use Twixt instead of TWEEN.  This sim has 1 occurrence of `new TWEEN.Tween(...)`.  Assigning to the responsible dev.  After completing this issue, check if the hold on https://github.com/phetsims/joist/issues/387 can be removed (if this was the last "Convert from TWEEN to Twixt" issue).

[2018-10-03 21:13] jbphet commented on #166
Should be done.  @samreid - you assigned me several of these.  It seemed pretty straightforward once I got familiar with the `Animation` type.  Do you want to review this and the others as I bang them out, or shall I just close once handled?

[2018-10-03 22:20] samreid commented on #166
Good question.  Perhaps it would be best to have someone familiar with `Animation` (such as @jonathanolson or @pixelzoom) review our first one or two conversions to make sure we are doing well.

[2018-10-04 20:48] jbphet commented on #166
Thanks for the review, closing.

[2018-10-04 20:48] #166 closed

[2018-12-17 15:50] KatieWoe opened #167 "CT mapped to value that is wider than the NumberDisplay background"
[code]

[2018-12-17 16:23] jessegreenberg commented on #167
This should be fixed after recent changes for https://github.com/phetsims/scenery-phet/issues/440. If this is gone in the next round on CT Ill close this issue.

[2018-12-17 16:58] jessegreenberg commented on #167
Its gone on later CT testing so feels safe to close.

[2018-12-17 16:58] #167 closed

[2018-12-28 17:38] pixelzoom opened #168 "should "superscript 2" be handled differently?"
Noted while I was working on https://github.com/phetsims/scenery-phet/issues/446#issuecomment-450394096 ...

projectile-motion-strings_en.json contains this string:

[code]

I'm not sure if this pasting the Unicode "superscript 2" directly into the string value is a good idea.  A couple of other options: (1) use the Unicode escape "m/s\u00b2", (2) use "m/s<sup>2</sup>" with RichText.

[2018-12-28 17:42] pixelzoom opened #169 "should values be right aligned?"
Noted while I was working on phetsims/scenery-phet#446 (comment) ...

Numeric values with units are displayed throughout this sim using NumberDisplay and NumberControl.  And they all appear to use `align: 'center'` for the value alignment.  Using `align: 'right'` would look better, since the units wouldn't shift around.  Examples:

![screenshot_950](https://user-images.githubusercontent.com/304655

[2019-01-01 20:35] arouinfar commented on #169
Good catch @pixelzoom. Right alignment for these values would definitely look nicer.

Not sure if this would be better to re-assign to @pixelzoom or @jbphet, but feel free to unassign/defer until this sim gets worked on again.

[2019-01-01 21:04] pixelzoom commented on #169
According to [responsible_dev.md](https://github.com/phetsims/phet-info/blob/master/sim-info/responsible_dev.md), @jbphet is responsible for this sim, so I'm going to unassign myself.

[2019-01-16 18:25] jbphet opened #170 "CT: this.projectileChoiceComboBox.hideListFromClick is not a function"
This sim is failing continuous test (CT) at the moment.  It appears that this is due to the removal of the method `hideListFromClick` from the combo box.  It looks like this is due to some refactoring work that was being done by @pixelzoom.  That method is no longer present in ComboBox, but is mentioned in some comments that would seem to imply that the method should be there.  They look like this

[2019-01-16 18:36] pixelzoom commented on #170
`hideListFromClick` was apparently added to pop the list down when the browser is window is resized, see https://github.com/phetsims/sun/issues/366.    We should now be able to simply call `hideList`.  I'll investigate.

[2019-01-16 18:37] pixelzoom opened #171 "CT: Corner overlap on left edge"
@jbphet put this in https://github.com/phetsims/projectile-motion/issues/170, and it's unrelated to that issue.  So I'm moving it here.

This is occurring in griddle, projectile-motion, scenery-phet, wave-interference.

[code]

[2019-01-16 18:42] pixelzoom commented on #170
Fixed in the above commit.  I confirmed that it's sufficient to call ComboBox `hideList`, and I tested that it properly pops down the list when the browser window is resized.   Also tested projectile-motion with `?ea&fuzz`.

Closing.

[2019-01-16 18:42] #170 closed

[2019-01-16 18:49] pixelzoom commented on #171
The failing assertion is at `KITE/Shape` line 1952, in function `roundedRectangleWithRadii`:

`assert && assert( topLeftRadius + bottomLeftRadius <= height, 'Corner overlap on left edge' );`

This creates the rounded rectangle for the `ComboBoxButton` (a subclass of `RectangularPushButton`).

The default in `ComboBox` and `ComboBoxButton` is `cornerRadius: 8`, which is propagated to `RectangularPu

[2019-01-16 20:12] pixelzoom commented on #171
Indeed, griddle, projectile-motion, and wave-interference all had items ("content" for the combo box button) whose height was too small to work with `ComboBoxButton`'s default `cornerRadius` and margin.   So I made the following adjustments in the above commits:

(1) Revised the defaults in ComboBox and ComboBoxButton for `cornerRadius`, `xMargin`, and `yMargin` to work with more typical size of i

[2019-01-17 05:34] pixelzoom commented on #171
Ah... This is occurring with test "xss-fuzz".  I assume that must mean "stringTest=xss" query parameter.  And in fact, that's the only way that I can reproduce this.

With "stringTest=xss" the combo box's content is a very long string, and it gets scaled down so that it's height is very small. That will cause the corners of the button to overlap.

From the [code-review check](https://github.com/ph

[2019-01-17 05:38] pixelzoom commented on #171
@jbphet when you include CT output in an issue, please include the `complete` output.  In https://github.com/phetsims/projectile-motion/issues/171#issue-399942178, you omitted a very important line, which contained a crucial clue about why the ComboBox content's height was atypically small:

[2019-01-17 19:52] pixelzoom commented on #171
1/17/19 dev meeting conclusions:

* For now, detect this problem in RectangularPushButton and set `cornerRadius:0`.  Log a warning to console.

[2019-01-18 00:13] pixelzoom commented on #171
This will be addressed in https://github.com/phetsims/sun/issues/448.

[2019-01-18 00:13] #171 closed

[2019-01-24 00:10] KatieWoe opened #172 "CT running lint all task"
[code]

[2019-01-24 04:04] pixelzoom commented on #172
Fixed, closing.

[2019-01-24 04:04] #172 closed

[2019-02-23 00:13] jbphet commented on #169
This does seem like an improvement, but it was far more fiddly and time consuming than I'd hoped.  I have something implemented, so @arouinfar - please review https://phet-dev.colorado.edu/html/projectile-motion/1.1.0-dev.2/phet/projectile-motion_en_phet.html and let me know if you think any further changes are necessary.

Also, please also opine on whether you feel we should do a maintenance rele

[2019-02-23 00:17] pixelzoom commented on #169
@jbphet looks like you used the wrong issue number in the commits. I've tagged them above.

[2019-02-23 00:19] pixelzoom commented on #169
@jbphet said:

Can you comment on why that was the case?  It should be as simple as using NumberDisplay with `align: 'right'`.   Was there a problem with NumberDisplay, or was there something odd done in the sim that required more work?

[2019-02-25 18:07] jbphet commented on #169
Sure.  Several of the cases were not using `NumberDisplay`, they were creating their own background and putting the number over it.  `TracerNode.createInformationBox` is once such example, and there are several others.  In fact, there seemed to be similar methods in several places, which looked like there was some code duplication that could potentially be consolidated, or maybe they should all us

[2019-02-25 18:15] pixelzoom commented on #169
These options to NumberDisplay should have done the job:

[code]

I don't see `noValueAlign` used in projectile-motion.  Did you implement a custom solution?

[2019-02-25 18:17] pixelzoom commented on #169
I just had a look at this.  Highly recommended to replace with NumberDisplay.

[2019-02-25 18:21] jbphet commented on #169
I agree that using `NumberDisplay` is ultimately the way to go.  I made a call to adjust rather than rewrite in the interest of time.  How about we create another issue and assign to @andrealin to do such an update?  I believe she is going to be working with us for a couple of weeks at the beginning of the summer.

[2019-02-25 18:24] jbphet opened #173 "Use NumberDisplay instead of creating unique displays"
There are several places in the code where a background is created and a number is placed over it, see for example `createInformationBox` in `TracerNode`.  There exists a type called `NumberDisplay` that should do much of the work for this, and the code should be rewritten to take advantage of it.  This came up while working on #169, and it would have been easier to address if `NumberDisplay` had

[2019-02-25 18:25] jbphet commented on #173
@ariel-phet - you'd said to be on the lookout for items where @andrealin may be able to contribute.  Might this be one?

[2019-02-25 21:55] arouinfar commented on #169
@jbphet the updated tracer and numberControl readout alignments look good in 1.1.0-dev.2! Thanks for making these changes. I'm not sure that these changes would be critical enough for a maintenance release, so I'll defer to @ariel-phet.

[2019-03-05 04:20] ariel-phet commented on #169
@jbphet @arouinfar @pixelzoom. A nice improvement, but not worthy of a maintenance release. Removing assignees.

[2019-03-26 22:23] KatieWoe opened #174 "CT No such file or directory"
[code]

May relate to https://github.com/phetsims/gene-expression-essentials/issues/125

[2019-03-27 16:03] jbphet commented on #174
Fixed by @samreid in 3916ffb7e29ecd73cdb1cb7d091104446ab38a23, closing.

[2019-03-27 16:03] #174 closed

[2019-04-16 19:33] KatieWoe opened #175 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* Arrows on the ends of sliders could have larger pointer areas

Screenshots:
![Image from iOS (1)](https://user-images.githubusercontent.co

[2019-04-17 16:11] arouinfar commented on #175
Thanks @KatieWoe. Looks like another place we can utilize the asymmetric pointer area dilation added in https://github.com/phetsims/scenery-phet/issues/489.

@jbphet here's a mockup showing updated touch areas in green.
![image](https://user-images.githubusercontent.com/8419308/56303409-152e7480-60f9-11e9-8a09-0c8a48c7d0bf.png)

[2019-06-06 02:42] ariel-phet commented on #173
@jbphet I think this might be a nice small chunk of work for @arnabp

[2019-06-14 16:04] arnabp commented on #173
When converting the parameter control boxes in the custom object of the lab screen I ran into an interesting issue. The current implementation of these text boxes simply display the number used in the Axon.NumberProperty as is.

<img width="326" alt="Screen Shot 2019-06-14 at 9 02 00 AM" src="https://user-images.githubusercontent.com/8583364/59521773-52f61200-8e8a-11e9-9e40-fb50660e8853.png">

How

[2019-06-14 17:49] pixelzoom commented on #173
I understand the issue.  But unfortunately I don't have time to respond or consider API change to NumberDisplay, and I'll be unavailable until after July 2.  If this is going to block work on Projectile Motion, then my recommendation is a variation of your third option -- leave as is for now in the sim, leave this issue open and deferred, and create a general issue for NumberDisplay in scenery-phe

[2019-06-26 21:20] SaurabhTotey commented on #175
I have set all touch dilation X and Y values to 20. Here is what it looks like right now in master.
<img width="1440" alt="dragscreen" src="https://user-images.githubusercontent.com/22577113/60215823-c3efdf00-9825-11e9-87b7-04073df73e0f.png">
<img width="1440" alt="labscreen" src="https://user-images.githubusercontent.com/22577113/60215827-c5b9a280-9825-11e9-83f0-62f86e46861b.png">

[2019-06-26 21:24] arouinfar commented on #175
Thanks @SaurabhTotey! It looks like I overlooked the tweakers on the Initial Speed NumberControl in my mockup in https://github.com/phetsims/projectile-motion/issues/175#issuecomment-484157020. Can you apply the same dilation to all NumberControl tweakers in the sim?

[2019-06-26 21:34] SaurabhTotey commented on #175
Sure thing! I applied the increased touch dilation to the initial speed number control as well now. Here is what it looks like in master.

<img width="1440" alt="introscreen" src="https://user-images.githubusercontent.com/22577113/60216436-475e0000-9827-11e9-841e-9d4039837210.png">

This is how it looks like on all screens.

[2019-06-26 21:48] KatieWoe commented on #175
They don't seem to have changed on master for me for some reason.
![notbigger](https://user-images.githubusercontent.com/41024075/60217383-d53aea80-9829-11e9-9f57-7fc9b6c67b76.png)

[2019-06-26 21:53] SaurabhTotey commented on #175
Hmm... That is odd. Have you git pulled and are you up to date with e825cf44f5cb5ff8fab4211c5e8528828d3ee396? I seem to have pushed changes from my end, and the changes seem to exist on this repository. However, this may entirely be my mistake.

[2019-06-26 21:57] KatieWoe commented on #175
I pulled a few minutes after https://github.com/phetsims/projectile-motion/issues/175#issuecomment-506053910.  I'll try again just in case.

[2019-06-26 21:59] KatieWoe commented on #175
Never mind, it looks ok now.  I must have pulled too earlier.

[2019-06-27 22:39] arouinfar commented on #175
Looks great, thanks @SaurabhTotey!

[2019-06-27 22:39] #175 closed

[2019-07-02 16:59] arnabp commented on #173
I looked at the other areas where unique displays are used and, with the exception of the target label, all of them would require this change to NumberDisplay to function properly, so leaving those boxes doesn't really solve the issue as they are the basis of the issue. I've created the appropriate issue in scenery-phet to see where to go from here: https://github.com/phetsims/scenery-phet/issues/

[2019-07-11 08:27] arnabp commented on #173
I believe I've tackled all instances where NumberDisplay could be used, with the exception of the TracerNode, which used a String Property instead of a Number Property for its display.

[2019-07-12 16:00] jbphet commented on #173
I skimmed through the code changes and tested the behavior of the sim, all looks good.  Thanks for tackling this @arnabp, closing.

[2019-07-12 16:00] #173 closed

[2019-07-30 22:36] arouinfar opened #176 "User suggestion: bring back David's fig leaf"
In https://github.com/phetsims/projectile-motion/issues/158 we made the decision to keep David's pants on. The HTML5 version of the sim is being used by younger learners, and the fig leaf easter egg was too distracting for some classrooms.

That said, I have heard from many teachers at conferences such as NSTA, ISTE, and AAPT who lament the loss of this easter egg.

Perhaps a compromise would be t

[2019-07-31 00:53] ariel-phet commented on #176
@arouinfar we had discussed something like shooting his shorts off and there would be a speedo...or perhaps he could have sunglasses and those would shoot off?

I think what teachers are lamenting is the ability for something to happen when you shoot David, not necessarily the fig leaf in particular.

I would be fine with something, but I think the fig leaf is (sadly) too problematic.

[2019-10-04 18:43] zepumph opened #177 "Instrument for PhET-iO"
This sim is next on my list for PhET-iO instrumentation. Tagging @jbphet because he is the responsible dev.

My thoughts are to take a first pass before taking it to a design meeting.

@jbphet could you please note any current issues in the repo that should be taken care of before publishing off of master? Then you can unassign yourself.

[2019-10-09 22:44] zepumph opened #178 "What is needed before next release?"
RE https://github.com/phetsims/projectile-motion/issues/177, I want to make sure I understand what of the current issues in this repo should be done before we publish this sim for phet-io.

[2019-10-09 22:45] zepumph commented on #177
Nevermind @jbphet, please see https://github.com/phetsims/projectile-motion/issues/178

[2019-10-09 23:20] zepumph opened #179 "ProjectileMotionModel.speedProperty should be an EnumerationProperty"
There are few usages of it, but it only takes "normal" or "slow", so I feel like it probably belongs as an EnumerationProperty. That will be most clear I think.

[2019-10-10 00:02] zepumph commented on #177
Questions for a design meeting:

* should VectorVisibilityProperties have a sub tandem, or should all its properties be directly on the view. In GQ we put them under 'viewProperties' and I did that here too.

[2019-10-10 00:46] zepumph opened #180 "instrument selectedProjectileObjectTypeProperty"
From https://github.com/phetsims/projectile-motion/issues/177, I think this will make things clearer in PhET-iO, and I don't see an obvious downside elsewhere.

[2019-10-10 01:00] zepumph commented on #177
After the above commits, studio and standalone are running when not validating tandems (but validating API).

[2019-10-10 15:35] KatieWoe opened #181 "CT event indexing failed"
[code]

[2019-10-10 19:27] zepumph commented on #181
Thanks! This will be broken for some time. My first priority with the sim is passing all the required tandems through. For the sim there are still 738 to go! (many duplicated x4 screens). CT tests by validating tandems, so it will be failed for some time.

[2019-10-11 19:35] jbphet commented on #163
This sim is being revisited for phet-io instrumentation.  This issue is unassigned and isn't getting any attention, so we should decide if this is worth doing now.  Tagging @ariel-phet and @arouinfar to decide, @zepumph so that he is aware of the decision, since he would be the one to implement it.

[2019-10-11 19:41] jbphet commented on #162
This issue is over a year old and isn't assigned to anyone.  I'm revisiting the list of open issues in preparation for some work being done, so I'll try to answer the developer's question.

@ayrimsal - The only use of `.trim` that I see anywhere in the code is `StringUtils.trim()`, so my best guess is that you don't have the latest version of that dependency.  If you're working off of master, plea

[2019-10-11 19:48] jbphet commented on #49
@jonathanolson and @ariel-phet - I'm going through issues in this repo due to some work that is being done for phet-io, see https://github.com/phetsims/projectile-motion/issues/178.  Can this issue be closed, or should it be left open and deferred?

[2019-10-11 19:51] jbphet commented on #178
I just went through the list of open issues and made some updates.  My recommendation is to make sure that issue https://github.com/phetsims/projectile-motion/issues/169 will go out with any new releases. I've asked about https://github.com/phetsims/projectile-motion/issues/163, and you should go with whatever the designers/management decides on that one.

The remaining issues seem like more than

[2019-10-11 20:21] zepumph opened #182 "totalOrComponentsProperty should be an EnumerationProperty"

[2019-10-11 20:51] zepumph opened #183 "Replace SimpleDragHandler with DragListener"

[2019-10-11 20:56] zepumph commented on #127
Pinging @Denz1994 for current progress on KeyPad. Is this something that is close enough to completion that we should add it before instrumenting the workarounds for PhET-iO. That would definitely be preferred.

[2019-10-11 21:00] zepumph opened #209 "Convert DownUpListeners to FireListeners"

[2019-10-11 22:04] zepumph commented on #177
As of now all required tandems have been filled in. The sim launches in studio and standalone while validating tandems. Studio can break pretty easily though because of incorrect serialization. Here is a list of next steps:

* Instrument the harder model properties, like the list of projectiles
* Instrument enumerations after conversions in separate issues
* Handle some other code review issues th

[2019-10-14 15:01] KatieWoe opened #184 "CT api mismatches present"
[code]

[2019-10-14 17:10] jbphet commented on #184
I haven't been doing any work on this sim, but @zepumph has, and suspect it's related to that.  Assigning to him.

[2019-10-14 19:12] zepumph commented on #184
@KatieWoe just like over in https://github.com/phetsims/projectile-motion/issues/181#issuecomment-540743628, please don't worry about failures in projectile motion. It is currently under phet-io development, and phet-io tests will fail for some time. In the future I can be assigned also, instead of @jbphet.

[2019-10-16 17:54] zepumph commented on #181
This has been fixed, see https://github.com/phetsims/projectile-motion/issues/184 for the next CT issue

[2019-10-16 17:54] #181 closed

[2019-10-16 17:56] zepumph commented on #151
Tagging @arouinfar because there is work being done in this sim again. Let me know if you want this implemented.

[2019-10-16 18:23] zepumph opened #185 "factor out GRAVITY_ON_EARTH"

[2019-10-16 18:36] #185 closed

[2019-10-16 18:41] zepumph opened #186 "convert to es6"

[2019-10-16 19:58] zepumph opened #187 "convert trajectories to be a PhetioGroup"

[2019-10-16 19:58] zepumph commented on #187
From https://github.com/phetsims/projectile-motion/issues/177

[2019-10-16 20:32] zepumph opened #188 "CUSTOM objectType should have benchmark "custom""
Looking through the code, benchmark is either null or string, but it is only null for the custom item. There is a lot of logic that is assuming a mapping between null and custom. Why not just add 'custom' as a benchmark, and then be explicit, testing `if( benchmark === 'custom' )`.

[2019-10-16 20:49] zepumph opened #189 "Create lab screen projectile controls eagerly"
From https://github.com/phetsims/projectile-motion/issues/177. From a PhET-iO standpoint, it will be easiest to create everything on construction and then toggle visibility.

[2019-10-16 21:07] ariel-phet commented on #163
@zepumph @arouinfar this seems like a worthwhile change to me, especially since it would appear to be a common teacher request.

My suggestion would be that when the cannon goes below ground the "post" it sits on is turned into a more oblong pit than now currently exists (so a longer major axis of the oval that represents the pit) such that the cannon can reach an angle of 5 degrees at zero height

[2019-10-16 21:21] arouinfar commented on #163
Looks like @ariel-phet and I were working on this simultaneously. I'm currently tinkering in my local copy, I'll write up my thoughts shortly. But to put things briefly...
* Reducing the minimum angle at 0 m to 15* is a one-line change to [ANGLE_RANGE_MINS](https://github.com/phetsims/projectile-motion/blob/master/js/common/view/CannonNode.js#L57) and would not require any further design changes.

[2019-10-16 21:55] arouinfar commented on #163
To reach an angle of 5*, the ellipse needs to stretch quite a bit, and if we leave the cannon centered, the ellipse would escape out of the dev bounds. I think it might also look pretty strange to change the ellipse dimensions depending on the cannon's height.

![image](https://user-images.githubusercontent.com/8419308/66962039-3da61580-f02d-11e9-8ce9-f6bc1478b0c3.png)
![image](https://user-images

[2019-10-16 21:56] arouinfar commented on #163
@ariel-phet what do you think about shifting the cannon so it's slightly left of center? The crosshairs and origin would also need to move a bit to the left to stay coordinated with the cannon position.

[2019-10-16 22:09] zepumph commented on #189
We may find that this is an unacceptable amount of memory to be using, because before things were created as needed, and destroyed as needed. Currently the memory footprint is likely too big, ~140MB.  I'm still happy to have made these changes, because they feel more modular, and if we need to convert to a create/dispose as needed, it should be pretty easy.

[2019-10-16 22:10] #188 closed

[2019-10-16 22:10] zepumph commented on #187
This was done in the above code. It currently isn't supporting state though. I'll keep looking into that.

[2019-10-16 22:19] zepumph commented on #168
I think that changing this to use the unicode version seems right to me. I'll do that now.

[2019-10-16 22:22] zepumph commented on #168
@pixelzoom does that seem better to you (I also did that for degree).

[2019-10-16 22:53] ariel-phet commented on #163
@arouinfar I think that is a nice change. There is really no special reason to have the cannon centered on the "pedestal" and this tweak accomplishes the goal nicely.

[2019-10-16 23:13] zepumph commented on #182
This change left the code more readable, and made the vectorsDisplayProperty automatically instrumented by converting it to an EnumerationProperty (with a studio control!).

[2019-10-16 23:13] arouinfar commented on #163
Thanks @ariel-phet.

@zepumph can you please shift the cannon, crosshairs, and origin of the projectile to the left side of the pedestal? The final screenshot in https://github.com/phetsims/projectile-motion/issues/163#issuecomment-542908020 was made a bit carelessly in my local copy. I shifted the `centerX` coordinate of the cannon base to -75, but I wasn't sure how to shift the rest with it.

[c

[2019-10-16 23:15] zepumph commented on #182
From #177. Closing

[2019-10-16 23:15] #182 closed

[2019-10-16 23:22] zepumph commented on #180
This doesn't immediately seem as valuable as #182. Before converting this sort of thing, I would like to know what the specs are for this design.

[2019-10-16 23:50] zepumph commented on #180
Actually, scratch that. Instead of instrumenting it with an enum, I decided they were just references. And I instrumented all the benchmark constants, and made the Property support references for those. The following command works in studio:

[code]

[2019-10-17 00:28] zepumph commented on #184
Hey! CT is clear, wahoo (faster than expected). I hope I can keep it that way. Closing

[2019-10-17 00:28] #184 closed

[2019-10-17 00:29] zepumph commented on #184
That one was fixed by https://github.com/phetsims/projectile-motion/issues/189

[2019-10-17 00:30] zepumph commented on #180
I think this is pretty good as is, one improvement could be to add "validValues" to it by passing in the complete list of possibilities for that screen.

[2019-10-17 00:40] zepumph commented on #180
I added validValues and I really like the way it turned out. I'm going to close this issue now. ![image](https://user-images.githubusercontent.com/6856943/66968804-4d285d00-f033-11e9-8fe2-94d16122f67e.png)

[2019-10-17 00:40] #180 closed

[2019-10-17 00:44] zepumph opened #190 "PhET-iO spec from client"
Related for #177:

General Elements:
- [x] Each item in the grey and black bar at the bottom should be hideable.
- [x] Ability to hide tabs (only one will be used at a time).
      	* using `?screens`
- [x] Ability to hide David statue image.
   		* `projectileMotion.introScreen.view.davidNode.visibleProperty`
- [x] Ability to hide reset button.
- [x] Ability to preset the zoom and fix.
		*  emit

[2019-10-17 01:05] zepumph opened #191 "Should launchVelocityProperty be renamed to initialSpeedProperty"
This would make things more in-line with the display, and make studio a bit easier to understand.

[2019-10-17 01:09] zepumph opened #192 "Add a range for Score.targetXProperty"

[2019-10-17 01:20] zepumph commented on #190
I made it through the "general elements" section.

I think this is done, though I'm not sure I understand what "selectable" means. I believe I need a designer here.

[2019-10-17 03:52] pixelzoom commented on #168
Yes, that seems better.  But note that the degrees symbol is in MathSymbols.js, and we haven't been making it translatable in other sims (most recently Vector Addition).

[2019-10-18 15:14] ariel-phet commented on #49
Considering we no longer support iPad2, this issue can be closed

[2019-10-18 15:14] #49 closed

[2019-10-18 17:56] zepumph commented on #189
Today during phet-io team meeting, @chrisklus and @samreid and I ran this sim again, and it was consistently around 50-60MB for phet and phet-io brands. I don't think this is as much of an issues as I thought. It was probably just my Chrome instance having too many tabs open.

[2019-10-18 17:56] #189 closed

[2019-10-18 22:03] zepumph opened #193 "maxWidth NumberDisplay issues in VectorsProjectilPanel"
![image](https://user-images.githubusercontent.com/6856943/67131179-1cb9fd80-f1b0-11e9-9ec7-89dc4d7140b0.png)

[2019-10-18 22:04] zepumph commented on #193
This doesn't happen on the published version. https://phet.colorado.edu/sims/html/projectile-motion/latest/projectile-motion_en.html?stringTest=long

[2019-10-18 22:08] zepumph opened #194 "Replace usages of _.defaults with PHET_CORE/merge"
Though this is a fine pattern, it is atypical to use for our options, and merge is preferred, if only because it is a pattern used across the whole project. For example I had never seen this function until beginning to work on this sim, and I had to look it up. While that isn't inherently enough to warrant a conversion, I think it would help clean up the code.

[2019-10-18 22:32] zepumph opened #195 "VectorVisibilityProperties and subtypes needs a bit of work"
VectorVisibilityProperties has the following properties:

[code]

This can be simplified into 4:
* total vs components Property, which is already in two subtypes called `vectorsDisplayProperty`
* forceVectorOnProperty
* veloctityVectorOnProperty
* accelerationVectorOnProperty

Then items that were just linking to a single property before, can like to the `vectorsDisplayProperty` and the other one,

[2019-10-18 22:55] zepumph commented on #190
I've finished the first pass at the list. Let's discuss at the design meeting, especially the started items.

[2019-10-18 23:00] zepumph commented on #177
I think we are ready for a PhET-iO meeting. The main agenda is https://github.com/phetsims/projectile-motion/issues/177#issuecomment-540256334, and it will be good to look through https://github.com/phetsims/projectile-motion/issues/190 too. Tagging @kathy-phet so she knows that I think it is time. In the interim I will work on the code review issues I've found (~10 issues I've opened through this

[2019-10-19 00:23] zepumph commented on #163
The change is implemented above. To do this, we had to alter the origin for the view. So the change was less about moving the cannon over, but instead about shifting over the view elements that were no longer aligned with the cannon (see usages of `centerXOfCylinder`).  Here is the view now. In terms of space between dev bounds and the cylinder, It was a bit manual to try to keep the same margin,

[2019-10-19 00:24] zepumph commented on #163
If you want to play with this more, I think it should be as easy as adjusting the VIEW_ORIGIN x in ProjectilMotionConstants, and then changing the `1.5` in `centerXOfCylinder`.

[2019-10-22 18:08] arouinfar commented on #163
The cannon is looking really good underground.
![image](https://user-images.githubusercontent.com/8419308/67249412-d3beaf00-f424-11e9-9f05-406066c3e60a.png)

I think the cannon is just a bit too far on the left side of the pedestal, and the height leader line is also encroaching on it a bit. I couldn't quite figure out how to move the cannon right a bit without shifting everything else, but I did

[2019-10-22 22:24] arouinfar commented on #176
I don't agree that the fig leaf would be problematic behind a query parameter. If the teacher wants the fig leaf, they can use the query parameter. If the fig leaf is too risqué for their classroom, they don't have to use the query parameter. The only place it would be advertised is in the Teacher Tips (on the 3rd page), which requires a teacher account to access.

Since we already have the artwor

[2019-10-23 14:44] arouinfar commented on #151
Looking at this issue with fresh eyes, I think I was overcomplicating this a bit.  It's already possible to qualitatively compare the velocity vectors along multiple points along the trajectory, as we allow up to three projectiles in the air at once.

![image](https://user-images.githubusercontent.com/8419308/67340628-25ca0800-f4eb-11e9-84c3-c3b98b093928.png)

The goal here is really to get some q

[2019-10-23 14:51] arouinfar commented on #153
Since this sim is getting worked on again, it might be nice to consider allowing larger initial velocity values on the Lab screen. This should be pretty easy to experiment with locally, so self-assigning.

[2019-10-23 18:14] zepumph commented on #168
Sounds good. I'll make another issue.

[2019-10-23 18:14] #168 closed

[2019-10-23 18:15] zepumph opened #196 "degrees doesn't need to be translatable"
From, https://github.com/phetsims/projectile-motion/issues/168, @pixelzoom says we can just use the degrees sign from `MathSymbols.js`.

[2019-10-23 18:23] zepumph commented on #196
@pixelzoom implemented above. Closing

[2019-10-23 18:23] #196 closed

[2019-10-24 19:05] arouinfar commented on #153
Allowing higher initial speeds means that the density of the path dots can get pretty high, and we will also need to expand the zoom range. Experimenting locally, I think 100 m/s is just too fast -- too many dots, long time-of-flights, and requires too extreme of a zoom level.

A compromise might be to increase the maximum velocity on the Lab screen to 50 m/s. We would only need to add one additio

[2019-10-24 23:42] samreid commented on #194
It seems better to use merge for sim options.

[2019-10-25 18:23] zepumph opened #197 "Refactor custom "boxes" to NumberControl?"
During PhET-iO meeting, we were curious why custom "boxes" with a NumberDisplay and HSlider were not NumberControls. Speaking with @arouinfar and @kathy-phet, they didn't care about having the tweaker buttons, though they aren't really needed. This consistency would improve having a consistent API for PhET-iO, as well as potentially making it easier to support interactive descriptions.

Also, how

[2019-10-25 19:08] zepumph opened #198 "Support PhET-iO state"
From https://github.com/phetsims/projectile-motion/issues/177,

To support state, the most important items that currently aren't transferred are:

- [x] Trajectories
- [x] modelViewTransformProperty (not instrumented) see https://github.com/phetsims/projectile-motion/issues/207

[2019-10-25 19:49] #191 closed

[2019-10-25 20:45] pixelzoom opened #199 "odd pink arc in control panel"
While responding to https://github.com/phetsims/projectile-motion/issues/197, I noticed an odd pink arc in over the word "Resistance", in this control panel in the _Lab_ screen. This was in projectile-motion sha a2510ac7aa48287e8264b2f5805ef66238068381.

<img width="300" alt="screenshot_1636" src="https://user-images.githubusercontent.com/3046552/67603424-08d54500-f736-11e9-9e57-714b133d3151.png">

[2019-10-25 20:46] pixelzoom commented on #199
This was in projectile-motion sha a2510ac7aa48287e8264b2f5805ef66238068381

[2019-10-25 20:46] pixelzoom commented on #197
Examples please.

[2019-10-25 20:52] arouinfar commented on #197
@pixelzoom these are the controls in question. You can find them on the Vectors and Drag screens.

![image](https://user-images.githubusercontent.com/8419308/67603696-d4ae5400-f736-11e9-8af6-138c9c4811c3.png)

[2019-10-25 20:54] arouinfar commented on #199
@pixelzoom the issue is that the Air Resistance checkbox should be left-aligned (as it is on other screens). The pink arc is the corresponding icon for air resistance. This is documented in the last checkbox in https://github.com/phetsims/projectile-motion/issues/177#issuecomment-540256334.

[2019-10-25 20:54] arouinfar commented on #199
Thanks for reporting and finding the offending commit.

[2019-10-25 21:29] pixelzoom commented on #199
Still a problem in master after pull-all.sh, projectile-motion df1a1fddd2954bb673f85572c35324bd9aee7897.

[2019-10-25 21:31] pixelzoom commented on #199
It seems odd that this would cause the problem.  If the icon is for the Air Resistance checkbox, it should be part of that checkbox's label, and would move with the checkbox and text.   So I think you should take a look at how this icon was added -- sounds like it was added incorrectly.

[2019-10-25 21:34] arouinfar commented on #199
@pixelzoom currently the text and icons are separate nodes, but that is being addressed in #190

[2019-10-25 21:35] pixelzoom commented on #199
The icon is indeed being added incorrectly.  Here's the code in LabProjectilePanel:

[code]

It should be:

[code]

[2019-10-25 21:46] pixelzoom commented on #197
Based on @arouinfar's screenshot, and searching around a bit... I determined by "custom boxes", @zepumph must be referring to the `createCustomParameterControlBox` method in `LabProjectilePanel`.   That's how I spent the first 15 minutes on this issue.  Now I'll work on responding to the question.

[2019-10-25 21:50] pixelzoom commented on #197
WebStorm "Show History for Selection" shows no evidence of me having worked on `createCustomParameterControlBox`, and I don't recall collaborating on it with @andrealin.  I suspect that she wasn't aware of the ability to create a custom `layoutFunction` for `NumberControl` that would exclude the spinners.  And it looks to me like that would be a fine solution.  I don't see a predefined `layoutFunc

[2019-10-25 21:53] zepumph commented on #190
Everything has been implemented here. @arouinfar, I was unable to find a way to consistently, and maintainably align the vector-related checkbox icons on the right side of the panel now that they are part of the checkbox text content. As a result, I decided to space them just right of the longest text. I could move them over more than that, but I felt like closer to the checkbox was better than so

[2019-10-25 22:13] zepumph commented on #197
Thanks, I didn't even think about how a layoutFunction could hide the tweakers for us. I like that solution a lot, and will start first trying to add it to be a general one to NumberControl.

[2019-10-25 22:36] zepumph opened #200 "icon constants can't be added directly to layout Nodes"
Over at the tail end of https://github.com/phetsims/projectile-motion/issues/190 I found that there is a problem with adding icon constants like `FORCE_VECTOR_ICON` directly into an hbox because, if it is used in more than one place, that will be buggy. This hasn't shown itself as far as I can tell because on each screen the icon was being positioned in the same way. Now we are not doing that anym

[2019-10-25 22:45] zepumph commented on #199
I did a few fixes here. I'll explain them individually:

* Surrounded the ICON in a containing Node, see https://github.com/phetsims/projectile-motion/issues/200
* made the Panel VBox align left, though I couldn't

* Agreed, and that was being fixed in many cases at the tail end of https://github.com/phetsims/projectile-motion/issues/190. For PhET-iO it was beneficial to able to have the icon in t

[2019-10-25 22:45] #199 closed

[2019-10-25 22:51] #200 closed

[2019-10-25 23:20] #194 closed

[2019-10-25 23:21] zepumph commented on #198
See also https://github.com/phetsims/projectile-motion/issues/187

[2019-10-25 23:29] #179 closed

[2019-10-25 23:30] zepumph commented on #178
Thanks @jbphet, I feel like the appropriate gears are in motion now. Closing.

[2019-10-25 23:30] #178 closed

[2019-10-25 23:31] zepumph commented on #195
This is potentially a by product of using a custom control box instead of `NumberControl`, let's see if https://github.com/phetsims/projectile-motion/issues/197 doesn't solve this.

[2019-10-31 18:09] zepumph opened #201 "Audit textProperties for dynamic layout changes"
For example, the altitude NumberControl on the drag screen, making the text longer will push the panel off the screen.

[2019-10-31 19:57] zepumph opened #202 "Dashes on the road don't scale"

[2019-11-01 18:44] zepumph commented on #163
I committed fixes for the zoom bugs, and I made the alterations that @arouinfar recommended above as best I could. Please review.

- [ ] There was a bug with how the angle drag was occurring until this commit. This commit fixed it, but I'd still like to take a look at improving it (I marked a TODO in the code too).

[2019-11-01 19:45] zepumph commented on #193
This is potentially a by product of using a custom control box instead of `NumberControl`, let's see if https://github.com/phetsims/projectile-motion/issues/197 doesn't solve this.

[2019-11-01 20:45] zepumph opened #203 "Add phetioDocumentation"
I have not been doing this as I went. Mainly because I was trying to get to an MVP as quickly as possible. I think at least some effort should be put into this before first delivery to client.

[2019-11-01 21:02] arouinfar commented on #163
@zepumph the canon position is looking awesome, thanks!

[2019-11-01 21:02] arouinfar commented on #163
Reassigning back to @zepumph because of the outstanding TODO.

[2019-11-01 21:54] zepumph commented on #195
Here are the properties needed for each screen:

Intro:

totalVelocityVectorOnProperty
componentsVelocityVectorsOnProperty
totalForceVectorOnProperty
componentsForceVectorsOnProperty

Vectors:

velocityVectorsOnProperty
accelerationVectorsOnProperty
forceVectorsOnProperty
vectorsDisplayProperty (total/components)

Drag:

velocityVectorsOnProperty
forceVectorsOnProperty
vectorsDisplayProperty

And

[2019-11-01 22:00] zepumph commented on #195
Part of this work was a good bit of refactoring in ProjectileNode. In my opinion there was too much in the constructor, and much of it wasn't needed for every single instance created (often depending on the screen and the values in VectorVisibilityProperties. So I pulled out drawing of each type of arrows (vector/acceleration crossed with total/component) into their own prototype method, and found

[2019-11-01 22:48] arouinfar commented on #190
@zepumph thanks for investigating. I think the alignment in https://github.com/phetsims/projectile-motion/issues/190#issuecomment-546525766 looks a bit odd -- either the icons should be on the far right side of the panel or consistently spaced from the end of the accompanying string. The former looks a bit more like a legend, and the latter is a more typical alignment used in sims (which is what I

[2019-11-01 22:55] zepumph commented on #197
I made the conversion in the Vectors screen above, it was pretty straight forward and I really like it for phet brand.

For PhET-iO brand, this isn't ideal, because the tweakers are still created, and so still show up in studio. I may poke around in NumberControl and see how hard it would be to optionally remove the tweaker buttons (I will be adverse to rabbit holes here), and will report back!.

[2019-11-02 02:19] zepumph commented on #197
Over in https://github.com/phetsims/scenery-phet/issues/549 I added an option to remove the tweakers.

Then over here it was straight forward to make the conversion in the drag screen as well from "control box" to NumberControl. The code in the drag screen and vectors screen were basically the exact same, so I was able to factor this out into a new type.

@pixelzoom could you review this work, alo

[2019-11-02 02:21] zepumph commented on #197
I tested this by looking at before and after, and not noticing any layout changes (save a few pixels on the drag screen). The main points to review would be to look at the conversion and creation of TweakerlessNumberControl. Then you can play around in studio and see that there are no arrow buttons in ti.

[2019-11-02 05:18] pixelzoom commented on #197
I reviewed the commits.  I understand why you renamed the option `excludeTweakers`.  But I think your first instinct, to name it `includeArrowButtons`, was the correct choice. It's more consistent with both the API and implementation -- option `arrowButtonOptions` is part of the API, and the buttons are `ArrowButtons` (not TweakerButtons, which don't exist).  I'm also not a fan of options that spe

[2019-11-02 05:26] pixelzoom commented on #197
It looks like energy-skate-park/PhysicalNumberControl has a layoutFunction that conditionally hides tweakers (sic) and NumberDisplay.  So should we also deal with making the NumberDisplay option, via `includeNumberDisplay`?

I'm also starting to wonder...  NumberControl was not specified as having optional subcomponents, and there was a goal of unifying the approach for this type of control.  Firs

[2019-11-02 05:31] pixelzoom commented on #197
Oops. I put NumberControl review comments in this issue by mistake. I've moved them to https://github.com/phetsims/scenery-phet/issues/549.

[2019-11-02 14:53] pixelzoom commented on #197
As I said over in phetsims/scenery-phet#549, I'm not a fan of this "tweaker" terminology. It doesn't match the terminology used in NumberControl, and there's in fact nothing in NumberControl to limit the arrow buttons to "tweaking".   So instead of `TweakerlessNumberControl`, I'd rather see `ArrowlessNumberControl`. But this is sim-specific code which I'm less apt to have to look at, so I'll defer

[2019-11-02 15:39] pixelzoom commented on #197
Looking at `TweakerlessNumberControl` more closely, I see some potential issues.

- [ ] NumberControl and its superclass have no `width` options, so what is this doing?

[code]

- [ ] Options are merged in 2 separate calls.  It would be nice to avoid this, since (in general) we've identified it as an anti-pattern.

- [ ] The args to the 2nd `merge` are backwards, it allows the more general setting

[2019-11-04 17:22] zepumph commented on #190
Hows that?

[2019-11-06 19:49] zepumph commented on #197
I renamed to `ArrowlessNumberControl`, as that seemed safe and simple, though @jbphet please let me know if you would like it to be another type.

I am able to click on the track, but it is an incredibly narrow pickable width (seems to be independent of trackLineWidth).

I think I agree with you in general, but here it feels pretty clean to merge first the options that then inform other overrideab

[2019-11-06 22:07] zepumph commented on #193
Now that https://github.com/phetsims/projectile-motion/issues/197 has been implemented, I no longer see this as an issue:

![image](https://user-images.githubusercontent.com/6856943/68342128-65b9ef00-0096-11ea-8d12-56d3677d022e.png)

Closing

[2019-11-06 22:07] #193 closed

[2019-11-06 22:12] pixelzoom commented on #197
Ah yes, so am I.   Forget I saw it, or adjust pointer areas, up to you.

See patch below.  The other problem that this addresses is that you want `maxWidth` to be computed, not overridable by the client.

<details>
<summary>Patch</summary>

[code]

</details>

[2019-11-06 22:14] pixelzoom commented on #197
Here's the full file with patch applied, if that's easier to look over.

<details>
<summary> ArrowlessNumberControl.js</summary>

[code]

</details>

[2019-11-06 22:20] zepumph commented on #183
This was a simple conversion, and I couldn't see any problems when testing. Closing.

[2019-11-06 22:56] zepumph commented on #183
I should also do MoveableDragHandler.

[2019-11-06 23:21] zepumph commented on #163
Should be all set now. I updated the cursors (related somewhat to https://github.com/phetsims/scenery/issues/1013), and fixed some of the transform conversions. Closing

[2019-11-06 23:21] #163 closed

[2019-11-06 23:33] zepumph commented on #197
That makes sense, and would work, but it means that that isn't an option. I don't see a reason to convert to a pattern that would then disallow something as optional as `maxWidth` to not be provided if needed by another usage.
Maybe the best way would be to only include the optional items that rely on other options in the second block, like so:

<details> <summary>options needing other options in

[2019-11-06 23:46] zepumph commented on #183
While converting the MoveableDragHandler in TracerNode, I got 80% there, but found that DragListener doesn't have a transform setter, it is only set through the options.

I didn't commit anything, but worked on it and have a patch.

I added that setter to DragListener, which seemed to work. I also changed the `startDrag` to `press`, but the transform seems off because when I press, the mouse offse

[2019-11-06 23:47] pixelzoom commented on #197
If you want `maxWidth`s to be overridable, then replace the assertion with expressions that set defaults if they aren't provided, i.e.:

[code]
<br>

Sorry, but I disagree, what's currently committed is a mess.  There are so many other problems with it:

* And most importantly, it requires me to inspect and mentally merge multiple object literals in order to figure out what is going on here.
* It

[2019-11-06 23:49] pixelzoom commented on #197
If you want `maxWidth`s to be overridable, then replace the assertion with expressions that set defaults if they aren't provided, i.e.:

[code]
<br>

Sorry, but I disagree, what's currently committed is a mess.  There are so many other problems with it:

* Most importantly, it requires me to inspect and mentally merge multiple object literals in order to figure out what is going on here.
* It obfu

[2019-11-06 23:54] arouinfar commented on #190
The Vectors and Drag screens look good to me @zepumph
![image](https://user-images.githubusercontent.com/8419308/68347991-eb00cc00-00b5-11ea-819f-750bf14e670d.png)
![image](https://user-images.githubusercontent.com/8419308/68347998-f2c07080-00b5-11ea-841c-8f362f21afd9.png)

Are you planning to take the same approach on the Intro screen too?
![image](https://user-images.githubusercontent.com/841930

[2019-11-06 23:59] pixelzoom commented on #197
Looks like I didn't address this use of `options.xMargin` in my patch:

[code]

It would be addressed the same way as `maxWidth` was addressed:

[code]

Or now that we have 3 defaults that need to be filled in after the first `merge`, use another `merge`:

[code]

[2019-11-07 00:01] zepumph commented on #190
I wasnt' sure, and was going to ask (but then forgot). Implemented above. Anything else? Feel free to close.

![image](https://user-images.githubusercontent.com/6856943/68348455-59d62900-00a6-11ea-8e67-dd8d72af30b4.png)

[2019-11-07 00:09] arouinfar commented on #197
It looks like @zepumph and @pixelzoom have already made a lot of progress on this issue. I realize my opinions may be a bit moot now, but since I was asked...

Personally, I don't think that tweaker buttons add anything to the UX of the snappy slider. They are a bit redundant, but they also don't hurt anything. Since these sliders appear on other screens as full-fledged NumberControls with tweaker

[2019-11-07 00:11] arouinfar commented on #190
Looks good @zepumph, I'll go ahead and close.

[2019-11-07 00:11] #190 closed

[2019-11-07 00:11] pixelzoom commented on #197
@arouinfar said:

ArrowlessNumberControl is not in common code, it's specific to Projectile Motion.

[2019-11-07 00:12] pixelzoom commented on #197
@arouinfar said:

We determined that you can click in the track.  It's just difficult because the pointer areas for the track are very small.  Up to you whether to address it.

[2019-11-07 00:34] arouinfar commented on #197
Thanks for the clarification. I don't think this is critical to address, but I'll defer to @zepumph.

[2019-11-07 01:51] pixelzoom commented on #197
More on `options`...

When I proposed having ArrowlessNumberControl take control of `maxWidth` for title and NumberDisplay, @zepumph said:

Looking at all call sites for `new ArrowlessNumberControl`, I see no cases that provide maxWidths. And in fact you've add option `textDisplayWidth` as a means of controlling those maxWidths.

I also see that for all instances of `ArrowlessNumberControl`, the 3

[2019-11-08 01:00] zepumph commented on #192
After some more investigation, it looks like this could benefit from having a dynamic range, just like in https://github.com/phetsims/gravity-force-lab/issues/172.

This is because the range is based on the current zoom (in view coords). I will investigate supporting this and report back.

[2019-11-08 01:56] zepumph commented on #192
In the above commits I added a range to the `targetXProperty`. This is dependent on the current transform, and so is set by the view.

In general this is an excellent improvement for studio. Another bonus we got was a behavior change where now the score target won't get "lost" off to the right of the screen when you zoom out, move it far away from the cannon, and then zoom back in. I set it up to

[2019-11-08 01:58] zepumph commented on #192
http://phettest.colorado.edu/phet-io-wrappers/studio/?sim=friction&phetioValidateTandems&phetioDebug&phetioElementsDisplay=all so you have it.

[2019-11-08 15:50] KatieWoe opened #204 "CT a.assertNumberPropertyValidateValue is not a function"
[code]

[2019-11-08 16:48] pixelzoom commented on #197
Here's a compromise that I think might address both of our concerned. Happy to discuss.

<details>
<summary>Patch</summary>

[code]

</details>

<details>
<summary>ArrowlessNumberControl.js</summary>

[code]

</details>

[2019-11-08 17:48] zepumph commented on #192
As a note, @samreid, @chrisklus @zepumph all discussed the changes to NumberProperty. We noticed that when updating the rangeProperty, you need to make sure the current value of the Property is within that range otherwise you will error out when changing the range. In PM this meant adding this line before setting the range:

[code]

We thought about having an option in NumberProperty, like

[code]

[2019-11-08 17:48] jbphet commented on #204
@zepumph has been working on phet-io for this sim, and this seems related.  Feel free to assign back to me if I'm mistaken.

[2019-11-08 19:29] zepumph commented on #204
Thanks. I updated phetioDocumentation without adding it to the api, and I didn't guard against build when assertions are stripped out. Should be fixed now.

[2019-11-08 19:29] #204 closed

[2019-11-08 20:30] zepumph commented on #202
@arouinfar, this is likely something that was talked about before, but the road doesn't scale in and out. Would you like me add this in? I think this is a pretty low pixel polish, and would be fine just closing, up to you.

[2019-11-08 22:49] zepumph commented on #183
After getting some assistance from @jessegreenberg and @jonathanolson, we got the DragListener conversion working.

The main issue is that we wanted DragListener to handle to offset for us, instead of manually having that code in the forwarding listener in the toolbox. That can be covered by `offsetLocation`.

There is another bug that came out of this, and I will make an issue in scenery for that

[2019-11-08 22:56] zepumph commented on #183
Everything for this repo seems to be working now, see https://github.com/phetsims/scenery/issues/1014 for the bug report. Closing

[2019-11-08 22:56] #183 closed

[2019-11-13 20:21] zepumph commented on #197
Thank you @pixelzoom for diving into this with me. I like your patch above and ended up committing it with a few additions.

I really hate this line:
`      const textDisplayWidth = options.textDisplayWidth * 1.2;`

So I factored out usages of that "* 1.2" to be another constant in the constants file. This got rid of that line in `ArrowlessNumberControl`. we

In the above comment you mentioned thi

[2019-11-13 20:38] pixelzoom commented on #197
Changes look very nice.  I really like that you got rid of `const textDisplayWidth`.

One more suggestion... In `ProjectileMotionConstants.RIGHTSIDE_PANEL_OPTIONS`, rename `.numberControlTextDisplayWidth` to `numberControlMaxWidth`, since that's what it is, and all of its usages look like this:

[code]

[2019-11-13 20:46] zepumph commented on #197
Right! Done. Leaving for @jbphet. Please close if `ArrowlessNumberControl` seems like a worth while refactor.

[2019-11-13 21:51] arouinfar commented on #202
@zepumph let's not bother with scaling the dashes. I think they might end up being a bit less clear when zoomed all the way out. I do appreciate the suggestion, though!

[2019-11-13 21:51] #202 closed

[2019-11-13 21:52] zepumph commented on #187
This has been completed, see https://github.com/phetsims/projectile-motion/issues/198 for support for phetioState

[2019-11-13 21:52] #187 closed

[2019-11-14 01:34] zepumph commented on #198
I got pretty far on this today. Thanks @samreid for a lot of help.

I created a test case where I loaded studio with one screen, and then fired a single trajectory. After the commits today, the "launched' wrapper looks like this:
![image](https://user-images.githubusercontent.com/6856943/68818739-658b9780-0632-11ea-9adf-be48b371a365.png)

In the state wrapper, I am getting the following error, lik

[2019-11-15 02:27] zepumph opened #205 "Apply PhET-iO featured"
I think we are ready to start thinking about adding PhET-iO featured for this, so I'm making an issue.

* Likely we will want to hold off, at least until the state work is more complete in #198. There may be a few other issues to look into.
* Are we going to add phetio featured for clients on the initial instrumentation for this sim?

[2019-11-15 15:36] KatieWoe opened #206 "CT cannot read property phetioEngine of undefined"
[code]

[2019-11-15 17:32] jbphet commented on #206
Looks phet-io-related, and @zepumph is working on that for this sim.  Passing off to him.

[2019-11-15 23:27] zepumph commented on #206
This was an accidental commit of an assertion that I was using during development, sorry about that. @KatieWoe feel free to assign me all PM related CT issues for the coming future, as @jbphet is not currently working on this sim.

Sorry to bother @jbphet.

[2019-11-15 23:27] #206 closed

[2019-11-15 23:27] zepumph opened #207 "PhET-iO Instrument transformProperty"
From https://github.com/phetsims/projectile-motion/issues/198.

[2019-11-15 23:48] zepumph commented on #198
As part of Trajectories, we had to instrument two ObservableArrays within Trajectory: projectileObjects and dataPoints.

Originally I tried to have dataPoints be a nested PhetioGroup. This ended up being a total headache. After talking more with @chrisklus and @samreid, we decided that instead I would treat `DataPoint` as a data type serializable. To do this we needed to make sure that DataPoint n

[2019-11-16 00:45] zepumph commented on #207
To do this I looked at instrumenting ModelViewTransform2 as a data type for PhET-iO. Poking around, it seems like the only important items to transfer on state would be the `entries` in the matrix, and the `type` of the matrix. We can likely just use something like Matrix3IO to do all the heavy lifting for ModelViewTransform2IO.

I implemented that above, and things worked very well for us. I woul

[2019-11-16 00:51] zepumph commented on #192
- [ ] Another note, this change is failing fuzzing, especially on the state wrapper, with "value failed isValidValue".  It always occurs with both screens at different MVT zooms.
![image](https://user-images.githubusercontent.com/6856943/68984968-b54b9980-07bf-11ea-84e8-89551e673875.png)

Note it is from the downstream sim.

@arouinfar this issue is still assigned to you to just discuss the last p

[2019-11-16 00:55] zepumph opened #208 "Custom projectile type is not saved in state"
* studio
* lab screen
* custom projectile type
* change some values with the key pad
* fire more than one Projectile
* Studio "launch"

--> I found the first one correctly custom, but the other two were not, and I launch in mid air, so they changed trajectories mid air.

[2019-11-20 18:55] zepumph commented on #207
After discussing this issue with @samreid and @chrisklus, we think it would be easier for this case to uninstrument transformProperty, and instrument the `zoomProperty`. We should also refactor the transformProperty as a DerivedProperty, as it is derived solely from the zoom. This way studio can change the MVT without needing to know how to serialize a matrix across the frame.

[2019-11-20 18:56] zepumph commented on #207
We will still keep around the matrix IO types for future use.

[2019-11-22 23:54] zepumph commented on #209
I don't want to publish PM with a DownUpListener in it until we have discussed https://github.com/phetsims/scenery/issues/1021 more. DownUpListener has quite a bit less phet-io instrumentation than PressListeners, which run on emitters like other phet-io events.

[2019-11-23 00:13] zepumph commented on #207
I like this quite a bit better because zoomProperty is a NumberProperty with a slider in studio, and you can actually get better granularity than in the sim. Totally a win.

I'm going to leave this open for @jonathanolson to review the changes above in `Matrix3.js`. Are there any concerns with how I am serializing the Matrix3 and deserializing it?

[2019-11-23 00:15] zepumph commented on #198
I have thought about this more, and also completed https://github.com/phetsims/projectile-motion/issues/207. I think we are ready to close. I will carry on with #208

[2019-11-23 00:15] #198 closed

[2019-11-23 00:17] zepumph commented on #151
@arouinfar I remember discussing this during design, but I forget what conclusion we came to. I thought that we at least decided that the above tool was not going to be created for the coming version. Is that right?

[2019-11-23 01:11] zepumph opened #210 "ProjectileObjectType.dragCoefficientRound is not used"
This can likely be deleted, but I think it deserves its own issue.

[2019-11-23 01:15] zepumph opened #211 "Score.numberOfStars should be emitted, not set as a field"

[2019-11-23 01:15] zepumph commented on #211
Actually, while we are at it, it seems like we should instrument scoreEmitter so that we get that in the data stream.

[2019-11-23 02:16] zepumph commented on #203
I added phetioDocumentation to the majority of places. I found that I didn't feel it necessary to add them to checkboxes and readout/text labels because I felt like they were very self-explanitory, and I couldn't think of documentation that wouldn't just be rearranging the words of the tandem name.

I also found this a good opportunity to review the currently instrumentation, and make a few tandem

[2019-11-23 02:16] #203 closed

[2019-11-23 02:17] #210 closed

[2019-11-23 02:28] zepumph commented on #211
Added above. I am very happy with this change. I thought about making the scoreEmitter listener into a switch case, but felt like it was fine the way it is (though I added an assertion.

[2019-11-23 02:28] #211 closed

[2019-11-23 02:30] zepumph commented on #177
We have had a phet-io meeting where we went through https://github.com/phetsims/projectile-motion/issues/177#issuecomment-540256334, and much has been implemented. There are only a few issues left with the instrumentation before we are ready for phetioFeatured (#205). The main one is #208. I will go ahead and close this issue, and follow up in sub issues.

[2019-11-23 02:30] #177 closed

[2019-11-28 01:11] zepumph opened #212 "Duplicate ProjectileObjectType on drag and vector screens"
These two are totally copied, even the phetioDocumentation, perhaps they would make for a nice constant type static on ProjectileObjectType.

Like `ProjectileObjectType.DEFAULT_CANNONBALL` with doc like "this is not used in selection with other object types

[2019-11-28 01:36] zepumph commented on #208
So far I have only done the framework to make this work. I realized that we will need to serialize `ProjectileObjectType` with an IO type, as on the lab screen these are customizable.

I also went back to the LabProjectilePanel type and factored out "custom" specific code, which pulled about 200 lines out into its own type (a win if you ask me!).

From here I see that there is `LabModel.savedValue

[2019-12-05 00:31] zepumph opened #213 "[lab screen] too many NumberControls linking to the same Property"
From #208, I found that when launching customized values for an object type on the lab screen, the mass and sometimes diamter value get's messed up. Even from startup and not in studio. I think it is because of the enabledRangeProperty listener that clamps values to the given range when creating the NumberControls in LabProjectilePanel.

To fix this I think it is easy enough to just reset the valu

[2019-12-05 01:46] zepumph commented on #213
The fix (really workaround) was to create `resetModelValuesToInitial`, and call that after a situation in  which NumberControl listeners much up the current model Properties. This is less than ideal, but I think that it is preferable to trying to change the inherent way the model is set up (in which there is only one Property for mass, and each new object type sets it).

This, along with other com

[2019-12-05 01:46] #213 closed

[2019-12-05 01:58] zepumph commented on #208
I got this working by reworking the LabModel to have "editable" projectile object types instead of just "normal" constant projectile types. This meant a bit of simplification in that file. There is no more `savedValues` ( because those are stored directly on the editable object types), and now editable object types have their editable fields updated whenever they change, thus `setProjectileParamet

[2019-12-05 01:58] #208 closed

[2019-12-05 02:01] zepumph commented on #208
Oh! I will also mention here that https://github.com/phetsims/projectile-motion/issues/213 caused a workaround type hack in the `resetModelValuesToInitial` function. Basically when we create the NumberControls in LabProjectilePanel and whenever we set state, NumberControl's enabledRangeObserver messes with the model values and make them out of sync. This is a byproduct of using a single model Prop

[2019-12-05 02:12] zepumph commented on #212
I went with `COMPANIONLESS` to emphasize that it should be used as the only object type on a screen. Closing

[2019-12-05 02:12] #212 closed

[2019-12-05 17:25] zepumph commented on #205
@kathy-phet @arouinfar, we are now ready for another design audit/phetioFeatured implementation. Assigning over to you.

[2019-12-06 23:30] loganbraywork opened #214 "PhetIO Studio wrapper Drag Coefficient crash"
<b>Test Device</b>

Windows 7 Laptop

<b>Operating System</b>

Windows 7

<b>Browser</b>

Chrome

<b>Problem Description</b>
Tested on request for Michael Kauzmann
In phet.io studio
If projectileDragCoefficientProperty is set to 0 then a projectile is emitted, sim crashes

<b>Steps to Reproduce</b>

1. Open phet.io studio wrapper
2. Go to vector screen
3. Under vector screen, model, and projectile

[2019-12-06 23:34] loganbraywork commented on #214
Also occurs if object diameter set to 0 under the same screen

[2019-12-09 15:49] KatieWoe opened #215 "CT timeToGround is NaN"
[code]

[2019-12-11 19:27] jessegreenberg opened #216 "Use TimeControlNode for Play/Pause/Step buttons"
From phetsims/scenery-phet#561. A scenery-phet/TimeControlNode was created that combines the PlayPauseButton and StepForwardButton and includes PhET-iO and PDOM instrumentation. It should be used in this sim. Assigning to responsible dev.

[2019-12-12 02:06] zepumph opened #217 "Make dragCoefficientRange a constant"
Although it is duplicated in a few places, the range for dragCoefficient  (when adjustable) is the same across the sim. I think it will be better to remove that from the ProjectileObjectType and over to ProjectileMotionConstants. Then the NumberProperty can set it's range to be that. We will make the code better, and fix #214 while we are at it.

[2019-12-12 02:06] zepumph commented on #217
NOTE: it is already in the constants file, just unused.

[2019-12-12 02:12] zepumph commented on #214
This should be fixed as part of https://github.com/phetsims/projectile-motion/issues/217. The issue was just that that slider had no business being able to go down to 0. In the range the lower bound of the range is .04, so I just made just that that numberProperty had the appropriate range. Good bug thanks!

Please confirm fixed on master and close if all is good.

[2019-12-12 02:18] zepumph commented on #217
I updated drag coefficient logic, removing it from ProjectileObjectType since it is constant throughout the entire sim. I also added the ranges for all three custom projectile-specific NumberProperties in the sim. I'm going to close this now, and will reopen if https://github.com/phetsims/projectile-motion/issues/214 is still buggy.

[2019-12-12 02:19] zepumph commented on #214
I also added ranges for mass and diameter so hopefully these sliders won't cause any more bugs.

[2019-12-12 15:45] KatieWoe opened #218 "CT value failed isValidValue"
[code]

[2019-12-12 19:48] zepumph commented on #216
I can do this since I'm in this repo right now for PhET-iO

[2019-12-12 21:20] zepumph commented on #217
Unfortunately my solution above won't work, as demonstrated by #218. It turns out that the piano has a different dragCoefficientRange, so we need to add back support for this custom drag coefficient across the board.

[2019-12-12 21:26] zepumph commented on #218
Thanks for this @KatieWoe, caused by #217. It should be fixed in the next CT round.

[2019-12-12 21:28] zepumph commented on #217
In the above commits, instead of getting rid of the support for the drag coefficient range in ProjectileObjectType, I just used the range in ProjectileMotionConstants as much as possible. I also used `ProjectileMotionConstants.PROJECTILE_DRAG_COEFFICIENT_RANGE` for the model Property, which will help fix https://github.com/phetsims/projectile-motion/issues/214. Closing

[2019-12-12 21:28] #217 closed

[2019-12-12 21:28] #218 closed

[2019-12-12 21:29] zepumph commented on #214
This needed a bit more reworking over in #217, but it should be good now.

Please confirm fixed on master and close if all is good.

[2019-12-14 00:25] kathy-phet commented on #216
We are looking at PhET-iO and we agree it would be good!

[2019-12-17 05:38] arouinfar opened #219 "Designer review comments/todos for PhET-iO featured"
For #205 @kathy-phet and I looked over the Intro screen in detail (and the Vectors & Drag screens to a lesser extent). We have several comments, questions, todos for @zepumph prior to providing the overrides. There are also a few general questions related to common code, so I'll open an issue for those items in the `phet-io` repo.

**For brevity, I've mentioned/listed tandems for the just introScr

[2019-12-17 05:38] arouinfar commented on #219
Assigning to @kathy-phet to compare her notes before we assign to @zepumph.

[2019-12-27 23:55] jbphet commented on #197
Seems like a good refactor and the code looks clean to me.  Closing.

[2019-12-27 23:55] #197 closed

[2020-01-03 01:15] zepumph commented on #209
Over in https://github.com/phetsims/scenery/issues/1021 @jonathanolson proposed a fix, and it worked. The conversion was done in the above commit (and phet-io instrumented). Closing

[2020-01-03 01:15] #209 closed

[2020-01-03 23:19] zepumph commented on #195
I just renamed a few tandems in correlation to these changes, and I'm tacking the change on here.

[2020-01-03 23:19] zepumph commented on #214
@loganbraywork anything else here?

[2020-01-04 00:20] zepumph commented on #215
After fuzzing phet and phet-io brand standalone versions for over an hour I still haven't been able to reproduce this.

[2020-01-04 00:54] zepumph commented on #216
Implemented above, @jessegreenberg thanks for making this!

[2020-01-04 00:56] zepumph commented on #216
There is a checkbox over in https://github.com/phetsims/projectile-motion/issues/219 for designers to review, so I'm going to close this.

[2020-01-07 20:23] arouinfar commented on #192
Behavior's looking great!

I think this is looking good in studio. I would not feature the `score.targetXRangeProperty`, but I think we would want to feature `score.targetXProperty`. Since this isn't a common component, my guess is that it's best to defer featuring until overrides, but I'll defer to @zepumph.

[2020-01-07 20:24] arouinfar commented on #151
@zepumph the decision was that we were not going to add this feature to Projectile Motion, and the issue can be closed.

[2020-01-08 17:20] zepumph commented on #192
That sounds like a great plan. I added a checkbox to your comment in https://github.com/phetsims/projectile-motion/issues/219. Closing

[2020-01-08 17:24] zepumph commented on #192
Ooops, I still see a checkbox for me to investigate.

[2020-01-08 19:17] zepumph commented on #192
This is easily reproducible.

* state wrapper
* increase the state setting time with `?numberOfMillisecondsBetweenUpdates=4000`
* set the bottom state to be all the way zoomed in and move the target to under the cannon.
* Then in in between one cycle zoom all the way out and move the target all the way left.

The state wrapper will try to set the NumberProperty before its range has been updated to

[2020-01-08 22:27] zepumph commented on #192
The state setting bug was fixed by treating the range and value of a NumberPropertyIO as one atomic operation during setValue of the state set. This is now fixed and can be closed.

[2020-01-23 17:20] zepumph commented on #219
I will take a first pass, and this doesn't need to wait for a @kathy-phet review.

[2020-01-24 01:17] zepumph commented on #192
I wonder if work over in https://github.com/phetsims/axon/issues/274 has changed how I should implement this. Perhaps it would be better for this Property to be nested underneath the NumberProperty.

[2020-01-24 18:39] zepumph commented on #201
I will do this by setting the maxWidth

[2020-01-30 03:07] zepumph commented on #201
I didn't get to any changes yet, but I found issues with the following ids:

[code]

[2020-02-01 02:39] zepumph commented on #201
This was not as bad as I thought it would be. I ended up not really needing to support "dynamic text layout" as much as just provide maxWidth in a more idiomatic way. I also got rid of custom layout functions that were very similar to common code ones.

I went through all textProperty PhET-iO elements and all looked good to me. I'm going to close this now.

[2020-02-01 02:39] #201 closed

[2020-02-01 03:05] zepumph commented on #216
I think that we should have normal/slow radio button be part of this too.

[2020-02-01 03:24] zepumph commented on #216
There are two review comments that I would like reviewed here instead of over in https://github.com/phetsims/projectile-motion/issues/219:

@arouinfar how does this look?

UPDATE from MK: yes see #216

I just converted to use TimeControlNode's radio buttons. What do you think? I think it is organized as you want it, with actual hierarchy that makes sense.

P.S.
@jessegreenberg the above commit was

[2020-02-03 17:33] arouinfar commented on #216
@zepumph the timeControlNode is looking beautiful in studio. Nice work!

[2020-02-03 18:25] zepumph commented on #216
Thanks!

[2020-02-03 18:25] #216 closed

[2020-02-15 01:39] zepumph commented on #219
Just for clarity, I did this on all 4 screens.

[2020-02-17 17:05] KatieWoe opened #220 "CT phetioID not found"
[code]

[2020-02-17 19:17] jbphet commented on #220
Assigning to @zepumph, since he's been handling the phet-io instrumentation of this sim.

[2020-02-17 19:18] zepumph commented on #220
Thanks @jbphet. This will be handled by https://github.com/phetsims/aqua/issues/76#issuecomment-587123626 as a batch with many other sims. Closing

[2020-02-17 19:18] #220 closed

[2020-02-19 20:16] zepumph commented on #219
I didn't feel like the dataPointProperty was the place to do this, so I added it to the documentation of DataPointIO. You can access that easily by navigating to `dataPointProperty` then in the control panel setting "IO Type Documentation" to "selected.

How does that look to you?

[2020-02-25 21:31] pixelzoom opened #221 "this.trajectories is poorly named"
Noted while working on https://github.com/phetsims/beers-law-lab/issues/244,where this sim was recommended as an exemplar for PhetioGroup.

In ProjectileMotionModel.js:

[code]

The name `this.trajectories` is confusing.  It's not trajectories at all, its a group that's used to instantiate trajectories.   And it doesn't match the tandem name.  Recommended to rename to `this.trajectoriesGroup`.

[2020-02-25 21:45] pixelzoom commented on #221
Ditto for `trajectories` parameter name here. It should be `trajectoriesGroup`.

[code]

[2020-02-27 00:03] zepumph commented on #219
Over in https://github.com/phetsims/projectile-motion/issues/216 we renamed `speedProperty` to `isSlowMotionProperty`. What do you think about that?

[2020-02-27 00:04] zepumph opened #222 "Rename Tracer to DataProbe"
From https://github.com/phetsims/projectile-motion/issues/219, @arouinfar had a review comment like:

I'll get on it!

[2020-02-27 00:09] zepumph commented on #221
Yes that was quite sloppy. Thanks for the issue. Closing

[2020-02-27 00:09] #221 closed

[2020-02-27 00:17] zepumph commented on #222
Implemented above. Please review.

[2020-02-27 00:26] zepumph opened #223 "Explain and improve model.trajectoryGroup in studio"
From https://github.com/phetsims/projectile-motion/issues/219, @arouinfar had a review comment like:

Yes it is a bit weird. Basically every blue line is a trajectory, and when you fire multiple projectiles on the same trajectory, then it doesn't create a new `Trajectory` group member. Instead information about individual projectiles are housed in the nested `projectileObjects` element.

Potential

[2020-02-27 00:30] zepumph commented on #219
Agreed! I also removed the redundancy such that it looks like: `projectileMotion.introScreen.view.initialSpeedPanel.numberControl`

[2020-02-27 00:35] zepumph commented on #219
I believe you are talking about when `projectileMotion.introScreen.view.toolboxPanel.visibleProperty` is false. I agree! What a fun bug, fixed above.

[2020-02-27 00:59] zepumph commented on #219
Two thoughts here. One, as an FYI for communication, this means that the child components are being instrumented, but the parent panel is not, and is instead just a place holder for structure. Second is that I did the same for the `vectorsControlPanel`.

[2020-02-27 01:16] zepumph opened #224 "How to instrument vectorVisibilityProperties"
From #219, @arouinfar had the review comment like:

I see.  I also see `graphingQuadratics.exploreScreen.view.viewProperties`, which makes me feel like it is a bit better to just go with how the sim has implemented these. I can see them fitting in either, if there is a strong preference, then we can probably refactor, but to be honest I would prefer to see them in the view. They have nothing to do

[2020-02-27 01:19] zepumph commented on #224
While we are at it over here, we should discuss the name too, from this comment in #219:

I personally think that these Properties are in fact controlling the visibility of items, and items that aren't instrumented, and so don't have their own `visibleProperty` (which I think is the right thing to do). Thus to me the name makes sense. What might you prefer instead?

[2020-02-27 01:31] zepumph opened #225 "Factor out airResistanceCheckbox and dragCoefficient readout to separate Node"
From #219 this grouping will help factor out code from the intro and vectors screen while achieving phet-io instrumentation goals.

[2020-02-27 01:37] zepumph commented on #219
These objectTypes work much like Solutes in ph-scale, where they are basically just constants that have data about how an instance of that type would behave. So if you know that the model's selectedProjectileObjectTypeProperty is `cannonball`, I know what the defaults will be by looking at the initialState of `projectileMotion.global.model.projectileObjectTypes.cannonball`:

[code]

Does that make

[2020-02-27 01:39] zepumph commented on #219
I have gotten through each checkbox in the first comment. Many have separate issues that are still open, but some were just discussed/implemented here. All the checkboxes that don't have a check have comments above that I thought should be discussed further before checking them off. Over to you @arouinfar.

[2020-02-27 02:09] zepumph commented on #225
Review comment:

[2020-02-27 02:10] zepumph commented on #225
I factored out these components in the above commit. I ended up naming the new control `AirResistanceControl` so that is what I named the phet-io element as well. Let me know if you would like to see something else.

Furthermore I simplified some of the children tandem names. I think it is a bit clearer, but please let me know if you would like them to be something else.

[2020-02-27 02:20] zepumph commented on #192
The `rangeProperty` was nested in the above commit. Closing

[2020-02-27 02:23] zepumph commented on #215
This has occurred in 4 of the last 40 columns. And it has been on 3 out of the 4 screens, so quite likely it is a general model problem.

[2020-02-27 02:33] zepumph commented on #215
I added a more verbose assert message to see if I can learn anything about the context when the error occurs. I'll look back next week.

[2020-02-27 02:36] zepumph commented on #214
@loganbraywork I'm going to close this, please reopen if there is anything more.

[2020-02-27 02:36] #214 closed

[2020-02-27 17:06] oliver-phet commented on #153
Another user has a related request:

[2020-02-27 17:35] arouinfar opened #226 "User request: add option for imperial units"
A user requested this on Twitter, and then followed up via email.

[2020-03-04 16:15] arouinfar commented on #222
Looks great, thanks @zepumph

[2020-03-04 16:16] #222 closed

[2020-03-04 21:32] arouinfar commented on #224
@zepumph thanks for the explanation! I can see how the `vectorVisibilityProperties` makes more sense in the view. Since our initial review we've also seen other sims with similar view properties. I'm happy to leave things the way they are. I'll leave this open so I can double check with @kathy-phet the next time we review this sim.

[2020-03-04 23:40] arouinfar commented on #219
@zepumph things are generally looking good.

I've reviewed the checked items which weren't moved to their own issues. I'll review the unchecked items and still-open spinoff issues next time @kathy-phet and I work on this together.

[2020-03-18 14:46] KatieWoe commented on #215
[code]

[2020-04-01 17:18] oliver-phet opened #227 "User request: values of vectors"

[2020-04-14 14:50] KatieWoe commented on #215
Seems to have reappeared
[code]

[2020-05-08 15:19] KatieWoe opened #228 "CT timeToGround NaN"
[code]

[2020-05-08 18:43] jbphet commented on #228
@zepumph - this appears to me to be a duplicate of #215, which apparently just crops up occasionally.  Assigning to you to determine whether to just close this one and continue working on the original.  If you do, please note in the original that the problem cropped up again.

[2020-05-18 14:59] KatieWoe opened #229 "CT countProperty should match array length"
[code]

[2020-05-18 15:49] jbphet commented on #229
This is phet-io-related, so off to @zepumph it goes.

[2020-05-18 19:22] zepumph commented on #228
Duplicate indeed! And on my list once phet-io priorities come back around to this sim.

[2020-05-18 19:22] #228 closed

[2020-05-18 19:27] zepumph commented on #229
Thanks. This has come up as a result of https://github.com/phetsims/phet-io/issues/1668, and is very nice to see, as it means an assertion is working as exposing potentialy pre-existing state problems. I dove into this briefly and didn't find it to be an easy fix.

Things to note for later in the week when I have time to devote to it:
* Coming from TrajectoryGroup, not the Node group. For a second

[2020-05-21 01:45] zepumph commented on #229
The first numbers I just got when coming back to this was 3 and 4. .
.

[2020-05-21 02:14] zepumph commented on #229
Wow. I finally found the issue, but it took a bit to figure out how to find the problem. Steps to reproduce if you remove the above commit:

1. Add a debugger in assert.js to catch the error in the act.
2. Then go up the stack to the phetioStateEngine and copy the state out to a scrap file. Also copy `phetioStateEngine.mostRecentSavedState`, because it wasn't enough to just have the state, it was

[2020-05-21 20:59] zepumph commented on #229
Looks fixed on CT!

[2020-05-21 20:59] #229 closed

[2020-06-19 15:00] KatieWoe commented on #215
[code]

[2020-06-23 14:45] KatieWoe commented on #215
[code]

[2020-07-20 15:20] oliver-phet commented on #153
User email received on July 18, 2020:

[2020-07-20 17:26] arouinfar commented on #153
Allowing higher initial speeds has become a fairly common user request. The main drawbacks to allowing an initial speed of 100 m/s are that it would require three additional levels of zooming out and the trajectory dots (drawn every 0.1 s) would become very dense making the tracer tool hard to use.

I think these would be non-issues if this sim had support for Zoom and Magnification. Let's discuss

[2020-07-20 17:34] arouinfar commented on #151
A similar request was made in #227

[2020-07-20 17:37] arouinfar commented on #227
This feature has been discussed in https://github.com/phetsims/projectile-motion/issues/151, and we ultimately decided against adding V(x) and V(y) readouts. I've moved this comment to that issue, and will close this as a duplicate.

[2020-07-20 17:37] #227 closed

[2020-08-18 02:11] samreid opened #230 "Support setting a partial instead of total state"
From phetsims/phet-io#1697: There is 1 or more call to phetioStateEngine.stateSetEmitter.addListener. There is now a 2nd argument to the listener, which is a predicate that tests Tandems and returns true if they are in scope. We should check these listeners and see if any of them need to check whether they are in scope of a partial state set.

[2020-08-19 23:11] zepumph commented on #230
I confirmed that the stateSetEmitter listener in the lab screen was called when other screens' were reset. While this particular case ended up just doing work that acted as a no-op, it still feels best to guard it. Closing

[2020-08-19 23:11] #230 closed

[2020-09-02 16:40] zepumph opened #231 "remove TrajectoryIO.ioTypeSchema and prefer forwarding to the IO Type"
From https://github.com/phetsims/phet-io/issues/1646, this is not the pattern we are using for IO Type state methods.

[2020-09-22 15:31] Denz1994 opened #232 "TimeSpeedProperty valid values don't match Time Speed radio buttons"
Discovered during phetsims/scenery-phet#607:

In the studio view of Projectile Motion, searching for "TimeSpeedProperty" shows `Valid Values: Fast, Normal, Slow`. However, the radio buttons are limited to only "Normal" and "Slow". Selecting the "Fast" option in the studio view will deselect both radio buttons in the sim view and doesn't seem to change the sim speed.

I would expect the "Fast" opti

[2020-09-25 22:36] jbphet commented on #232
Good observation @Denz1994.  I've remedied the situation by using the `validValues` option.  Closing.

[2020-09-25 22:36] #232 closed

[2020-09-29 03:41] arouinfar opened #233 "Use PhetColorScheme.VELOCITY and PhetColorScheme.ACCELERATION"
In https://github.com/phetsims/scenery-phet/issues/621 we modernized the colors used for velocity and acceleration.

This sim currently uses similar colors for the velocity and acceleration fills, but should be updated to use PhetColorScheme.
https://github.com/phetsims/projectile-motion/blob/master/js/common/ProjectileMotionConstants.js#L57-L58

Assigning @zepumph since this change should be incl

[2020-10-05 14:45] KatieWoe opened #234 "CT cannot normalize a zero-magnitude vector"
[code]

[2020-10-08 15:16] KatieWoe commented on #215
[code]

[2020-10-13 22:39] KatieWoe opened #235 "CT cannot add the same listener twice"
[code]

[2020-10-15 23:14] KatieWoe opened #236 "CT Build failed with status code 1"
[code]

[2020-10-16 15:45] jbphet commented on #236
It looks like this was a problem with NumberControl, which was being modified for https://github.com/phetsims/tasks/issues/1044.
 CT looks clear for the last several runs, and a fresh checkout built fine in my local workspace, so I'm going to assume that the problem has been corrected and close this.

[2020-10-16 15:45] #236 closed

[2020-11-04 16:20] KatieWoe opened #237 "CT this.ariaValueText.replaceAll is not a function"
[code]

[2020-11-04 18:54] jbphet commented on #237
The `replaceAll` call was added by @jessegreenberg in https://github.com/phetsims/sun/commit/ea2451af4f1ae912d5711f37889cc6d56d289ef1.  I'm not sure why it's only showing up in projectile-motion, but since this commit appears to have introduced the problem, I thought we'd start there.  @jessegreenberg - please assign back to me if you come to believe that this is a sim-specific problem.

[2020-11-06 16:21] KatieWoe opened #238 "CT: Fatal error: Perennial task failed: Error: TypeError: this.ariaValueText.replaceAll is not a function"
[code]

[2020-11-06 17:59] jbphet commented on #238
Since @zepumph was the developer who was working on adding phet-io to this sim, and since (according to git history) he is the developer that added the "No client guides..." warning message, he seems best position to resolve this issue.  I have no idea why it started happening, and have not been doing any work in this sim.

[2020-11-06 18:03] zepumph commented on #238
This is a warning right before the error.

This is the error. Renaming.

[2020-11-06 21:38] KatieWoe commented on #238
In that case, this may be the same as https://github.com/phetsims/projectile-motion/issues/237

[2020-11-06 21:41] #238 closed

[2020-11-12 22:45] zepumph commented on #237
https://github.com/phetsims/sun/issues/664 is the cause of this. Sorry it took so long for me to get to it. It is likely because puppeteer doesn't support `String.prototype.replaceAll`. I think this should fix it. @jessegreenberg will you review?

[2020-11-17 23:36] pixelzoom opened #239 "cursor for Diameter and Mass controls"
In master, I noticed that for the Diameter and Mass NumberControls (example below), mousing over the NumberDisplay changes the cursor to 'pointer'.  Pressing on these displays doesn't do anything (I thought it might open a Keypad). This happens in the Vectors and Drags screens, but not in the Lab screen. And other NumberControls in the sim don't behave like this.  This occurs in master, but not in

[2020-12-08 23:50] zepumph commented on #186
THis has been done

[2020-12-08 23:50] #186 closed

[2021-01-15 18:16] arouinfar commented on #176
This issue is stale, but we discussed and ultimately decided that the fig leaf would not be appropriate, as it's not particularly readable as a fig leaf at the small resolution. We could consider alternative easter eggs, but this sim is already plenty whimsical so it's not the best use of resources at this time. Closing.

[2021-01-15 18:16] #176 closed

[2021-01-22 19:30] KatieWoe opened #240 "CT cannot normalize a zero-magnitude vector"
[code]

[2021-01-25 18:32] jbphet commented on #240
This is a duplicate of #234.  It is an intermittent problem that occurs during CT, and I'll get to it someday.  Just not today.  Closing.

[2021-01-25 18:32] #240 closed

[2021-01-27 18:50] jessegreenberg commented on #237
Using the regex looks good to replace here, thanks!

[2021-01-27 18:50] #237 closed

[2021-01-28 17:11] samreid commented on #127
@zepumph can you please re-evaluate and determine assignee?

[2021-01-28 19:46] zepumph commented on #127
I feel like we could either wait on https://github.com/phetsims/scenery-phet/issues/283, or decide that keypad is good enough to add into this release.

[2021-02-04 22:32] zepumph commented on #127
This may be getting some traction because https://github.com/phetsims/scenery-phet/issues/283 is a quarterly goal right now. Assigning myself.

[2021-02-04 23:00] zepumph commented on #127
Having looked at this issue in its entirety, the majority of work seems to be in the `KeypadLayer` that is duplicated here and in unit rates, and less about the use of Keypad.

[2021-02-05 00:31] jbphet commented on #235
I was talking with @zepumph, and he said that he thought this issue might be due to the phet-io work that was done on this sim a while back, so I'm assigning to him.  @zepumph - feel free to hit it back into my court if it makes sense to do so.

[2021-02-05 00:31] jbphet commented on #234
I was talking with @zepumph, and he said that he thought this issue might be due to the phet-io work that was done on this sim a while back, so I'm assigning to him.  @zepumph - feel free to hit it back into my court if it makes sense to do so.

[2021-02-05 18:13] jbphet commented on #127
@zepumph is going to take this on (thanks @zepumph!), I'm unassigning myself for now.

[2021-02-08 21:10] zepumph commented on #219
Note that https://github.com/phetsims/scenery-phet/issues/540 is for any feedback you have about Keypad. The structure may change a bit because of some general keypad work I'm doing in https://github.com/phetsims/scenery-phet/issues/283

[2021-02-08 21:13] zepumph opened #241 "Add Trajectory.projectileCountProperty"
From a design meeting with @arouinfar and @kathy-phet. Please note parent issue in https://github.com/phetsims/projectile-motion/issues/244.

This count should be the total number of projectiles that have been launched on this trajectory. Note that Trajectory.projectileObjects.lengthProperty is only an implementation detail, and it only tracks the current objects.

[2021-02-08 21:15] zepumph opened #242 "Add projectilObjectType to serialization of Trajectory"
From a design meeting with @arouinfar and @kathy-phet. Please note parent issue in https://github.com/phetsims/projectile-motion/issues/244.

If the ProjectileObjectType is one of the instrumented globals, it would be nice if we could serialize that into the Trajectory, with just a phetioID.

[2021-02-08 21:15] zepumph opened #243 "Add what trajectory the DataProbe is on"
From a design meeting with @arouinfar and @kathy-phet. Please note parent issue in https://github.com/phetsims/projectile-motion/issues/219.

Not only what dataPoint the probe is on, but what Trajectory that data point belongs to.

[2021-02-19 18:57] pixelzoom commented on #195
@zepumph you labeled this ready-for-review, but it's unassigned.  Should it be assigned to someone? If not, can you add a comment indicating when it should be reviewed, and label it deferred?

[2021-02-19 22:10] arouinfar opened #244 "PhET-iO Design Review, Round 2"
Follow-up to #219

Issues related to the latest PhET-iO design review will reference this issue.

[2021-02-19 22:26] arouinfar commented on #219
@zepumph I've opened #244 to log issues from our latest review.

There's only one unchecked item left in this issue, which should be a quick fix. Once addressed, we can probably close this issue since any remaining work is being tracked elsewhere.

Looks good! One small change -- can you update the units of airDensity to kg/m^3? It's currently using "cu m" for cubic meters which is a bit non-stand

[2021-02-22 22:00] arouinfar commented on #223
Discussed with @kathy-phet and @zepumph as a part of #244 and change requests are logged in #241 #242 and #243.

[2021-02-22 22:00] #223 closed

[2021-02-23 04:14] arouinfar commented on #224
Reviewed in #244

@zepumph several sims collect view properties in a container called `viewProperties`, and we'd like to do the same here. Can you rename `vectorVisbilityProperties` to `viewProperties`? This would apply to all relevant screens.

[2021-02-23 04:30] arouinfar opened #245 "Create a container for zoom buttons"
For #244

Here's the current tree structure for the zoom buttons.
<img src="https://user-images.githubusercontent.com/8419308/108801567-509af500-7553-11eb-96dd-828214869927.png" width=150>

It would be nice if the zoom buttons could be grouped into something like zoomButtonGroup. That way, there could be a top-level visibleProperty to hide both buttons at once. It's not particularly useful to hide

[2021-02-23 04:38] arouinfar opened #246 "Instrument Flatirons easter egg"
For #244

When the altitude is 1500-1700m, an image of the Flatirons appears (Drag & Lab screens). Clients may want to remove this easter egg, so it needs to be instrumented. We probably can't just slap a `visibleProperty` on it because the model needs to be in control of its visibility.

This seems somewhat parallel to `phScale.macroScreen.view.neutralIndicatorNode` which was handled by wrapping

[2021-02-23 04:57] arouinfar opened #247 "Change several properties to readOnly: false"
For #244

This is a reversal of a request in #219 (sorry @zepumph!)

Several parameters are constant on early screens but adjustable on the Lab screen. We originally requested that these properties be made read-only, but this would prevent a client from adjusting the values using an API.

While @zepumph has mentioned that it's possible to make the properties ready only on a sub-set of screens, we

[2021-02-23 05:13] arouinfar commented on #245
@zepumph according to https://github.com/phetsims/scenery-phet/issues/652, this sim should be using ZoomButtonGroup. Perhaps that will take care of the tree structure.

[2021-02-23 05:19] arouinfar opened #248 "Add ability to independently disable cannon height and angle adjustments"
For #244

Related issues
https://github.com/phetsims/scenery/issues/1041
https://github.com/phetsims/scenery/issues/1116
https://github.com/phetsims/bending-light/issues/397

The cannon can be adjusted in two ways:

* dragging the barrel to change the angle
* dragging the cannon base/pedestal to change the height

Clients should be able to independently disable these interactions (whether by picka

[2021-02-23 05:24] arouinfar commented on #247
@zepumph not sure if making these readOnly: false will automatically add a slider to the studio interface or not. If so, please disable it. We don't want to add an slider to studio to adjust these properties.

[2021-02-23 18:40] pixelzoom opened #249 "Cursor changes to 'pointer' over Diameter and Mass number displays"
Noted in master 4ed46d3649ed4d5e041e2717eb13c13eb423744b, all browsers on macOS 11.2, did not test on other platforms.

On the _Vectors_ and _Drag_ screens, the cursor changes to 'pointer' when it's over the Diameter or Mass number displays (part of a NumberControl, I assume) in the control panel.   This led me to believe that pressing these number displays would open a keypad (I was testing Keypa

[2021-02-24 05:28] arouinfar opened #250 "Tweaks to projectileControlPanel"
For #244

- [ ] Instrument the separator lines in the projectileControlPanels to  avoid situations like the screenshot below. See `phScale.microScreen.view.beakerControlPanel.separator` for an example in action.  When there multiple separators in a panel call them `separator1` and `separator2`.
![image](https://user-images.githubusercontent.com/8419308/108951207-cde26a80-7624-11eb-8c1a-280d779b576

[2021-02-24 17:40] arouinfar commented on #192
@zepumph when reviewing the sim in studio for #244, I saw some odd behavior with `score.targetXProperty.rangeProperty.` Unfortunately, it seems to be inconsistent, and I'm not sure how to reliably reproduce.

Twice now, I've seen the current value of `projectileMotion.introScreen.model.score.targetXProperty.rangeProperty` show up as [-100, 100], instead of the correct range for the default/current

[2021-02-24 17:52] arouinfar opened #251 "Renaming model properties related to target"
For #244

The model properties related to the targetNode are housed under `model.score` which we don't find to be particularly intuitive.

| Model | View |
| --- | --- |
|![image](https://user-images.githubusercontent.com/8419308/109042446-71676580-768d-11eb-90c9-6f37e38bad6d.png) | ![image](https://user-images.githubusercontent.com/8419308/109042556-92c85180-768d-11eb-8c16-f668ce3962db.png) |

Th

[2021-02-24 18:04] arouinfar opened #252 "targetNode should have an inputEnabledProperty"
For #244

Related to https://github.com/phetsims/scenery/issues/1116

The targetNode is draggable, but some clients may want to disable this, so it needs a pickableProperty (or interactiveProperty, but that doesn't exist yet).

[2021-02-24 21:25] arouinfar opened #253 "Clicking NumberDisplay should not summon keypad if corresponding edit button is hidden"
For #244

The five controls under `projectileMotion.labScreen.view.projectileControlPanel.customControl` all have a NumberDisplay + edit button. Clicking either of these will summon the keypad.

When `editButton.visibleProperty` is false, it should not be possible to summon the keypad. However, the NumberDisplay remains pickable which is problematic.

[2021-02-24 21:32] arouinfar opened #254 "companionlessObjectType name is unclear"
For #244

@zepumph described the companionlessObjectType in https://github.com/phetsims/projectile-motion/issues/219#issuecomment-591732871:

"Companionless" isn't a particularly friendly/intuitive name. We would like to something clearer like `genericObjectType` or `generalObjectType`. (I don't have a preference between generic and general.)

@zepumph would this be relatively straightforward to c

[2021-02-24 23:45] jbphet commented on #239
There was an explicit spec to set the cursor to `pointer` in `ProjectileMotionConstants.NUMBER_DISPLAY_OPTIONS` that was causing this behavior.  I've removed it, and the problem appears to be fixed.

This was most likely introduced in https://github.com/phetsims/projectile-motion/commit/364d34e41c1113ddca9718be7f6f331a1f8af106, where some work was done to incorporate standard number displays inste

[2021-02-24 23:54] jbphet opened #255 "Assertion while interacting with keypad on "Lab"screen"
While working on #239 I ran into an issue where an assertion is hit.  This was on master.  Here's the sequence to reproduce:

- Start the sim and go to the "Lab" screen.
- Select the "Custom" mass
- Click on the mass value readout (100 kg) to bring up the keypad
- Enter a new value (e.g. 200) and press "Enter" on the keypad.  The mass value readout should now show the new value.
- Click the mass v

[2021-02-25 00:28] jbphet commented on #255
@jonathanolson - Can you please take a look at this?  The problem seems to be occurring down in the bowels of the input listener system.  The listener that is being re-added is `invalidateHovering`, and I've run several tests and added breakpoints in various places, and it's not at all obvious to me what is being done or not done that is leading to the incorrect behavior.

You can start by executi

[2021-02-25 00:29] jbphet commented on #239
@pixelzoom - Does this look like a reasonable fix to you?

[2021-02-25 00:29] jbphet commented on #249
@pixelzoom - is this a duplicate of #239?

[2021-02-25 00:30] pixelzoom commented on #249
Yep. Silly me. Closing.

[2021-02-25 00:30] #249 closed

[2021-02-25 04:33] arouinfar opened #256 "Add titleNode to labScreen.view.initialValuesPanel"
For #244

This is labScreen.view.initialValuesPanel
<img width="161" alt="Screen Shot 2021-02-24 at 5 56 57 PM" src="https://user-images.githubusercontent.com/8419308/109086933-b9a47900-76c9-11eb-9a10-74fd1f3985df.png">

We'd like to instrument the "Initial Values" title and give it a visibleProperty and textProperty. The tree structure would look like this:
[code]

[2021-02-25 04:56] arouinfar opened #257 "Customization of tool visibility can be messy"
For #244

Setting `view.dataProbeNode.visibleProperty` or `view.measuringTapeNode.visibleProperty` to true will make the tool appear in the play area. The icon will still appear in the toolbox unless `view.toolboxPanel.dataProbeIconNode.visibleProperty` or `view.toolboxPanel.measuringTapeIconNode.visibleProperty` is set to false. On the surface, this seems fine, but things get weird if you try to

[2021-02-25 05:06] arouinfar opened #258 "Issues with model.altitudeProperty"
For #244

- [x] The inital/current value of `model.altitudeProperty.rangeProperty` is always null, which seems wrong. @zepumph can you investigate?

- [ ] Remove the slider in the studio interface. It's not necessary and it's currently buggy, possibly because of the rangeProperty issue.

[2021-02-25 05:41] arouinfar opened #259 "subdivide velocityControlPanel on intro screen"
For #244

On the Intro Screen, the vectorsControlPanel could benefit from some subdivision, somewhat similar to what we did with the airReistanceControl in #225.

![image](https://user-images.githubusercontent.com/8419308/109107517-18301e00-76ef-11eb-9e6f-798e8d83b998.png)

Here's a proposed tree structure:

[code]

* Create containers for velocity vectors and acceleration vectors
* Give each cont

[2021-02-25 20:15] zepumph commented on #245
Right @arouinfar. I will take care of this by converting to ZoomButtonGroup.

[2021-02-25 21:11] pixelzoom commented on #239
Code and behavior looks good to me, closing.

[2021-02-25 21:11] #239 closed

[2021-02-25 21:37] zepumph commented on #219
Done above

projectileMotion.introScreen.model.measuringTape.tipPositionProperty: m

That was already in the code:
https://github.com/phetsims/projectile-motion/blob/019bf1402aabed5b80793b9fb5448d0b5fa61c33/js/common/model/ProjectileMotionMeasuringTape.js#L23

https://github.com/phetsims/projectile-motion/blob/019bf1402aabed5b80793b9fb5448d0b5fa61c33/js/common/model/ProjectileMotionMeasuringTape.j

[2021-02-25 22:56] zepumph commented on #219
Just kidding. Property already supports units, and I see them now implemented:

![image](https://user-images.githubusercontent.com/6856943/109230405-4eae7d00-7771-11eb-98b5-c3f56234836a.png)

@arouinfar please close if there is nothing else here.

[2021-02-25 23:00] zepumph opened #260 "Create general Properties to control all mass/diameter NumberControls"
On the lab screen. In the projectile control panel, we want a single Property that would set all Projectile types's mass NumberControl visible. This will directly change the numberControl.visibleProperty.

We also want this for displayOnlyProperty (see https://github.com/phetsims/sun/issues/686#issuecomment-786268389), and enabledProperty.

From #244

Here are notes from today's PhET-iO meeting

[

[2021-02-26 15:56] jonathanolson commented on #255
It looks like only one code-path (clicking outside of the edit box) was clearing the over-pointers. Clicking on the enter button however was not doing this. I added it in the above commit, @jbphet can you review? See the existing `this.clickOutsideFireListener.clearOverPointers();`

[2021-02-26 17:16] zepumph commented on #255
So It looks like https://github.com/phetsims/scenery/issues/1021 has determined that `clearOverPointers` is the best we can do in this case. I'll let https://github.com/phetsims/acid-base-solutions/issues/172 know that it may be the same case.

[2021-02-26 18:11] jbphet commented on #255
Thanks @jonathanolson and @zepumph.  This does seem to fix the problem, so I'll close the issue, but I commented in the Scenery issue that this seems a bit tricky to have to remember.

[2021-02-26 18:11] #255 closed

[2021-03-04 20:33] zepumph opened #262 "Publish this sim with PhET-iO"

[2021-03-18 20:24] oliver-phet opened #263 "User request: lower gravity range minimum"

[2021-03-25 15:23] jonathanolson commented on #207
The current approach to serializing Matrix3 looks good.

[2021-03-25 21:17] #207 closed

[2021-03-31 23:18] arouinfar commented on #263
The lower the gravity limit, the lower the terminal velocity can be. I think we ran into performance issues because there are lots of dots that need to be drawn on the path. I tried to find a paper trail for this, but I couldn't.

I'll test things locally with a lower gravity limit and see how it goes.

[2021-04-06 16:14] pixelzoom opened #264 "CT: AssertionError [ERR_ASSERTION] [ERR_ASSERTION]: full api expected"
[code]

[2021-04-06 16:33] jbphet commented on #264
I think this was assigned to me because I'm the responsible developer for this sim, but @zepumph has been doing the phet-io work, and this appears to be a phet-io issue.  Assigning to him.

[2021-04-06 16:37] pixelzoom commented on #264
From Slack phet-io channel:

Chris Malley  10:20 AM
Any idea why CT is reporting this for ph-scale-basics and projectile-motion?

[code]

And what’s up with this error message? `AssertionError [ERR_ASSERTION] [ERR_ASSERTION]: full api expected`

Michael Kauzmann  10:21 AM
Most likely it is a failure in the puppeteer step that gets the api from the sim. Like in https://github.com/phetsims/chipper/i

[2021-04-06 16:39] pixelzoom commented on #264
Since this is happening for multiple sims and is failing in copySupplementalPhetioFiles.js, I'm transferring this issue from projectile-motion to chipper.

[2021-04-21 22:30] zepumph commented on #226
@arouinfar do you want to work on this for this release of Projectile motion?

[2021-04-21 22:50] zepumph commented on #231
The above is a bug fix for validValues in studio for phetioIDs like projectileMotion.introScreen.model.selectedProjectileObjectTypeProperty. The `for` id included the object toString like `[ Object ]`

[2021-04-21 22:58] zepumph commented on #231
Converted to the better schema above.

[2021-04-21 22:59] #231 closed

[2021-04-21 23:09] zepumph commented on #192
Good find. Because the range is based on the modelViewTransform (in the view), but is created in the model (before the view is created), we need a bogus initial value to fill the range to start. I made this [-100,100]. This is not ideal, but wasn't buggy expect that I wasn't re-calculating based on the transform on reset.

Above fixes this because it recalculates the range on reset. Please review.

[2021-04-21 23:14] zepumph commented on #233
Sounds good. I used the constants (always love a constant!), but the values were already the same, so there is no change in output. Closing.

[2021-04-21 23:14] #233 closed

[2021-04-21 23:19] zepumph commented on #241
Added above, you can test with something like `projectileMotion.introScreen.model.trajectoryGroup.trajectory_0.projectileCountProperty`

[2021-05-06 00:33] zepumph commented on #195
Unassigning for now. When work picks up again in projectile motion, I will want to review this issue's work, and see if there is anything more to do here.

[2021-05-10 16:33] zepumph commented on #224
This issue should be reviewed at the next time Projectile Motion is worked on.

[2021-06-21 13:34] samreid opened #265 "KeypadLayer.js:10:1 - error TS9005: Declaration emit for this file requires using private name 'addHelloText'"
From https://github.com/phetsims/chipper/issues/1055, I saw this error:

[code]

Like in https://github.com/phetsims/molecule-shapes/issues/185, I don't understand the cause of the problem, but maybe there is a trivial workaround.

[2021-06-21 13:40] samreid opened #266 "Should we do anything about the "hello" keypad easter egg?"
Discovered in #265, the keypad will say hello using 43110 (lowercase ll) but not 43770 (uppercase L):

![image](https://user-images.githubusercontent.com/679486/122771073-51bf0300-d263-11eb-9a7d-5972cf677802.png)

@jbphet is listed as the responsible dev in the spreadsheet, but I (mis?)recalled @zepumph was working on this sim.  I'll assign both just in case.

[2021-06-21 13:46] samreid opened #267 "Double checking the responsible dev listing for projectile-motion"
From https://github.com/phetsims/projectile-motion/issues/266, I had a recollection that @zepumph was working on this sim, but @jbphet is listed as responsible dev.  Sorry if I'm misremembering something, but I thought I should double check just in case.  Assigning both parties and the listed responsible designer.

[2021-06-21 13:48] samreid commented on #265
I don't really understand the root cause of the problem, but it seemed it should be an arrow function like the other ones, and that seems to fix the problem.  This seemed straightforward and I tested that the behavior is unchanged, so I don't think it warrants review, closing.

[2021-06-21 13:48] #265 closed

[2021-06-21 14:28] jbphet commented on #267
I have historically been the responsible dev, since I worked with @andrealin quite a bit during the earlier portions of the implementation process.  @pixelzoom got heavily involved toward the end, so the logical choice was either him or me, and he had more sims, so I got it (or something like that).  @zepumph has been working to instrument the sim for phet-io, and has taken on some other open issu

[2021-06-21 14:41] jbphet commented on #266
@samreid - I just took a look at this functionality in the sim, and I'm not sure why it exists.  It might be something that @andrealin was experimenting with, perhaps as she was learning about how to write PhET sims.  The functionality doesn't seem particularly important to me, so I'm wondering why it you've logged a bug about it not supporting upper case 'L' values.  Can you please clarify why yo

[2021-06-21 15:06] samreid commented on #267
That is very helpful, thanks!  Closing.

[2021-06-21 15:06] #267 closed

[2021-06-21 15:12] samreid commented on #266
It's probably just an easter egg, I was surprised to see it and it caused a minor complication (which I've already corrected) in https://github.com/phetsims/projectile-motion/issues/265.  Just wanted to raise awareness, the easter egg adds a little bit of code that needs to be maintained, and didn't work like I expected.  Up to you how to proceed, if at all.

[2021-06-21 15:15] samreid commented on #266
I updated the title to make it clearer how we might proceed.

[2021-06-21 16:30] jbphet commented on #266
It sounds like the problem has been corrected, and I don't mind the occasional, small, non-obtrusive Easter egg.  Let's just leave it as is.  Closing.

[2021-06-21 16:30] #266 closed

[2021-07-02 22:59] jbphet commented on #109
Reopening.  This branch was restored during an effort to recover some branches that were accidentally deleted.  This one had been _intentionally_ deleted, and now needs to be re-deleted.  See https://github.com/phetsims/special-ops/issues/198.

[2021-07-02 23:00] jbphet commented on #109
Re-deletion complete.  Closing.

[2021-07-02 23:00] #109 closed

[2021-07-06 14:17] zepumph commented on #215
[code]

Looks like in each of these cases, the previousPoint has no accelleration or velocity. Looking through step, there is a fair bit of dividing by these, so I feel like we are downstream of the actual problem. Perhaps we need a marker at the beginning of step to handle this, or perhaps it is a bug where these values actually shouldn't be zero. Either way, I feel like I need to failure context

[2021-07-06 17:30] zepumph commented on #215
I had three windows open fuzzing the sim for 3 hour, and never hit this issue. Hmmm....

[2021-07-26 13:21] zepumph commented on #263
@ariel-phet, pinging you again on this since it is a high priority for our client again.

[2021-07-26 13:43] zepumph commented on #153
I played around with this, by changing in constants MIN_ZOOM value and the max initial speed to 100m/s. I found that it was sorta weird. I definitely think that the sim is not fully usable with that much zoom, but maybe that is ok? You can orient the cannon while zoomed in, and then zoom out to launch and see.

![image](https://user-images.githubusercontent.com/6856943/126998201-70654669-eb75-430b

[2021-07-26 13:44] zepumph commented on #162
We haven't heard from you in a while @ayrimsal! I hope this problem was fixed. I'm going to close this issue but please feel free to reach out again if you run into trouble.

[2021-07-26 13:44] #162 closed

[2021-07-26 13:46] zepumph commented on #169
https://github.com/phetsims/projectile-motion/issues/173 has been created and completed, the values look very nice as right aligned, we decided against an MR. I'm going to close this issue, as this improvement will go out upon next release. Please reopen if you agree.

[2021-07-26 13:46] #169 closed

[2021-07-26 13:50] zepumph commented on #219
Looks like the last thing here was to have units on the measuringTape PhET-iO elements. I just re-confirmed in studio.

Note that

`projectileMotion.introScreen.model.tracer.positionProperty` was renamed to `projectileMotion.introScreen.model.dataProbe.positionProperty`

I think this is ready to close now. Please reopen if there is anything else.

[2021-07-26 13:50] #219 closed

[2021-07-26 13:54] zepumph commented on #235
I haven't seen this on CT for a long long time.

[2021-07-26 14:10] zepumph commented on #224
Alright, classes and tandems have been renamed to `viewProperties`. We now have:

`projectileMotion.introScreen.view.viewProperties.`
`projectileMotion.vectorsScreen.view.viewProperties.`
`projectileMotion.dragScreen.view.viewProperties.`

Anything else here @arouinfar?

[2021-07-26 14:45] zepumph commented on #242
Something I noted is that every Trajectory has a unique `ProjectileObjectType`, if that changes, then the Trajectory will change too. Thus, we were able to pretty easily add this to the state of `TrajectoryIO` as `projectileObjectType` using `ReferenceIO` (possible because `ProjectileObjectType` is `Tandem.REQUIRED`.

Now a Trajectory in JSON looks like:

[code]

![image](https://user-images.githu

[2021-07-26 14:54] zepumph commented on #243
@arouinfar, how important is this request, currently the model is set up that Trajectories own DataPoints, and so the reference in the opposite direction is non existent. When a Probe get's a point, it is sometimes a couple of steps after we have lost the reference to the Trajectory. I would guess a couple of hours for further investigation. And also I'm unsure about the quality of the solution. I

[2021-07-26 15:44] zepumph commented on #245
This wasn't a direct conversion because until my recent work in https://github.com/phetsims/scenery-phet/issues/687, ZoomButtonGroup didn't support the `*=` operation that this sim's zoom ran on. Now that it does, this should be easy and straight forward.

[2021-07-26 18:27] zepumph commented on #245
@arouinfar, this refactor has been done by using MagnifyingGlassZoomButtonGroup. The one question I had while doing this is wondering if the ZoomButtonGroup should have a linked element pointing to where the zoomButton is instrumented. In the case of Projectile Motion, the Property is right next to the group, so it doesn't really matter, but that isn't necessarily always the case. Over to you for

[2021-07-26 18:37] zepumph commented on #246
Although a very similar problem to https://github.com/phetsims/ph-scale/issues/102, I ended up solving it differently because BackgroundNode, which houses the flatirons image, had no PhET-iO instrumentation at all. Instead of making that overly complicated, I just added a single Property to the screen view to be able to toggle whether or not the flat irons can be shown.

`projectileMotion.dragScre

[2021-07-26 18:42] zepumph commented on #247
Done. Note that I took out the readOnly, but added in phetioStudioControl: false, so there is still no slider to adjust in studio.

![image](https://user-images.githubusercontent.com/6856943/127041620-89795be0-bad5-46ce-8732-9dcf23416501.png)

Anything else here?

[2021-07-26 18:50] zepumph commented on #248
I actually though it was easier to instrument on the listeners themselves, since for the height one the listener was added to many Nodes. Having the flexibility to disable based on the Node and/or listener is really nice.

Please experiment with PhET-iO elements like these, and let me know what you think:

height: `projectileMotion.introScreen.view.cannonNode.heightDragListener.enabledProperty`

r

[2021-07-26 18:53] zepumph commented on #248
I also fixed the cursor, so that it can come from the input listener instead of each Node that the single listener is added to. This further simplifies the file. Now, disabled input listeners will show the default cursor.

[2021-07-26 18:55] zepumph opened #268 "rename Score -> Target.js"
From https://github.com/phetsims/projectile-motion/issues/251

[2021-07-26 19:04] #268 closed

[2021-07-26 19:07] zepumph commented on #251
All has been complete here, please review.

[2021-07-26 19:10] zepumph commented on #252
See `projectileMotion.introScreen.view.targetNode.inputEnabledProperty` on any screen.

[2021-07-26 19:20] zepumph commented on #256
It seems like most of this happened two days after opening this issue in https://github.com/phetsims/projectile-motion/commit/b703492f325720fe833ba55e832ae225eddb4bb5, as part of #219, but I don't see a paper trail on that structure over there.  Added a titleNode, but that is all.

Anyways. . . .

Please review in master, the readout textProperties are `phetioReadOnly: true`, is that correct?

[2021-07-26 19:25] zepumph commented on #258
I added a range to the altitudeProperty, and that fixed the studio control, I'm happy to remove the studio slider if you would like, but I thought I'd check since it isn't doing any harm anymore.

[2021-07-26 19:37] zepumph commented on #259
That should do it, please review. Please note, that this panel is custom only for the intro screen, so any other screen will not pick up these changes. Let me know if there is more to do.

[2021-07-26 21:20] zepumph commented on #253
I created a new Property called `editEnabledProperty`, and it controls the enabled and the button and the numberDisplay's input listener. The editButton.enabledProperty is now a linked element. Note that NumberDisplay doesn't have this same behavior because by default (in their common code) they don't support input.

Please review.

[2021-07-26 21:21] zepumph commented on #235
I can't seem to reproduce this. I'll reopen if I catch it again.

[2021-07-26 21:21] #235 closed

[2021-07-26 21:24] zepumph commented on #254
I like that a lot! Good name

![image](https://user-images.githubusercontent.com/6856943/127061186-aa5b796e-dd56-4b82-b303-d093862387f2.png)

[2021-07-26 21:55] zepumph opened #269 "Use HSeparator instead of Line"
A small cleanup before https://github.com/phetsims/projectile-motion/issues/250

[2021-07-26 22:03] #269 closed

[2021-07-26 22:26] zepumph commented on #250
(1) See elements like `projectileMotion.labScreen.view.projectileControlPanel.separator2.visibleProperty`

(2) Done.

(3) This is actually harder than I thought. We don't have access to NumberControl's titleNode from outside the type, so I can't toggle visibility of `dragObjectDisplay` based on it. I'll have to keep thinking about it.

@arouinfar please review. How important is (3)?

[2021-07-28 15:30] zepumph commented on #250
Sorry for the late commit coming in for (2)

[2021-07-29 07:31] arouinfar commented on #259
Looks good in master, thanks!

[2021-07-29 07:31] #259 closed

[2021-07-29 07:33] arouinfar commented on #258
Thanks @zepumph. The altitudeProperty looks good.

[2021-07-29 07:33] #258 closed

[2021-07-29 07:37] arouinfar commented on #256
The new titleNode looks good in master.

Yes, that's correct. The readout text should match the actual data in the sim.

[2021-07-29 07:37] #256 closed

[2021-07-29 07:38] arouinfar commented on #254
Looks good, thanks!

[2021-07-29 07:38] #254 closed

[2021-07-29 07:43] arouinfar commented on #253
This is really nice. The behavior looks good in master, thanks!

[2021-07-29 07:43] #253 closed

[2021-07-29 07:45] arouinfar commented on #252
Looks good!

[2021-07-29 07:45] #252 closed

[2021-07-29 08:00] arouinfar commented on #251
Looks good in master, thanks!

[2021-07-29 08:00] #251 closed

[2021-07-29 08:05] arouinfar commented on #248
The behavior is looking really nice. One (hopefully) minor request -- when `cannonNode.heightDragListener.enabledProperty` is false can the cueing arrows be hidden?
![image](https://user-images.githubusercontent.com/8419308/127455229-a03df55f-bdf9-4702-b52b-d4613b3ae108.png)

[2021-07-29 08:08] arouinfar commented on #247
Thanks @zepumph! Looks good in master.

[2021-07-29 08:08] #247 closed

[2021-07-29 13:59] zepumph commented on #248
It has been done.

[2021-07-29 15:14] zepumph commented on #260
So there is a top level Property, and when it changes, it changes the individual NumberControl.visibleProperty for all object types.

This has been implemented above, see

`projectileMotion.labScreen.view.projectileControlPanel.diameterNumberControlsVisibleProperty`
`projectileMotion.labScreen.view.projectileControlPanel.massNumberControlsVisibleProperty`

So the above Properties will actually set

[2021-07-29 15:16] zepumph opened #270 "Create general Properties to control the displayOnlyProperty for all NumberControls"
Basically identical to https://github.com/phetsims/projectile-motion/issues/260, but I believe this needs to be put on hold until https://github.com/phetsims/sun/issues/686 is sorted out.

[2021-07-29 15:16] zepumph commented on #260
I created https://github.com/phetsims/projectile-motion/issues/270 to handle displayOnlyProperty.

[2021-08-12 17:51] zepumph opened #271 "test issue phet-io design review"
- [x] #272
- [ ] two thing
- [ ] #273

[2021-08-12 17:51] zepumph opened #272 "One thing"

[2021-08-12 17:52] zepumph opened #273 "three thing"

[2021-08-12 17:53] #272 closed

[2021-08-12 17:54] #271 closed

[2021-08-12 17:54] #273 closed

[2021-08-16 19:47] zepumph commented on #205
It is likely that this issue is out of date, I'm not sure if phetioFeatured has been done yet for this sim.

[2021-08-16 19:59] zepumph commented on #270
Implemented above. @arouinfar please review

[2021-08-19 04:31] arouinfar commented on #250
Items (1) & (2) look good!

Listening to `dragCoefficientNumberControl.titleNode.visibleProperty` isn't necessary. However, it'd be really nice to be able to hide the dragObjectDisplay. Could it be separately instrumented?

[2021-08-19 04:32] arouinfar commented on #248
Looks good, thanks!

[2021-08-19 04:32] #248 closed

[2021-08-19 14:52] arouinfar commented on #246
The new property is behaving well, thanks! Two tweaks:

- [ ] Remove the property from screens without tunable altitude - Intro & Vectors screens
- [ ] Flatirons is one word, so adjust the casing to `flatironsVisibleProperty`.

[2021-08-19 14:56] arouinfar commented on #245
The ZoomButtonGroup looks good in master. It's a bit odd to have a lone property hanging out under view. Can you move it to `viewProperties.zoomProperty` and add a linked property to ZoomButtonGroup?

[2021-08-19 15:42] arouinfar commented on #243
@zepumph is there another way for a client to identify which trajectory is being measured? When measuring a point, `dataProbe.dataPointProperty` spits out something like:

[code]

Would those values be an exact match of something that would fall under `trajectory_*.dataPoints`?

[2021-08-19 15:44] arouinfar commented on #242
Looks good, thanks!

[2021-08-19 15:44] #242 closed

[2021-08-19 15:53] arouinfar commented on #241
Looks good, thanks!

[2021-08-19 15:53] #241 closed

[2021-08-19 16:25] arouinfar commented on #225
@zepumph `AirResistanceControl` is great! One thing that is a little unclear is `airResistanceControl.text`. Could it be renamed `title` or `titleNode` (if it is indeed a Node)? Otherwise, everything looks good.

[2021-08-19 16:32] arouinfar commented on #192
I haven't been able to reproduce in master, so closing.

[2021-08-19 16:32] #192 closed

[2021-08-19 16:48] arouinfar opened #274 "Create PhET-iO Client Guides"
Things to document
- [ ] How to hide Flatirons easter egg: #246
- [ ] Ways to hide mass/diameter NumberControls on Lab screen: #260

[2021-08-19 16:50] arouinfar commented on #260
Thanks @zepumph! I really like how things are behaving in master.

[2021-08-19 16:50] #260 closed

[2021-08-19 17:00] arouinfar commented on #257
I'm no longer bothered by this issue. Clients using Studio to customize the sim should simply drag the tool out of the toolbox before launching. The tools are stateful and can be returned to the toolbox without any issue. If a client wants to instead use the API, they should instead communicate with the tool's `isActivtyProperty`, such as `model.dataProbe.isActiveProperty`.

[2021-08-19 17:00] #257 closed

[2021-08-19 17:33] arouinfar commented on #224
Looks good, thanks!

[2021-08-19 17:33] #224 closed

[2021-08-23 16:49] zepumph commented on #243
Yes, nice find! It is totally the exact match.  Using the patch below, I saw that the `DataPoint` instance stored in the probe is the exact same data structure (same instance in memory) of the point stored in the Trajectory.dataPoints list.

[code]

So you could do a simple for loop through each trajectory to find which trajectory the data point goes with. In (what I feel would be) extremely rare

[2021-08-31 16:16] zepumph commented on #270
Over in https://github.com/phetsims/sun/issues/686#issuecomment-906612612 we decided against the current implementation of NumberControl.displayOnlyProperty, so I'm going to comment this out until we have a new solution in https://github.com/phetsims/sun/issues/714

[2021-08-31 16:22] zepumph commented on #270
In PhET-iO meeting 8/26/21, we decided that NumberControl.displayOnlyProperty should not block PM publication for PhET-iO.

[2021-09-02 22:00] zepumph commented on #250
Instrumented above. We now have `projectileMotion.dragScreen.view.projectileControlPanel.dragObjectDisplay.visibleProperty`

[2021-09-02 22:07] zepumph commented on #246
Done

[2021-09-02 22:16] zepumph commented on #245
Everything has been done and went smoothly.

Added, this is common code that updated the API for Natural Selection as well (in these commits).

[2021-09-02 22:18] zepumph commented on #243
Sorry I didn't reassign, @arouinfar, what do you think about this approach, do you want me to explain if better or write out the wrapper code to accomplish this?

[2021-09-02 22:23] zepumph commented on #225
I went with `titleText`, since it is a `Text` (a subtype of Node). This seemed better to me because in addition to getting the `visibleProperty` from Node, it also has a `textProperty` which comes from `Text,` In general, I have found that this suffix can help describe what component parts the PhET-iO element has. What do you think?

[2021-09-07 16:51] zepumph commented on #263
From design meeting today with @arouinfar, @kathy-phet, and myself, we decided to try out a minimum of 1m/s^2.

Committed above.

This, in correlation to a variety of UI changes we will do to support a max initial speed of 100m/s over in #153, should cover the usability concerns and the feature.

[2021-09-07 17:13] zepumph opened #275 "DataProbe "sensing tolerance" should respect zoom"
Over in https://github.com/phetsims/projectile-motion/issues/153, we want to greatly increase the maximum that zoom-out that can occur, but one of the main barriers for it from a usability standpoint is the ability for the data probe to detect the points on a trajectory. If we have the sensing logic account for the current zoom, then this problem will be accounted for, and adjusted for all zoom le

[2021-09-07 17:24] zepumph commented on #275
@arouinfar please review this as you review #153 in general. Please note the change of zoomProperty from the view to the model (especially for PhET-iO).

[2021-09-07 17:26] zepumph opened #276 "Rename zoomProperty?"
While working on https://github.com/phetsims/projectile-motion/issues/275, I had two questions about the zoomProperty, mostly in a PhET-iO context, but also for general maintainability.

* Should we rename this to `zoomFactorProperty`, because I feel like in general it is hard to understand the unit for the Property, when I read the phetioDocumentation, it makes so much more sense: ". . .Each new

[2021-09-07 17:33] zepumph commented on #153
We discussed this during today's design meeting with @arouinfar and @kathy-phet. We decided that we will implement this, and make the max 100m/s.

I believe that @arouinfar will provide a more detailed list of items to accomplish, but just to get things started here:

- [ ] Increase the range to 100m/s, but only on the lab screen
- [ ] Decrease the min zoom (zoom-out range) to allow the parabola o

[2021-09-07 21:09] zepumph commented on #153
I'm going to go ahead and wait for mockups before continuing here. I will take a look at https://github.com/phetsims/scenery-phet/issues/700, which seems promising. As for actually implementing the conditional range change only in the lab screen, a mockup will be best first. I hacked out one version with two different range constants, but I didn't really like it. Let's wait for a design before try

[2021-09-07 21:18] zepumph commented on #195
I just gave this a review, this fully feels in the right direction, with new methods and a composed class that pulls a bunch out of ProjectileNode. @arouinfar and I have also further worked on the PhET-iO look of these view Properties. Ready to close.

[2021-09-07 21:18] #195 closed

[2021-12-02 18:51] zepumph commented on #215
[code]

[2021-12-02 18:51] zepumph commented on #215
[code]

[2021-12-02 18:54] samreid commented on #215
@zepumph said:

So I added myself as an assignee.  Can we work backwards and find out which term is leading to the NaN?  Do you want to try that or should I?

[2021-12-02 18:55] zepumph commented on #215
I am totally not in Projectile motion. Happy to investigate the next time that I'm in this repo.

[2021-12-07 02:52] samreid commented on #215
From the errors, the problem is happening in this line:

[code]

We can also see from the data that `previousPoint.position.y` and `previousPoint.velocity.y` are both 0 (because 0/0 is NaN).  Trajectory.js has these lines:

[code]

[code]

After about 15 minutes, it triggered in ?screens=4&fuzz.  Having it paused in the debugger didn't help, because it all cascaded from `step`.

[2021-12-07 02:54] samreid commented on #215
The commit is very experimental and does not get to the root of the problem.  Let's see what happens on CT.

[2021-12-08 16:00] samreid commented on #215
Since this commit, CT has not shown this problem.  I'm having trouble tracking the flow of data in the sim to find the upstream cause of this problem, or it could be that this special case handling is appropriate.  Maybe a good next step is to discuss with @zepumph when he has time.

[2022-01-26 17:27] arouinfar commented on #225
`airResistanceControl.titleText.textProperty` looks great, closing.

[2022-01-26 17:27] #225 closed

[2022-01-26 17:29] arouinfar commented on #245
Thanks @zepumph. The `ZoomButtonGroup` looks great in master.

[2022-01-26 17:29] #245 closed

[2022-01-26 17:30] arouinfar commented on #246
Thanks @zepumph. Looks good in master, closing.

[2022-01-26 17:30] #246 closed

[2022-01-26 17:36] arouinfar commented on #250
Looks good in master, thanks @zepumph.

[2022-01-26 17:36] #250 closed

[2022-01-26 17:38] arouinfar commented on #275
Projectile Motion is an "if-time" quarterly goal, so marking as on-hold.

[2022-04-12 19:43] oliver-phet commented on #226
Another request received 4/10/22:

[2022-05-16 18:06] KatieWoe opened #277 "CT index out of bounds: -1, array length is 0"
[code]

[2022-05-17 22:44] jbphet commented on #277
This is really easy to duplicate manually on the current master branch - just start the sim, go into any screen, and fire the cannon.

[2022-05-17 22:55] jbphet commented on #277
@samreid - In https://github.com/phetsims/tandem/commit/24fa184031e3001236fd0b666bc8a897a5a09d0d you added an assertion to `PhetioGroup.getElement`.  This change broke projectile-motion, which was assuming that this method acted like a native JavaScript array and returned `undefined`.  The code in projectile-motion can of course be modified to accommodate this change, but I thought I'd double chec

[2022-05-18 17:40] samreid commented on #277
The assertion was recommended by @zepumph in https://github.com/phetsims/tandem/issues/262#issuecomment-1122699349 and it sounded reasonable to me.

Since Array returns type T and not T | undefined, that made sense to me.  @zepumph or @jbphet can you please comment?

[2022-05-18 17:59] zepumph commented on #277
Here is the line of code breaking:

https://github.com/phetsims/projectile-motion/blob/5f84c84b3f0463aa7086aa42d544d57e1c7a72ed/js/common/model/ProjectileMotionModel.js#L322

In my opinion. We should continue with how PhetioGroup is implemented. I think it is more of a code smell to rely on array[-1] to return undefined than it is to deviate from the javascript array. If we come to a case where it

[2022-05-19 04:07] samreid commented on #277
@jbphet's argument makes sense to me (but I don't feel ObservableArray is an independent vote since it extends the native array via the Proxy strategy) and in https://github.com/phetsims/tandem/issues/262#issue-1229996266 I said:

But later I was surprised to see that the type checker for array access is that arrays return type `T`, not `T|undefined`.  You can see that from this experiment:

<img

[2022-05-19 17:18] zepumph commented on #277
Right! I forgot that our current implementation of this is an Actual array. I feel like Javascript is an incredibly type unsafe language, and one of its quirks (not features) to me is its grace in array accessing. ObservableArray aside, I think it would be a better trajectory for all our PhET array-like internals to try to improve upon this implementation with greater type safetey.

I also think t

[2022-05-26 18:35] zepumph commented on #277
We discussed this at dev meeting.

* We noted that typescript by default has array access return `T` and not `T|undefined`. @samreid ran the type checker with `noUncheckedIndexedAccess: true` and saw 1900 failures. We agree that it isn't worth going back to fix those usages.
* In PhetioGroup, we decided that getElement will assert that we have an element.

I'll proceed with that finding here and i

[2022-05-26 18:35] #277 closed

[2022-07-15 16:57] matthew-blackman opened #278 "Explore statistics functionality"
Add a new 'stats' screen in projectile motion sim to explore standard deviation of cannon launch speed.

[2022-07-15 17:00] matthew-blackman opened #279 "branch: stats"
For work in https://github.com/phetsims/projectile-motion/issues/278

[2022-07-19 14:51] zepumph opened #280 "Stats branch review"
Everything is looking really really good here. Great work. I can see some items that I would like to change if we were going to move this screen to production, for example about how it has an empty ControlPanel that it has to pass to the supertype.

I think the main items that I see that we may want to fine tune here on the branch is to refactor Trajectory so that it doesn't take the model anymore

[2022-07-25 16:28] matthew-blackman opened #281 "Investigate how to incorporate statistical variance into launch speed"
Will need to have launch speed randomized based on mean and standard deviation for data fluency initiative. Investigating how to best do this. #279

[2022-08-01 17:33] matthew-blackman opened #282 "Refactor Trajectory.js to no longer accept the entire ProjectileMotionModel as a parameter"
Refactor Trajectory.js to no longer accept the entire ProjectileMotionModel as a parameter

[2022-08-03 20:02] matthew-blackman commented on #279
Closed: 'stats' branch has been merged into 'master'

[2022-08-03 20:02] #279 closed

[2022-08-08 21:31] zepumph commented on #281
I went ahead and wrote out an idea for this. It is called `VarianceNumberProperty` and it could be good to have something tangible to be able to continue our discussion about this in Projectile Motion.

@matthew-blackman, if you have a change, please review the implementation and the few tests I wrote for it to see what you think!

[2022-08-09 17:21] matthew-blackman commented on #281
This is working great on my end. Only part I’m unsure about is this part of VarianceNumberPropertyTests:

[code]

Is it a safety check or just more testing?

[2022-08-09 17:42] zepumph commented on #281
I implemented it just as a proof of concept. When writing it, I was reminded that we already have something called a "MappedProperty", which takes another Property for its value, and a mapping function. It is pretty close to what we currently have, but it didn't seem like a good fit to have to have two separate properties to store the input and output. That said. It may be an experiement we want t

[2022-08-09 18:48] matthew-blackman commented on #281
It would be nice to be able to pass mutable values for mean and standard deviation into VarianceNumberProperty, and have all of the VarianceComputer logic self-contained. There are only a handful of statistical distributions to draw from, so an overridable VarianceComputer parameter makes sense to me.

[2022-08-09 18:54] matthew-blackman commented on #281
Here is the usage I'm picturing with ProjectileMotionModel as an example:

this.launchSpeedRandomizedProperty = new VarianceNumberProperty(this.initialSpeedProperty, this.initialSpeedStandardDeviationProperty, Statistics.NORMAL);

launchSpeedRandomizedProperty would have to draw from the latest values of this.initialSpeedProperty and this.initialSpeedStandardDeviationProperty whenever it is access

[2022-08-09 20:06] zepumph commented on #281
How about something like this:

[code]

[2022-08-11 08:58] matthew-blackman opened #283 "Projectiles appear to be lagging at apex for one frame"
Projectiles are spending 1 extra frame at the apex point. This only became noticeable when there were multiple projectiles and with the trajectories made invisible (cosmetic change only).

Video of behavior (step frame-by-frame to see apex lag):
https://drive.google.com/file/d/1PSJgUoWhTdU4l83xDmwpZphNmS-z0yVO/view?usp=sharing

[2022-08-11 09:11] matthew-blackman commented on #283
The behavior also occurs in the live version of the sim.

Screenshot of issue: https://drive.google.com/file/d/1mwa_MX2vvUeJ3VAcDRAbRdBGndWeWAh1/view?usp=sharing
Video: https://drive.google.com/file/d/1zm6pPQPQgYUlphiLLPlCnpFVakGOfzEF/view?usp=sharing

[2022-08-15 18:28] #283 closed

[2022-08-17 20:03] matthew-blackman commented on #278
Stats screen has been added, variability in launch speed discussed further in issue #281

[2022-08-17 20:03] #278 closed

[2022-08-17 20:04] #282 closed

[2022-08-17 21:30] matthew-blackman opened #284 "Create PhET-IO wrapper for statistics integration with 3rd-party tools"

[2022-08-22 16:55] matthew-blackman opened #285 "Explore functionality of stats screen"
Prototype stats screen with variable launch speed and angle, multiple projectiles, optimizing trajectory paths for performance

[2022-08-22 17:22] zepumph commented on #284
Above we used console.table and added a couple more entries for the output.

[2022-08-25 18:02] matthew-blackman opened #286 "'Large drag force' errors?"
Trajectory has code to deal with 'large drag force errors', which breaks cases of angles greater than 90 (useful for stats screen). Is there another way to fix this, for example **after** trying to update a projectile's velocity?

[2022-09-07 17:52] matthew-blackman opened #287 "Tandem number being incremented in trajectory every time new projectile is added, even when no new Trajectory is created"
Example: Fire two projectiles on the same trajectory, then change the launch values and fire another. New trajectory will be named 'trajectory_02' instead of 'trajectory_01'

[2022-09-07 21:35] zepumph commented on #287
I think the gross code is here. Note that we need to create a new Trajectory just to decide if it is equal to the current one (then disposing the newly created one). Can we clean this up so that we can test for equality without creating a whole new Trajectory instance?

[2022-09-08 12:31] #287 closed

[2022-09-09 16:11] matthew-blackman opened #288 "CODAP Wrapper: Add simulation state information to projectile launch and landing events"

[2022-10-10 17:04] zepumph opened #289 "Add to todo-should-have-issue lint rule"
@matthew-blackman and I would like this sim to be forced to have TODOs have issues. Let's make it happen!

[2022-10-10 17:12] matthew-blackman opened #290 "Establish rules for drawing/maintaining multiple trajectories"
Ideal behavior, independent of performance-related considerations

[2022-10-10 17:18] matthew-blackman opened #291 "Limit each trajectory to one projectile"
Create a new trajectory every time a new projecile is fired

[2022-10-10 19:37] zepumph commented on #289
@matthew-blackman has this change set committed locally, over to him to finish off the issue.

[2022-10-12 19:02] zepumph commented on #289
https://github.com/phetsims/chipper/commit/dc585fc3259347d24e1989e8812e4cf067d20d4d was committed but it didn't link back here, so I commented in the commit so that it was linked back here. I see that it added a repo called `'projectile-motion '`. Which included the space after it. So this isn't yet turned on. When I remove the space and lint, I still see 5 errors in the repo, presumably these hav

[2022-10-12 19:23] matthew-blackman opened #292 "Why limit trajectories?"
The sim is limiting the number of trajectories shown at one time. Is there a reason/need for this? Would like to discuss at design meeting.

[2022-10-12 19:25] zepumph commented on #292
Also noting that this is particularly pertinent because of our refactor to make a 1 to 1 of Trajectory and ProjectileObject (on said Trajectory) over in https://github.com/phetsims/projectile-motion/issues/291.

[2022-10-12 21:56] matthew-blackman opened #293 "Get projectile data to pass into CODAP PhET-IO wrapper efficiently"

[2022-10-14 16:34] matthew-blackman opened #294 "Send 'projectile hit target' data to CODAP wrapper"
@catherinecarter asked for boolean data in the CODAP wrapper for whether or not the projectile hit the target. This will allow for plotting binomial distributions / categorical data / law of large numbers.

Future discussion: Would it be useful to have data as the 'number of stars' (0, 1, 2, 3)? This could be processed within CODAP to a boolean, but would require an additional step.

[2022-10-19 21:15] zepumph commented on #294
From co-review with @matthew-blackman:

- [ ] Why do we need to pass the entire target into the Trajectory? What about instead just a bound function (or arrow function) like `scoreTrajectory( position, trajectory )`. Not sure we need the trajectory instance, but just a thought!
- [ ] It makes more sense for Trajectory.ts to serialize a value that is the same numerical system that Target is making,

[2022-10-19 21:23] catherinecarter commented on #294
It doesn't matter to me how (or when) the marker for whether the trajectory has hit the target is passed into CODAP, just whether the projectile has hit it, even when the target has moved.
A bonus would be to track how close the trajectory got to the target (the 0-3 rating), and it sounds like this is easier, so great!
It's ok if the rest (e.g., boolean) is done in the CODAP table by the user, alt

[2022-10-20 17:06] matthew-blackman opened #295 "Explore 'Cluster size' feature for Stats screen"
Looking at ways to add controls for the number of simultaneous projectiles launched in the 'Stats' screen.

[2022-10-20 17:18] matthew-blackman commented on #295
Just added a first prototype to bayes: [https://phet-dev.colorado.edu/html/projectile-motion/1.1.0-dev.21/phet/projectile-motion_en_phet.html](url)

[2022-10-20 17:34] catherinecarter commented on #295
I love how the number of projectiles can be changed - super neat. I have a couple of comments to open for discussion:

1.    The word, "cluster," is the name of a random sampling method in statistics and might confuse statistics students who are looking for "sample size." I will do some research about statistics language, and I'll also lean on you science people for vocab/language conventions abou

[2022-10-20 17:35] matthew-blackman opened #296 "When to delete landed projectiles?"
When should we be deleting landed projectiles? It is relevant that deleting large numbers of projectiles at the same time can cause performance slowdowns.

[2022-10-20 17:50] matthew-blackman commented on #295
1. We can workshop the name, but I think we should be looking for a neutral term to convey "the number of simultaneously launched projectiles". Sample size doesn't make sense to me - science teachers would not consider launching a cannon to be "sampling" anything, it's just launching a cannon.

[2022-10-20 17:51] matthew-blackman commented on #295
2. Let's try to avoid adding additional UI for what should be a single control. Perhaps a dropdown menu would work better? Groups of 5, 10, 15, 20, 25?

[2022-10-20 17:54] matthew-blackman commented on #295
3. This is very tricky because we are capturing the projectiles as they land, not as they are launched. How do you see this working?

[2022-10-20 18:17] matthew-blackman commented on #296
Yes that's right. I think the current version is okay, but if the user keeps clicking the blue 'fire multiple' button very quickly, the results can be a bit strange. Thoughts on this?

[2022-10-20 18:20] catherinecarter commented on #295
For #1 and 2, I like the idea of a slider (and neutral language as well):
![image](https://user-images.githubusercontent.com/109630002/197027141-c6ac64ec-9b32-4b59-941a-433e7de289e3.png)

A question for you: is it possible for a slider to snap at 1, 2, 5, and then by 5's after that? Or does it have to be a set increment? I don't know how that code works.

For #3, I'm not 100% sure how it would wor

[2022-10-20 18:24] catherinecarter commented on #296
Well, when I pressed the blue button multiple times (as quickly as I could), I definitely noticed some of the projectiles being deleted, but I was ok with it. I think we could include it as an interview question and see if users mention it as an awkward interaction (if we have interviews with students on this one, I don't know).

[2022-10-20 19:40] catherinecarter opened #297 "Order and naming of variables sent from the sim into the CODAP table"
Working to decide on what variables, in what order, and what to name them in the CODAP table (data sent from the projectile motion sim).
Here's the proposed order so far, but this is a work in progress.
<img width="215" alt="image" src="https://user-images.githubusercontent.com/109630002/197042300-81903510-9583-4b5f-bb46-3eba848b280a.png">

[2022-10-20 22:02] matthew-blackman opened #298 "Add 'rapid-fire' mode to 'Stats' screen"
Exploring ideas around rapid-fire mode to allow for the sim to auto-fire. Would be good for teacher demos and student discussions.

[2022-10-21 03:25] matthew-blackman opened #299 "Design UI for 'Stats' screen"
The UI for the stats screen is ready to be polished for a first prototype.

[2022-10-24 13:51] matthew-blackman commented on #294
Are we okay to close this issue?

[2022-10-24 15:24] matthew-blackman opened #300 "Include slider for Cannon Angle"
Should the cannon angle have a slider? This is likely good for accessibility purposes.